<div class="live-range-selector flexed">
    <div class="live-range-selector__date-filter-dropdown">
        <div class="ui-inputgroup">
            <label class="ui-inputgroup-addon" for="date-range-live">
                <i class="fa live-range-icon"
                   [ngClass]="liveRangeIconClass"
                   pTooltip="Refreshing every 10 seconds" tooltipPosition="bottom"></i>
                Live range
            </label>
            <p-dropdown [options]="dateRangeOptions" [(ngModel)]="liveRange"
                        (onChange)="onLiveRangeChange()"
                        inputId="date-range-live">
            </p-dropdown>
        </div>
    </div>
</div>
