h2 {
    .ui-button {
        font-size: 0.7em;
    }
}
label {
    font-weight: bold;
    display: block;
}
.scans__header {
    margin-bottom: 10px;

    .scans__date-filter {
        align-items: flex-end;
        margin-bottom: 10px;

        div {
            margin-right: 20px;
        }

        .scans__date-filter-btn, .scans__date-filter-dropdown {
            padding-top: 0;
            padding-bottom: 0;
        }

        .scans__date-filter-ranges, .scans__date-filter-dropdown {
            margin-left: 20px;

            button {
                margin-left: 3px;
            }
        }
    }
    .scans__controls {
        display: flex;
        flex-direction: column-reverse;
    }
}
.scans__table {
    .ui-button {
        font-size: .7em !important;
        padding: 0 !important;
    }

    .scan__selected {
        color: #999;
    }
}
.label-info {
    padding: .2em .6em .1em .6em;
}
::ng-deep .scans__error-tooltip.ui-tooltip {
    max-width: 50%;
}
::ng-deep .scans__name-filter {
    &.ui-inputtext {
        width: 90%;
    }
}

@media screen and (max-width: 858px) {
    .scans__date-filter-btn, .scans__date-filter-dropdown, .scans__date-filter-ranges {
        margin-left: 0 !important;
        padding: 0 !important;
    }

    .scans__date-filter-dropdown, .scans__date-filter-btn {
        margin-top: 5px !important;
        margin-right: 5px !important;
    }
}
