<h2>Source File Details</h2>
<a routerLink="/data/source-files">&lt; Source Files List</a>
<div *ngIf="sourceFile">
    <h3>
        {{sourceFile.file_name}}
        <a href="{{sourceFile.url}}" class="link-button" target="_blank"><i class="fa fa-download"></i>
            {{formatFilesize(sourceFile.file_size)}}</a>
    </h3>
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
        <div class="ui-grid-row">
            <div class="ui-grid-col-6">
                <h4>Details</h4>
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <td>Media Type:</td>
                        <td>{{sourceFile.media_type}}</td>
                    </tr>
                    <tr>
                        <td>Countries:</td>
                        <td>{{sourceFile.countries.join(', ')}}</td>
                    </tr>
                    <tr>
                        <td>Data Started:</td>
                        <td class="right" [innerHtml]="formatDate(sourceFile.data_started)"></td>
                    </tr>
                    <tr>
                        <td>Data Ended:</td>
                        <td class="right" [innerHtml]="formatDate(sourceFile.data_ended)"></td>
                    </tr>
                    <tr>
                        <td>Workspace:</td>
                        <td><a routerLink="/workspaces/{{sourceFile.workspace.id}}">{{sourceFile.workspace.name}}</a></td>
                    </tr>
                    <tr>
                        <td>Created:</td>
                        <td class="right" [innerHtml]="formatDate(sourceFile.created)"></td>
                    </tr>
                    <tr>
                        <td>Parsed:</td>
                        <td class="right" [innerHtml]="formatDate(sourceFile.parsed)"></td>
                    </tr>
                    <tr>
                        <td>Deleted:</td>
                        <td class="right" [innerHtml]="formatDate(sourceFile.deleted)"></td>
                    </tr>
                    <tr>
                        <td>Last Modified:</td>
                        <td class="right" [innerHtml]="formatDate(sourceFile.last_modified)"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="ui-grid-col-6">
                <h4>
                    Metadata
                    <button pButton type="button" label="View All" class="ui-button-info" [hidden]="metadataKeys.length <= 9"
                            (click)="showMetadata()"></button>
                </h4>
                <table class="table table-striped">
                    <tbody>
                    <tr class="map-event" *ngFor="let key of metadataKeys; let i = index"  [hidden]="i >= 9">
                        <td>{{ key }}</td>
                        <td>{{ sourceFile.meta_data[key] }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
