# Environment variables that must be set in Gitlab CI/CD Pipeline variables
# DOCKER_DEV_ORG
# DOCKER_DEV_PASS
# DOCKER_DEV_USER
# DOCKER_ORG
# DOCKER_PASS
# DOCKER_USER
# NGINX_IMAGE

variables:
  PROJECT_ID: 1746474
  GITLAB_BASE: https://gitlab.com/api/v4/projects
  DOCKER_IMAGE: docker:stable
  DIND_IMAGE: docker:dind
  IMAGE_PREFIX: scale-ui
  REGISTRY: docker.io
  
image: avatsaev/angular-chrome-headless



build_ui:
  stage: build
  tags:
    - linux
  cache:
    paths:
      - node_modules/
  before_script:
      - npm install
      - npm install -g @angular/cli
  script:
    - npm run builddev:prod
  artifacts:
    paths:
      - dist/developer
    expire_in: 1 day

test_ui:
  stage: build
  tags:
    - linux
  cache:
    paths:
      - node_modules/
  before_script:
    - npm install
    - npm install -g @angular/cli
  script:
    - npm run testdev:ci

build_docker:
  image: ${DOCKER_IMAGE}
  services:
    - ${DIND_IMAGE}
  stage: deploy
  tags:
    - docker
  script:
    - ./docker/build.sh
  only:
    - master
    - tags
    
trigger_build:
  stage: deploy
  script:
    - "curl -X POST -F token=${TOKEN} -F ref=master ${GITLAB_BASE}/${PROJECT_ID}/trigger/pipeline"
    
