dist: trusty
sudo: false
language: node_js
node_js:
- '8'
addons:
  chrome: stable
cache:
  directories:
  - "./node_modules"
before_install:
  - export NG_CLI_ANALYTICS=ci
install:
- npm install
- npm install -g @angular/cli
script:
- npm run lintdev
- npm run builddev:prod
