::ng-deep .node {
    cursor: pointer;
}

.chart-container {
    h2 {
        margin-bottom: 0;
    }
    min-height: 70vh;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;

    .node {
        .node__label {
            fill: #fff;

            .node__icon {
                font-family: FontAwesome;
            }
        }
    }
}

.job-type-interface {
    margin: 0 0 0 10px;

    h4 {
        margin: 0 0 5px 0;
        font-size: 1.2em;

        &.label {
            display: block;
        }
    }

    ::ng-deep .ui-datalist {
        margin-bottom: 15px;

        .ui-datalist-header {
            padding: 0.25em;
            text-align: left;
        }
    }

    .media-type-list {
        font-style: italic;
    }

    .recipe-io {
        border-bottom: 1px solid #e1e1e1;
        margin: 0 5px;

        button {
            font-size: 9px;
            top: -3px;
            padding: 0;
        }

        &:last-of-type {
            border: none;
        }

        .connections {
            h5 {
                font-size: 0.9em;
                margin: 0;
            }
            li {
                font-size: 0.8em;
            }

            margin: 7px 0;
            padding: 8px 5px 5px 5px;
            background: #f0f0f0;
            border-radius: 3px;
        }
    }

    .recipe-dependencies-container {
        button {
            font-size: 9px;
            top: -3px;
            padding: 0;
        }

        ::ng-deep .ui-datalist-content {
            padding-bottom: 15px;
        }

        .recipe-dependencies {
            margin-bottom: -15px;
        }
    }
}
