<div class="ui-g">
    <div class="ui-g-8 ui-lg-9 chart-container">
        <ngx-charts-directed-graph
            [legend]="showLegend"
            [links]="links"
            [nodes]="nodes"
            [scheme]="colorScheme"
            [orientation]="orientation"
            [curve]="curve"
            (select)="select($event)">

            <ng-template #defsTemplate>
                <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">
                    <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
                </svg:marker>
            </ng-template>

            <ng-template #nodeTemplate let-node>
                <svg:g class="node"
                       pTooltip="node.label"
                       tooltipPosition="'top'">
                    <svg:rect [attr.width]="node.width" [attr.height]="node.height" [attr.fill]="node.options.color"
                              [attr.stroke]="node.options.stroke" [attr.stroke-width]="3" />
                    <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.height / 2">{{ node.label }}</svg:text>
                </svg:g>
            </ng-template>

            <ng-template #linkTemplate let-link>
                <svg:g class="edge">
                    <svg:path
                        class="line"
                        stroke-width="2"
                        marker-end="url(#arrow)">
                    </svg:path>
                    <svg:text class="edge-label" text-anchor="middle">
                        <textPath
                            class="text-path"
                            [attr.href]="'#' + link.id"
                            [style.dominant-baseline]="link.dominantBaseline"
                            startOffset="50%">
                            {{ link.label }}
                        </textPath>
                    </svg:text>
                </svg:g>
            </ng-template>
        </ngx-charts-directed-graph>
    </div>
    <div class="ui-g-4 ui-lg-3 ui-g-nopad">
        <div class="job-type-interface" *ngIf="selectedJobType">
            <h4 class="label label-primary">{{ selectedJobType.title }} v{{ selectedJobType.version }}</h4>
            <p-dataList [value]="selectedJobType.job_type_interface.input_data">
                <p-header><strong>Inputs</strong></p-header>
                <ng-template let-input pTemplate="item">
                    <div class="ui-g ui-fluid recipe-io">
                        <div class="ui-g-12">
                            {{ input.name }} <span *ngIf="input.required">*</span>
                            <ul class="list-unstyled media-type-list">
                                <li *ngFor="let mediaType of input.media_types">{{ mediaType }}</li>
                            </ul>
                            <div class="connections" *ngIf="input.dependencies.length > 0">
                                <h5>Connections</h5>
                                <ul class="list-unstyled">
                                    <li *ngFor="let dependency of input.dependencies">
                                        <strong>{{ dependency.name }}</strong>.<em>{{ dependency.output }}</em>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataList>
            <p-dataList [value]="selectedJobType.job_type_interface.output_data">
                <p-header><strong>Outputs</strong></p-header>
                <ng-template let-output pTemplate="item">
                    <div class="ui-g ui-fluid recipe-io">
                        <div class="ui-g-12">
                            {{ output.name }} <span *ngIf="output.required">*</span>
                            <div class="media-type-list">{{ output.media_type }}</div>
                            <div class="connections" *ngIf="output.dependents.length > 0">
                                <h5>Connections</h5>
                                <ul class="list-unstyled">
                                    <li *ngFor="let dependent of output.dependents">
                                        <strong>{{ dependent.name }}</strong>.<em>{{ dependent.input }}</em>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataList>
        </div>
    </div>
</div>
