
<h2>Failure Rates</h2>

<div class="errordials">
    <div class="errordial">
        <h3>6 Hours</h3>
        <h4>{{this.failedJobs}} Failure(s) / {{this.totalJobs}} Total Job(s)</h4>
        <p-chart type="doughnut" [options]="chartConfig" [data]="data"></p-chart>
    </div>
    <div class="errordial">
        <h3>12 Hours</h3>
        <h4>{{this.failedJobs}} Failure(s) / {{this.totalJobs}} Total Job(s)</h4>
        <p-chart type="doughnut" [options]="chartConfig" [data]="data"></p-chart>
    </div>
    <div class="errordial">
        <h3>24 Hours</h3>
        <h4>{{this.failedJobs}} Failure(s) / {{this.totalJobs}} Total Job(s)</h4>
        <p-chart type="doughnut" [options]="chartConfig" [data]="data"></p-chart>
    </div>
</div>
