@import '../navbar.component.scss';
@import '../../../defaults/animations';

$subnav-height: 47px;

.blue-subnav {
    background: var(--scale-primary);
    background-image: linear-gradient(to bottom, var(--scale-primary), var(--subnav-dark));
    border-bottom: 1px solid var(--grey-90);
    box-shadow: $navshadow;
    color: var(--white);

    .subnav__link {
        border-left: 3px solid var(--navbar-dark);
        color: var(--white);
        text-decoration: none;
        transition: $default-transition;

        &:hover {
            background: rgba(var(--white), 0.05);
            border-left: 3px solid var(--white);
        }
    }

    h2 {
        color: var(--white);
        text-shadow: 1px 1px 7px (var(--scale-primary), 45%);
    }
}

.subnav {
    @extend .blue-subnav;

    display: flex;
    height: $subnav-height;
    min-height: $subnav-height;
    //padding: 2.0em 1.5em;

    ul {
        list-style-type: none;
        margin: 14px 0 0 0;
        padding: 0;

        li {
            display: inline-block;
            margin: 0 30px 0 0;

            a {
                padding: 8px 10px;
                text-decoration: none;
                color: var(--white);

                &:hover {
                    color: var(--black);
                }

                i {
                    margin-right: 5px;
                }
            }
        }
    }

    .subnav__header {
        position: relative;
        width: 32%;

        h2 {
            font-size: 36px;
            font-weight: bold;
            left: 1.0em;
            line-height: 1.25em;
            position: absolute;
            top: 0;
        }
    }

    .subnav__links {
        display: flex;
        flex: 1;
        flex-direction: column;
        padding: 0;

        h2 {
            margin: 20px 0 0 0;
            padding: 0;

            &:first-of-type {
                margin: 0;
            }
        }

        button {
            margin-bottom: 1.0em;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }
    }

    .subnav__link {
        display: inline-block;
        margin-bottom: 0.35em;
        padding: 0.5em;
    }
}

.processing {
    ul {
        margin-left: $navbar-item-width;
    }
}

.data {
    ul {
        margin-left: $navbar-item-width * 2;
    }
}

.configuration {
    ul {
        margin-left: $navbar-item-width * 3;
    }
}

.system {
    ul {
        margin-left: $navbar-item-width * 4;
    }
}

$subnav-bg-color: var(--subnav-light);

.subnav__header::before {
    color: $subnav-bg-color;
    font-family: FontAwesome;
    font-size: $subnav-height;
    font-style: normal;
    font-weight: normal;
    left: 0;
    margin: 15% 0 0 -15%;
    position: absolute;
    text-shadow: none;
    top: 0;
}

.subnav__header-processing::before {
    content: '\f085';
}

.subnav__header-data::before {
    content: '\f0a0';
}

.subnav__header-configuration::before {
    content: '\f0ad';
}

.subnav.hidden {
    display: none;
}

.subnav-ctr {
    left: 0;
    position: absolute;
    right: 0;
    top: $navbar-height - 1px;
    transition: all 0.35s ease-out;
    z-index: 100;
}

.subnav-ctr.hidden {
    top: -500px;
}
