<div [class]="getSubnavStyles()">
    <!-- Processing -->
    <div [class]="getSectionStyles('processing')">
        <ul>
            <li><a routerLink="/processing/jobs" (click)="navigate()"><i class="fa fa-cube"></i> Jobs</a></li>
            <li><a routerLink="/processing/recipes" (click)="navigate()"><i class="fa fa-cubes"></i> Recipes</a></li>
            <li><a routerLink="/processing/running-jobs" (click)="navigate()"><i class="fa fa-arrow-circle-right"></i> Running Jobs</a></li>
            <li><a routerLink="/processing/failure-rates" (click)="navigate()"><i class="fa fa-exclamation-triangle"></i> Job Failure Rates</a></li>
            <li><a routerLink="/processing/batches" (click)="navigate()"><i class="fa fa-files-o"></i> Batches</a></li>
        </ul>
    </div>

    <!-- Data -->
    <div [class]="getSectionStyles('data')">
        <ul>
            <li><a routerLink="/data/sources" (click)="navigate()"><i class="fa fa-file-text-o"></i> Sources</a></li>
            <li><a routerLink="/data/metrics" (click)="navigate()"><i class="fa fa-bar-chart"></i> Metrics</a></li>
        </ul>
    </div>

    <!-- Configuration -->
    <div [class]="getSectionStyles('configuration')">
        <ul>
            <li><a routerLink="/configuration/job-types" (click)="navigate()"><i class="fa fa-cube"></i> Job Types</a></li>
            <li><a routerLink="/configuration/job-types/edit/0" (click)="navigate()"><i class="fa fa-plus-circle"></i> Create Job Type</a></li>
            <li><a routerLink="/configuration/recipe-types" (click)="navigate()"><i class="fa fa-cubes"></i> Recipe Types</a></li>
        </ul>
    </div>
</div>
