<div [ngClass]="getSubnavStyles()" *ngIf='!isMobile'>
    <!-- Processing -->
    <div [ngClass]="getSectionStyles('processing')">
        <ul>
            <li><a routerLink="/processing/jobs" (click)="navigate()"><i class="fa fa-cube"></i> Jobs</a></li>
            <li><a routerLink="/processing/recipes" (click)="navigate()"><i class="fa fa-cubes"></i> Recipes</a></li>
            <li><a routerLink="/processing/running-jobs" (click)="navigate()"><i class="fa fa-arrow-circle-right"></i> Running Jobs</a></li>
            <li><a routerLink="/processing/queued-jobs" (click)="navigate()"><i class="fa fa-clock-o"></i> Queued Jobs</a></li>
            <li><a routerLink="/processing/job-type-history" (click)="navigate()"><i class="fa fa-history"></i> Job Type History</a></li>
            <li><a routerLink="/processing/batches" (click)="navigate()"><i class="fa fa-files-o"></i> Batches</a></li>
        </ul>
    </div>

    <!-- Data -->
    <div [ngClass]="getSectionStyles('data')">
        <ul>
            <li><a routerLink="/data/feed" (click)="navigate()"><i class="fa fa-line-chart"></i> Feed</a> </li>
            <li><a routerLink="/data/ingest" (click)="navigate()"><i class="fa fa-clone"></i> Ingest Records</a></li>
            <li><a routerLink="/data/metrics" (click)="navigate()"><i class="fa fa-bar-chart"></i> Metrics</a></li>
        </ul>
    </div>

    <!-- Configuration -->
    <div [ngClass]="getSectionStyles('configuration')">
        <ul>
            <li><a routerLink="/configuration/job-types" (click)="navigate()"><i class="fa fa-cube"></i> Job Types</a></li>
            <li><a routerLink="/configuration/recipe-types" (click)="navigate()"><i class="fa fa-cubes"></i> Recipe Types</a></li>
        </ul>
    </div>

    <!-- System -->
    <div [ngClass]="getSectionStyles('system')">
        <ul>
            <li><a routerLink="/system/nodes" (click)="navigate()"><i class="fa fa-circle-o"></i> Nodes</a></li>
            <li><a routerLink="/system/scans" (click)="navigate()"><i class="fa fa-barcode"></i> Scans</a></li>
            <li><a routerLink="/system/strikes" (click)="navigate()"><i class="fa fa-bolt"></i> Strikes</a></li>
            <li><a routerLink="/system/workspaces" (click)="navigate()"><i class="fa fa-database"></i> Workspaces</a></li>
        </ul>
    </div>
</div>
