<div class="job-types" *ngIf="!selectedJobTypeDetail">
    <div class="flexed space-between margin-bottom-sm">
        <div class="flexed">
            <h2><i class="fa fa-cube"></i> Job Types</h2>
            <p-menu #headerMenu [popup]="true" [model]="headerItems" appendTo="body"></p-menu>
            <button pButton type="button" class="ui-button-secondary job-type__menu" icon="fa fa-bars"
                    (click)="headerMenu.toggle($event)"></button>
        </div>
        <input type="search" pInputText placeholder="Search" class="job-type__filter" (keyup)="onFilterKeyup($event)">
    </div>
    <p-dataView [value]="jobTypes" [paginator]="true" [rows]="rows" [lazy]="true" [totalRecords]="totalRecords"
                (onLazyLoad)="onLazyLoad($event)" filterBy="value.title" layout="grid" [loading]="loadingJobTypes" #dv>
        <ng-template let-jobType pTemplate="gridItem">
            <div class="p-col-12 p-md-3 job-type__container">
                <p-panel>
                    <p-header>
                        <div class="flexed space-between">
                            <div>
                                <strong><span class="fa" [innerHTML]="getUnicode(jobType.value.icon_code)"></span> {{ jobType.label }}</strong>
                            </div>
                            <div>
                                <button pButton type="button" class="ui-button-secondary" [icon]="jobType.value.favoriteIcon" (click)="toggleFavorite(jobType.value.name, jobType.value.version)"></button>
                            </div>
                        </div>
                    </p-header>
                    <div class="clamp" (click)="onJobTypeClick($event, jobType)">
                        {{ jobType.value.description }}
                    </div>
                </p-panel>
            </div>
        </ng-template>
    </p-dataView>
</div>
<div class="job-type__details" *ngIf="selectedJobTypeDetail">
    <h2><i class="fa fa-cube"></i> Job Types</h2>
    <div *ngIf="selectedJobTypeDetail.manifest.seedVersion">
        <div class="p-grid">
            <div class="p-col-12">
                <p-panel>
                    <p-header class="job-type__title">
                        <div>
                            <strong>
                                <i class="fa" [innerHtml]="getUnicode(selectedJobTypeDetail.icon_code)"></i>
                                {{ selectedJobTypeDetail.manifest.job.title }} v{{selectedJobTypeDetail.manifest.job.jobVersion }}
                                <span class="label label-paused" *ngIf="selectedJobTypeDetail.is_paused">Paused</span>
                            </strong>
                        </div>
                        <div>
                            <p-menu #menu [popup]="true" [model]="items" appendTo="body"></p-menu>
                            <button pButton type="button" class="ui-button-secondary" icon="fa fa-bars"
                                    (click)="menu.toggle($event)"></button>
                        </div>
                    </p-header>
                    <div class="p-grid">
                        <div class="p-col-8">
                            <div class="margin-bottom-md">
                                <strong>Author: </strong> {{ selectedJobTypeDetail.manifest.job.maintainer.name }}<br />
                                {{ selectedJobTypeDetail.manifest.job.description }}
                            </div>
                        </div>
                        <div class="p-col-4">
                            <dl class="dl-horizontal">
                                <dt *ngIf="selectedJobTypeDetail.created">Created:</dt>
                                <dd *ngIf="selectedJobTypeDetail.created" [pTooltip]="selectedJobTypeDetail.createdTooltip">{{ selectedJobTypeDetail.createdDisplay }}</dd>
                                <dt *ngIf="selectedJobTypeDetail.last_modified">Last Modified:</dt>
                                <dd *ngIf="selectedJobTypeDetail.last_modified" [pTooltip]="selectedJobTypeDetail.lastModifiedTooltip">{{ selectedJobTypeDetail.lastModifiedDisplay }}</dd>
                                <dt *ngIf="selectedJobTypeDetail.deprecated">Deprecated:</dt>
                                <dd *ngIf="selectedJobTypeDetail.deprecated">{{ selectedJobTypeDetail.deprecated }}</dd>
                                <dt *ngIf="selectedJobTypeDetail.cpus">CPUs:</dt>
                                <dd *ngIf="selectedJobTypeDetail.cpus">{{ selectedJobTypeDetail.cpus }}</dd>
                                <dt *ngIf="selectedJobTypeDetail.mem">Memory:</dt>
                                <dd *ngIf="selectedJobTypeDetail.mem">{{ selectedJobTypeDetail.mem }}</dd>
                                <dt *ngIf="selectedJobTypeDetail.disk">Disk:</dt>
                                <dd *ngIf="selectedJobTypeDetail.disk">{{ selectedJobTypeDetail.disk }}</dd>
                                <dt *ngIf="selectedJobTypeDetail.docker_image">Docker Image:</dt>
                                <dd *ngIf="selectedJobTypeDetail.docker_image">{{ selectedJobTypeDetail.docker_image }}</dd>
                                <dt *ngIf="selectedJobTypeDetail.configuration.priority">Priority:</dt>
                                <dd *ngIf="selectedJobTypeDetail.configuration.priority">{{ selectedJobTypeDetail.configuration.priority }}</dd>
                                <dt *ngIf="selectedJobTypeDetail.manifest.job.timeout">Timeout:</dt>
                                <dd *ngIf="selectedJobTypeDetail.manifest.job.timeout">{{ selectedJobTypeDetail.manifest.job.timeout }} seconds</dd>
                                <dt *ngIf="selectedJobTypeDetail.is_system">System Type:</dt>
                                <dd *ngIf="selectedJobTypeDetail.is_system">{{ selectedJobTypeDetail.is_system }}</dd>
                                <dt *ngIf="selectedJobTypeDetail.is_active">Active:</dt>
                                <dd *ngIf="selectedJobTypeDetail.is_active">{{ selectedJobTypeDetail.is_active }}</dd>
                                <dt *ngIf="selectedJobTypeDetail.is_paused">Paused:</dt>
                                <dd *ngIf="selectedJobTypeDetail.is_paused">{{ selectedJobTypeDetail.is_paused }}</dd>
                                <dt *ngIf="selectedJobTypeDetail.paused">Paused Date:</dt>
                                <dd *ngIf="selectedJobTypeDetail.paused">{{ selectedJobTypeDetail.paused }}</dd>
                            </dl>
                        </div>
                        <div [ngClass]="interfaceClass" *ngIf="selectedJobTypeDetail.manifest.job.interface">
                            <p-card header="Interface">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <td>Command</td>
                                        <td>{{ selectedJobTypeDetail.manifest.job.interface.command }}</td>
                                    </tr>
                                    <tr>
                                        <td>Input Data</td>
                                        <td>
                                            <table class="table table-striped">
                                                <thead>
                                                <th style="width: 50%">Name</th>
                                                <th style="width: 50%">Media Types</th>
                                                </thead>
                                                <tbody>
                                                <tr *ngFor="let file of selectedJobTypeDetail.manifest.job.interface.inputs.files">
                                                    <td>{{ file.name }} <span *ngIf="file.required">*</span></td>
                                                    <td>{{ file.mediaTypes }}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Output Data</td>
                                        <td>
                                            <table class="table table-striped">
                                                <thead>
                                                <th style="width: 50%">Name</th>
                                                <th style="width: 50%">Media Type</th>
                                                </thead>
                                                <tbody>
                                                <tr *ngFor="let file of selectedJobTypeDetail.manifest.job.interface.outputs.files">
                                                    <td>{{ file.name }} <span *ngIf="file.required">*</span></td>
                                                    <td>{{ file.mediaType }}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </p-card>
                        </div>
                        <div [ngClass]="errorClass" *ngIf="selectedJobTypeDetail.manifest.job.errors">
                            <p-card header="Errors">
                                <table class="table table-striped">
                                    <thead>
                                    <th>Code</th>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th>Category</th>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let error of selectedJobTypeDetail.manifest.job.errors">
                                        <td>{{ error.code }}</td>
                                        <td>{{ error.title }}</td>
                                        <td>{{ error.description }}</td>
                                        <td>{{ error.category }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </p-card>
                        </div>
                    </div>
                </p-panel>
            </div>
        </div>
    </div>
    <div *ngIf="!selectedJobTypeDetail.manifest.seedVersion">
        <div class="p-grid">
            <div class="p-col-10">
                <p-scrollPanel styleClass="scale-panel">
                    <div class="scale-panel__title job-type__title-container">
                        <div class="ui-panel-title">
                            <div class="p-grid">
                                <div class="p-col-12">
                                    <span class="job-type__title">
                                        <i class="fa" [innerHtml]="getUnicode(selectedJobTypeDetail.icon_code)"></i>
                                        {{ selectedJobTypeDetail.title }} v{{selectedJobTypeDetail.version }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="scale-panel__body">
                        <div class="p-grid">
                            <div class="p-col-12">
                                This job type is incompatible with Seed. <a href="http://seed-spec.nga.wpafb.ic.gov/" target="_blank">Learn more</a>
                            </div>
                        </div>
                    </div>
                </p-scrollPanel>
            </div>
        </div>
    </div>
    <p-dialog [(visible)]="scanDisplay" [modal]="true" [dismissableMask]="true" (onHide)="onScanHide()">
        <p-header>
            <strong>Scan</strong>
        </p-header>
        Select a workspace to scan<br />
        <div class="job-type__scan">
            <p-dropdown [options]="workspaces" [(ngModel)]="selectedWorkspace" appendTo="body" [style]="{'width':'300px'}"
                        placeholder="Select..." [showClear]="false"></p-dropdown>
            <button pButton type="button" label="Scan" [icon]="scanBtnIcon" [disabled]="!selectedWorkspace"
                    (click)="scanWorkspace()"></button>
        </div>
        <p-progressBar [value]="scanProgress" *ngIf="scanProgress > 0"></p-progressBar>
    </p-dialog>
</div>
