.job-type__create {
    label {
        font-weight: bold;
        display: block;
        margin: 0 0 10px 0;

        input, textarea, select {
            display: block;
            width: 100%;
        }
    }

    h2, h3 {
        margin: 10px 0 0 0;
        padding: 0;
    }

    .job-type__configuration {
        margin: 0 0 10px 0;
    }

    .job-type__title {
        font-weight: bold;
    }

    .job-type__manifest {
        padding: 0.6em 0.6em 0 0.6em;
    }

    .job-type__key-value-form {
        label {
            margin: 0 8px 0 0;
            display: inline-block;

            input {
                display: inline-block;
                width: auto;
            }

        }
    }

    ::ng-deep {
        .CodeMirror {
            color: var(--main-text);
        }
        .seed-jobs .results .result-header {
            color: var(--black);
        }
        .seed-jobs .job-details .code pre {
            color: var(--main-text);
            background: var(--pre-background) !important;
        }
    }
}
