<h2><i class="fa fa-cube"></i> {{ mode }} Job Type</h2>
<div class="job-type__create">
    <form [formGroup]="createForm" (ngSubmit)="createForm.value" *ngIf="jobType">
        <p-panel>
            <p-header>
                <div class="flexed space-between">
                    <span class="job-type__title" *ngIf="jobType.manifest">{{ jobType.manifest.job.title }}</span>
                    <span class="job-type__title" *ngIf="!jobType.manifest">New Job Type</span>
                    <button pButton [ngClass]="jsonModeBtnClass" class="mode-button" type="button" label="JSON Mode" icon="fa fa-code"
                            iconPos="left" (click)="onModeClick()"></button>
                </div>
            </p-header>
            <div *ngIf="jsonMode">
                <ngx-codemirror [(ngModel)]="jobTypeJson" [options]="jsonConfig" [ngModelOptions]="{standalone: true}"></ngx-codemirror>
            </div>
            <div class="p-grid" [hidden]="jsonMode">
                <div class="p-col-2">
                    <p-steps [model]="items" [readonly]="false" [activeIndex]="currentStepIdx" (activeIndexChange)="handleStepChange($event)"></p-steps>
                </div>
                <div class="p-col-10" *ngIf="currentStepIdx === 0">
                    <seed-images [environment]="env" (imageImport)="onImageImport($event)" *ngIf="!jobType.manifest"></seed-images>
                    <div class="margin-top-lg" *ngIf="jobType.manifest">
                        <p-card>
                            <p-header>
                                <div class="flexed space-between ui-card-title job-type__manifest">
                                    <div>
                                        {{ jobType.manifest.job.title }} v{{ jobType.manifest.job.jobVersion }}
                                    </div>
                                    <button pButton class="ui-button-danger margin-bottom-md" icon="fa fa-remove" pTooltip="Remove Seed Image"
                                            tooltipPosition="left" (click)="onImageRemove()"></button>
                                </div>
                            </p-header>
                            {{ jobType.manifest.job.description }}
                            <ul class="list-unstyled">
                                <li><strong>Maintainer:</strong> {{ jobType.manifest.job.maintainer.name }}</li>
                                <li *ngIf="jobType.manifest.job.maintainer.organization">
                                    <strong>Organization:</strong> {{ jobType.manifest.job.maintainer.organization }}
                                </li>
                                <li *ngIf="jobType.manifest.job.maintainer.email">
                                    <strong>Email:</strong> {{ jobType.manifest.job.maintainer.email }}
                                </li>
                                <li *ngIf="jobType.manifest.job.maintainer.phone">
                                    <strong>Phone:</strong> {{ jobType.manifest.job.maintainer.phone }}
                                </li>
                            </ul>
                        </p-card>
                    </div>
                </div>
                <div class="p-col-10" *ngIf="currentStepIdx === 1">
                    <div class="p-grid">
                        <div class="p-col-6">
                            Select an icon which will be used to represent this job type in Scale.
                            <p-listbox [options]="icons" formControlName="icon" filter="filter" (onChange)="selectIcon()"
                                       [style]="{'width':'100%','max-height':'300px','overflow':'auto','margin-top':'10px'}">
                                <ng-template let-icon pTemplate="item">
                                    <div class="ui-helper-clearfix" *ngIf="icon.label">
                                        <span class="fa fa-fw {{ icon.label }}"></span> {{ icon.label.replace('fa-','') }}
                                    </div>
                                </ng-template>
                            </p-listbox>
                        </div>
                    </div>
                </div>
                <div class="p-col-10 validate-and-create" *ngIf="currentStepIdx === 2">
                    <div *ngIf="jobType.manifest">
                        <h3>
                            <i class="fa" *ngIf="jobType.icon_code && jobType.icon_code !== ''"
                               [innerHTML]="this.getUnicode(this.jobType.icon_code)"></i>
                            {{ jobType.manifest.job.title }} v{{ jobType.manifest.job.jobVersion }}
                        </h3>
                        <button class="ui-button-secondary" pButton icon="fa fa-check" label="Validate"
                                (click)="onValidate()" *ngIf="!validated"></button>
                        <button class="ui-button-primary" pButton icon="fa fa-arrow-right" [label]="mode"
                                (click)="onSubmit()" *ngIf="validated && !submitted"></button>
                        <a class="ui-button-success" pButton icon="fa fa-arrow-circle-right" label="View Job Type"
                           routerLink="/configuration/job-types/{{ modifiedJobTypeName }}/{{ modifiedJobTypeVersion }}"
                           *ngIf="submitted && modifiedJobTypeName && modifiedJobTypeVersion"></a>
                    </div>
                    <!--<div class="p-grid">-->
                    <!--<div class="p-col-2">-->
                    <!--<button class="create-form-btn" pButton icon="fa-check" label="Validate"></button>-->
                    <!--</div>-->
                    <!--<div class="p-col-2">-->
                    <!--<button class="create-form-btn" pButton icon="fa-arrow-circle-o-up" label="Create"></button>-->
                    <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
        </p-panel>
        <!-- <div style="text-align:center;margin-top:20px" *ngIf="submitted">
            Form Submitted
            <br>
            {{diagnostic}}
        </div> -->
    </form>
</div>
