.job-type__create {
    .job-type__title {
        font-weight: bold;
    }

    .job-type__manifest {
        border: 1px solid var(--off-white);

        h3 {
            margin: 0;
        }
    }
}
