h2 {
    .ui-button {
        font-size: 0.7em;
    }
}
label {
    font-weight: bold;
    display: block;
}
.ingest__header {
    margin-bottom: 10px;
    align-items: flex-end;
    margin-bottom: 10px;
}
.ingest__table {
    .ui-button {
        font-size: .7em !important;
        padding: 0 !important;
    }

    .ingest__selected {
        color: #999;
    }
}
.label-info {
    padding: .2em .6em .1em .6em;
}
::ng-deep .ingest__error-tooltip.ui-tooltip {
    max-width: 50%;
}
::ng-deep .ingest__name-filter {
    &.ui-inputtext {
        width: 90%;
    }
}

@media screen and (max-width: 858px) {
    .ingest__date-filter-btn, .ingest__date-filter-dropdown, .ingest__date-filter-ranges {
        margin-left: 0 !important;
        padding: 0 !important;
    }

    .ingest__date-filter-dropdown, .ingest__date-filter-btn {
        margin-top: 5px !important;
        margin-right: 5px !important;
    }
}
