<div class="ingest__details" *ngIf="ingest">
    <p-panel>
        <p-header>
            {{ ingest.file_name }}
            <i class="fa fa-fw fa-square" [ngClass]="ingest.statusClass" (mouseenter)="showStatus(status, $event)"
               (mouseleave)="hideStatus(status)"></i>
        </p-header>
        <table class="table table-striped">
            <tbody>
            <tr>
                <td>Job</td>
                <td><a routerLink="/processing/jobs/{{ ingest.job.id }}/">{{ ingest.job.id }}</a></td>
            </tr>
            <tr>
                <td>Media Type</td>
                <td>{{ ingest.media_type }}</td>
            </tr>
            <tr>
                <td>File Size</td>
                <td>{{ ingest.fileSizeFormatted }}</td>
            </tr>
            <tr>
                <td>Data Transferred</td>
                <td>{{ ingest.bytesTransferredFormatted }}</td>
            </tr>
            <tr>
                <td>Ingest Started</td>
                <td>
                    <span pTooltip="{{ ingest.ingestStartedTooltip }}">
                        {{ ingest.ingestStartedDisplay }}
                    </span>
                </td>
            </tr>
            <tr>
                <td>Ingest Ended</td>
                <td>
                    <span pTooltip="{{ ingest.ingestEndedTooltip }}">
                        {{ ingest.ingestEndedDisplay }}
                    </span>
                </td>
            </tr>
            <tr>
                <td>Transfer Started</td>
                <td>
                    <span pTooltip="{{ ingest.transferStartedTooltip }}">
                        {{ ingest.transferStartedDisplay }}
                    </span>
                </td>
            </tr>
            <tr>
                <td>Transfer Ended</td>
                <td>
                    <span pTooltip="{{ ingest.transferEndedTooltip }}">
                        {{ ingest.transferEndedDisplay }}
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </p-panel>
    <p-overlayPanel #status appendTo="body">
        <strong>{{ ingestStatus }}</strong>
    </p-overlayPanel>
</div>
