<div class="system-status">
    <h2><i class="fa fa-bell"></i> System Status</h2>
    <h3>Dependencies</h3>
    <p-accordion [multiple]="true" *ngIf="statuses">
        <p-accordionTab *ngFor="let status of statuses">
            <p-header>
                <span><i [class]="status.styleClass" [ngClass]='status.icon'></i> {{ status.title }} - {{ status.description }}</span>
            </p-header>
            <!-- <strong>Message:</strong> -->
            {{ status.description }}
            <div *ngIf="status.details.queue_depth >= 0">
                <strong>Queue Depth:</strong>
                {{ status.details.queue_depth }}
            </div>
            <div *ngIf="status.details.num_message_handlers >= 0">
                <strong>Number of Message Handlers:</strong>
                {{ status.details.num_message_handlers }}
            </div>
            <div *ngIf="status.warnings.length > 0">
                <i class="system-status__unhealthy fa fa-warning" [ngClass]=''></i><strong> Warnings:</strong>
                <ul *ngFor="let warning of status.warnings">
                    <li>
                        <strong>{{ warning.warningType }}</strong><br/>
                        <span *ngIf="warning.warningMessage">{{ warning.warningMessage}}<br/></span>
                    </li>
                </ul>
            </div>
            <div *ngIf="status.ok === false">
                <i [class]="status.styleClass" [ngClass]='status.icon'></i><strong> Errors:</strong>
                <ul *ngFor="let error of status.errors">
                    <li>
                        <strong>{{ error.errorType }}</strong><br/>
                        <span *ngIf="error.errorMessage">{{ error.errorMessage}}<br/></span>
                    </li>
                </ul>
            </div>
        </p-accordionTab>
    </p-accordion>
</div>
