<div class="navbar-ctr">
    <div class="navbar" (click)="selectNavItem($event, null)">

        <div class="navbar__logo">
            <a routerLink="/">
                <app-logo></app-logo>
            </a>
        </div>

        <div [class]="getNavItemStyles('processing')">
            <a (click)="selectNavItem($event, 'processing')">Processing</a>
        </div>
        <div [class]="getNavItemStyles('data')">
            <a (click)="selectNavItem($event, 'data')">Data</a>
        </div>
    </div>
    <div class="navbar__status">
        <app-status></app-status>
    </div>
</div>
<app-subnav [sectionId]="selectedId" (onNavigate)="onNavigate($event)"></app-subnav>

<!--
// job types === algorithms
Jobs - crud job types
Recipes - arrange job types (algorithms)
Data - search for products, source files
Metrics - dashboard
-->
