@import '../../defaults/colors';

$navbar-transition: all 0.35s ease-out;
$navbar-height: 85px;
$navshadow: 0 0 0.5em $clr-black;

.navbar-ctr {
    height: $navbar-height;
}

.navbar {
    align-items: stretch;
    background: $clr-navbar-dark;
    box-shadow: $navshadow;
    display: flex;
    height: $navbar-height;
    justify-content: flex-start;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1001;
}

.navbar__item {
    border-left: 1px solid $clr-navbar-light;
    display: flex;
    justify-content: center;

    a {
        color: $clr-gray-75;
        padding: 2.0em 1.0em;
        text-align: center;
        text-decoration: none;
        text-shadow: 0 1px 0 $clr-navbar-dark;
        transition: $navbar-transition;
        width: 85px;

        &:hover {
            background: $clr-navbar-light;
            color: $clr-white;
        }
    }

    &:last-child {
        border-right: 1px solid $clr-navbar-light;
    }
}

.gray-navitem {
    background: $clr-gray-90;
    color: $clr-black;
    text-shadow: 0 1px 0 $clr-white;

    &:hover {
        background: $clr-gray-90;
        color: $clr-black;
        text-shadow: 0 1px 0 $clr-white;
    }
}

.blue-navitem {
    background: $clr-scale-blue2;
    color: $clr-white;
    text-shadow: 0 1px 0 $clr-black;

    &:hover {
        background: $clr-scale-blue2;
        color: $clr-white;
        text-shadow: 0 1px 0 $clr-black;
    }
}

.navbar__item-selected {
    @extend .navbar__item;

    a {
        @extend .blue-navitem;
    }
}

.navbar__logo {
    color: $clr-scale-blue1;
    margin-right: 1.0em;
    padding: 0.5em 1.25em;
    text-align: center;

    a {
        color: $clr-scale-blue1;
        text-decoration: none;
    }
}
