@charset "utf-8";

// Libraries
@import '~normalize.css/normalize';

// Defaults
@import './defaults/mixins';
@import './defaults/animations';
@import './defaults/tags';
@import './defaults/typography';

// Overrides
@import './defaults/overrides';

// Components & Pages loaded separately
$transparent-running: transparentize(#529D39, 0.65);

.app {
    background: var(--background);
    color: var(--main-text);
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.blocked {
    background: var(--status-blocked) !important;
}

.blocked-text {
    color: var(--status-blocked);
}

.canceled {
    background: var(--status-canceled) !important;
}

.canceled-text {
    color: var(--status-canceled);
}

.column-filter {
    width: 100%;
}

.mobile-filter {
    margin-top: 20px;
    margin-left: 20px;
}
.completed {
    background: var(--status-completed) !important;
}

.completed-text {
    color: var(--status-completed);
}

.content {
    flex: 1;
    padding: 1.0em 2.0em;
}

.dialog-content {
    padding: 0 0 10px 10px;

    h4 {
        margin: 0 0 5px 0;
        font-size: 1.2em;

        &.label {
            display: block;
        }
    }
}

.dl-horizontal {
    dt {
        float: left;
        width: 160px;
        clear: left;
        text-align: right;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: bold;
    }
    dd {
        margin-left: 180px;
    }
}

.error-text {
    color: var(--label-text-danger);
}

.failed {
    background: var(--status-failed) !important;
}

.failed-text {
    color: var(--status-failed);
}

.flexed {
    display: flex !important;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;

    &.space-between {
        justify-content: space-between;
    }

    &.center {
        justify-content: center;
    }

    &.flex-end {
        justify-content: flex-end;
    }

    &.inline {
        display: inline-flex;
    }
}

.free {
    background: var(--status-free) !important;
}

.free-text {
    color: var(--status-free);
}

.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: var(--grey-45);
    font-weight: normal;
}

.inset {
    position: absolute;
    top: 10px;
    right: 10px;
}

.label {
    display: inline;
    padding: .2em .6em .2em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: var(--label-text);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;

    &:empty {
        display: none;
    }
}

.label-algorithm {
    background-color: var(--status-algorithm);
}

.label-danger {
    background-color: var(--label-text-danger);
}

.label-danger[href]:focus, .label-danger[href]:hover {
    background-color: var(--label-text-danger-hover);
}

.label-data {
    background-color: var(--status-data);
}

.label-default {
    background-color: var(--label-text-default);
}

.label-default[href]:focus, .label-default[href]:hover {
    background-color: var(--label-text-default-hover);
}

.label-degraded {
    background-color: var(--label-degraded);
}

.label-deprecated {
    background-color: var(--label-deprecated);
}

.label-image_pull {
    background-color: var(--label-image-pull);
}

.label-info {
    background-color: var(--label-text-info);
}

.label-initial_cleanup {
    background-color: var(--label-initial-cleanup);
}

.label-info[href]:focus, .label-info[href]:hover {
    background-color: var(--label-text-info-hover);
}

.label-job-type {
    background-color: var(--label-job-type);
    color: #555;
}

.label-offline {
    background-color: var(--label-offline);
}

.label-paused {
    background-color: var(--label-paused);
}

.label-primary {
    background-color: var(--label-text-primary);
}

.label-primary[href]:focus, .label-primary[href]:hover {
    background-color: var(--label-text-primary-hover);
}

.label-ready {
    background-color: var(--label-ready);
}

.label-recipe-type {
    background-color: var(--label-recipe-type);
    color: #555;
}

.label-scheduler_stopped {
    background-color: var(--label-scheduler-stopped);
}

.label-success {
    background-color: var(--label-text-success);
}

.label-success[href]:focus, .label-success[href]:hover {
    background-color: var(--label-text-success-hover);
}

.label-system {
    background-color: var(--status-system);
}

.label-warning {
    background-color: var(--label-text-warning);
}

.label-warning[href]:focus, .label-warning[href]:hover {
    background-color: var(--label-text-warning-hover);
}

.link-button {
    background: var(--scale-secondary-light);
    color: var(--white);
    padding: 7px;
    border-radius: 3px;
    text-decoration: none;
}

.list-unstyled {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.margin-bottom-lg {
    margin-bottom: 20px;
}

.margin-bottom-md {
    margin-bottom: 10px;
}

.margin-bottom-sm {
    margin-bottom: 5px;
}


.margin-left-lg {
    margin-left: 20px;
}

.margin-left-md {
    margin-left: 10px;
}

.margin-left-sm {
    margin-left: 5px;
}

.margin-right-lg {
    margin-right: 20px;
}

.margin-right-md {
    margin-right: 10px;
}

.margin-right-sm {
    margin-right: 5px;
}

.margin-top-lg {
    margin-top: 20px;
}

.margin-top-md {
    margin-top: 10px;
}

.margin-top-sm {
    margin-top: 5px;
}

.no-margin {
    margin: 0 !important;
}

.offered {
    background: var(--status-offered) !important;
}

.offered-text {
    color: var(--status-offered);
}

.pending {
    background: var(--status-pending) !important;
}

.pending-text {
    color: var(--status-pending);
}

.queued {
    background: var(--status-queued) !important;
}

.queued-text {
    color: var(--status-queued);
}

.relative {
    position: relative;
}

.required {
    &:after {
        color: var(--label-text-danger);
        content: " *";
    }
}

.running {
    background: var(--status-running) !important;
}

.running-text {
    color: var(--status-running);
}

.scale-chart-container {
    position: relative;
}

.scale-loading {
    background: rgba(73, 73, 73, 0.502);
}

.scale-tab-header {
    background: var(--navbar-dark);

    a {
        color: var(--navbar-text);
    }
}

.small-text {
    font-size: 10px;
}

.table {
    width: 100%;
    border-collapse: collapse;

    thead {
        th {
            text-align: left;
            padding: 5px !important;
        }
    }

    tbody td {
        padding: 5px !important;
    }
}

.table-bordered {
    border: 1px solid #ececec;
}

.table-striped {
    tbody tr:nth-child(odd) {
        background-color: var(--table-striped-odd);
    }
    tbody tr:nth-child(even) {
        background-color: var(--table-striped-even);
    }
}

.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.throb-background {
    animation-name: throb-background;
}

.throb-svg {
    animation-name: throb-svg;
}

.throb-text {
    animation-name: throb-text;
}

.throb-text, .throb-background, .throb-svg {
    animation-duration: 0.6s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}

.ui-button-accept {
    background-color: var(--green) !important;
    border: 1px solid var(--green) !important;
}

.ui-button-degraded {
    background-color: var(--label-degraded) !important;
    border: 1px solid var(--label-degraded) !important;
}

.ui-button-deprecated {
    background-color: var(--label-deprecated) !important;
    border: 1px solid var(--label-deprecated) !important;
}

.ui-button-image-pull {
    background-color: var(--label-image-pull) !important;
    border: 1px solid var(--label-image-pull) !important;
}

.ui-button-initial-cleanup {
    background-color: var(--label-initial-cleanup) !important;
    border: 1px solid var(--label-initial-cleanup) !important;
}

.ui-button-offline {
    background-color: var(--label-offline) !important;
    border: 1px solid var(--label-offline) !important;
}

.ui-button-paused {
    background-color: var(--label-paused) !important;
    border: 1px solid var(--label-paused) !important;
}

.ui-button-ready {
    background-color: var(--label-ready) !important;
    border: 1px solid var(--label-ready) !important;
}

.ui-button-reject {
    background-color: var(--red) !important;
    border: 1px solid var(--red) !important;
}

.ui-button-scheduler-stopped {
    background-color: var(--label-scheduler-stopped) !important;
    border: 1px solid var(--label-scheduler-stopped) !important;
}

.ui-panel-danger {
    .ui-panel-titlebar {
        background-color: var(--label-text-danger) !important;
    }
}

.ui-panel-danger, .ui-panel-primary {
    .ui-panel-titlebar {
        padding: .5em 1.25em .5em 1em !important;

        .ui-panel-title {
            color: var(--white) !important;
            font-weight: bold;
        }
    }
}

.ui-panel-primary {
    .ui-panel-titlebar {
        background-color: var(--label-text-primary) !important;
    }
}

.unavailable {
    background: var(--status-unavailable) !important;
}

.unavailable-text {
    color: var(--status-unavailable);
}

.warning-text {
    color: var(--label-text-warning);
}

.txt-field-error {
    .angular-utc-datepicker_input {
        background-color: pink;
    }
}

.txt-field-inactive {
    .angular-utc-datepicker_input {
        background-color: lightgrey;
    }
}


::ng-deep .ui-dialog {
    width: 500px;

    .ui-dialog-content {
        padding: 12px 12px 0 0 !important;
    }
}

@keyframes throb-background {
    0% {
        background-color: var(--status-running);
    }
    100% {
        background-color: $transparent-running;
    }
}

@keyframes throb-text {
    0% {
        color: var(--status-running);
    }
    100% {
        color: $transparent-running;
    }
}

@keyframes throb-svg {
    0% {
        fill: var(--status-running);
    }
    100% {
        fill: $transparent-running;
    }
}
