@charset "utf-8";

// Libraries
@import '~normalize.css/normalize';

// Defaults
@import './defaults/animations';
@import 'environments/environment';
@import './defaults/primeng-theme';
@import './defaults/tags';
@import './defaults/typography';

// Overrides
@import './defaults/overrides';

// Components & Pages loaded separately

dl {
    margin-top: 0;
    margin-bottom: 20px;

    dt, dd {
        line-height: 1.42857143;
    }

    dt {
        font-weight: bold;
    }

    dd {
        margin: 0 0 10px 0;
    }
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    word-break: break-all;
    word-wrap: break-word;
    color: #333333;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.nodes__dataview {
    .ui-dataview-header {
        .ui-button-secondary {
            background-color: #ccc !important;
            border: 1px solid #ccc !important;
        }
    }

    .ui-dataview-content {
        padding-top: 15px !important;
        padding-bottom: 15px !important;
    }

    .ui-panel-titlebar {
        padding: 0.2em 0.5em !important;
    }

    .ui-panel-titlebar-toggler {
        display: none !important;
    }

    .node__paused {
        .ui-panel-titlebar {
            background: $clr-paused;
            color: #fff;
        }
    }
}

.node__errors, .node__warnings {
    &.ui-dialog {
        width: 33vw !important;
    }
    .ui-dialog-titlebar {
        color: #fff !important;

        .ui-dialog-titlebar-icon {
            color: #fff !important;
        }
    }
}

.node__errors {
    .ui-dialog-titlebar {
        background: $clr-label-danger !important;
    }
}

.node__warnings {
    .ui-dialog-titlebar {
        background: $clr-label-warning !important;
    }
}

.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
    font-weight: normal;
}

.throb-text, .throb-background, .throb-svg {
    animation-duration: 0.6s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}

.throb-text {
    animation-name: throb-text;
}

.throb-background {
    animation-name: throb-background;
}

.throb-svg {
    animation-name: throb-svg;
}

@keyframes throb-text {
    0% {
        color: $clr-status-running;
    }
    100% {
        color: transparentize($clr-status-running, 0.65);
    }
}

@keyframes throb-background {
    0% {
        background-color: $clr-status-running;
    }
    100% {
        background-color: transparentize($clr-status-running, 0.65);
    }
}

@keyframes throb-svg {
    0% {
        fill: $clr-status-running;
    }
    100% {
        fill: transparentize($clr-status-running, 0.65);
    }
}

h2:first-of-type {
    margin: 3px 0;
}

a:not(.ui-button, .ui-paginator) {
    color: $clr-blue-lgt;

    &:hover {
        color: $clr-blue-drk;
    }
}

.column-filter {
    width: 100%;
}

.scale-tab-header {
    background: $clr-navbar-dark;

    a {
        color: $clr-navbar-text;
    }
}

.scale-chart-container {
    position: relative;
}

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
}

.list-unstyled {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.link-button {
    background: $clr-blue-lgt;
    color: $clr-white;
    padding: 7px;
    border-radius: 3px;
    text-decoration: none;
}

.flexed {
    display: flex;
    align-items: center;
    justify-content: start;

    &.space-between {
        justify-content: space-between;
    }

    &.center {
        justify-content: center;
    }

    &.flex-end {
        justify-content: flex-end;
    }
}

.table {
    width: 100%;
    border-collapse: collapse;

    thead {
        th {
            text-align: left;
            padding: 5px !important;
        }
    }

    tbody td {
        padding: 5px !important;
    }
}

.table-striped {
    tbody tr:nth-child(odd) {
        background-color: $clr-white;
    }
    tbody tr:nth-child(even) {
        background-color: $clr-gray-95;
    }
}

.label {
    display: inline;
    padding: .2em .6em .2em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: $clr-label-text;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;

    &:empty {
        display: none;
    }
}

a.label {
    &:hover, &:focus {
        color: $clr-label-text;
        text-decoration: none;
        cursor: pointer;
    }
}

.label:empty {
    display: none;
}

label-default {
    background-color: $clr-label-default;
}
.label-default[href]:hover,
.label-default[href]:focus {
    background-color: $clr-label-default-hover;
}
.label-primary {
    background-color: $clr-label-primary;
}
.label-primary[href]:hover,
.label-primary[href]:focus {
    background-color: $clr-label-primary-hover;
}
.label-success {
    background-color: $clr-label-success;
}
.label-success[href]:hover,
.label-success[href]:focus {
    background-color: $clr-label-success-hover;
}
.label-info {
    background-color: $clr-label-info;
}
.label-info[href]:hover,
.label-info[href]:focus {
    background-color: $clr-label-info-hover;
}
.label-warning {
    background-color: $clr-label-warning;
}
.label-warning[href]:hover,
.label-warning[href]:focus {
    background-color: $clr-label-warning-hover;
}
.label-danger {
    background-color: $clr-label-danger;
}
.label-danger[href]:hover,
.label-danger[href]:focus {
    background-color: $clr-label-danger-hover;
}

.label-data {
    background-color: $clr-failure-data;
}

.label-system {
    background-color: $clr-failure-system;
}

.label-algorithm {
    background-color: $clr-failure-algorithm;
}

.label-ready {
    background-color: $clr-ready;
}

.label-paused {
    background-color: $clr-paused;
}

.label-busy {
    background-color: $clr-busy;
}

.label-waiting {
    background-color: $clr-waiting;
}

.no-margin {
    margin: 0 !important;
}

.margin-top-sm {
    margin-top: 5px;
}

.margin-top-md {
    margin-top: 10px;
}

.margin-top-lg {
    margin-top: 20px;
}

.margin-right-sm {
    margin-right: 5px;
}

.margin-right-md {
    margin-right: 10px;
}

.margin-right-lg {
    margin-right: 20px;
}

.margin-bottom-sm {
    margin-bottom: 5px;
}

.margin-bottom-md {
    margin-bottom: 10px;
}

.margin-bottom-lg {
    margin-bottom: 20px;
}

.margin-left-sm {
    margin-left: 5px;
}

.margin-left-md {
    margin-left: 10px;
}

.margin-left-lg {
    margin-left: 20px;
}

.dl-horizontal {
    dt {
        float: left;
        width: 160px;
        clear: left;
        text-align: right;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: bold;
    }
    dd {
        margin-left: 180px;
    }
}

.completed-text {
    color: $clr-status-completed;
}
.failed-text {
    color: $clr-status-failed;
}
.pending-text {
    color: $clr-status-pending;
}
.queued-text {
    color: $clr-status-queued;
}
.running-text {
    color: $clr-status-running;
}
.blocked-text {
    color: $clr-status-blocked;
}
.canceled-text {
    color: $clr-status-canceled;
}
.warning-text {
    color: $clr-label-warning;
}
.error-text {
    color: $clr-label-danger;
}
.offered-text {
    color: $clr-offered;
}
.free-text {
    color: $clr-free;
}
.unavailable-text {
    color: $clr-unavailable;
}

.completed {
    background: $clr-status-completed !important;
}
.failed {
    background: $clr-status-failed !important;
}
.pending {
    background: $clr-status-pending !important;
}
.queued {
    background: $clr-status-queued !important;
}
.running {
    background: $clr-status-running !important;
}
.blocked {
    background: $clr-status-blocked !important;
}
.canceled {
    background: $clr-status-canceled !important;
}
.offered {
    background: $clr-offered !important;
}
.free {
    background: $clr-free !important;
}
.unavailable {
    background: $clr-unavailable !important;
}

.ui-button-ready {
    background-color: $clr-ready !important;
    border: 1px solid $clr-ready !important;
}
.ui-button-paused {
    background-color: $clr-paused !important;
    border: 1px solid $clr-paused !important;
}
.ui-button-busy {
    background-color: $clr-busy !important;
    border: 1px solid $clr-busy !important;
}
.ui-button-waiting {
    background-color: $clr-waiting !important;
    border: 1px solid $clr-waiting !important;
}

.ui-panel-primary, .ui-panel-danger {
    .ui-panel-titlebar {
        padding: .5em 1.25em .5em 1em !important;

        .ui-panel-title {
            color: #fff !important;
            font-weight: bold;
        }
    }
}

.ui-panel-primary {
    .ui-panel-titlebar {
        background-color: $clr-label-primary !important;
    }
}

.ui-panel-danger {
    .ui-panel-titlebar {
        background-color: $clr-label-danger !important;
    }
}

.dialog-content {
    padding: 0 0 10px 10px;

    h4 {
        margin: 0 0 5px 0;
        font-size: 1.2em;

        &.label {
            display: block;
        }
    }
}

::ng-deep .ui-dialog {
    width: 500px;

    .ui-dialog-content {
        padding: 12px 12px 0 0 !important;
    }
}
