@charset "utf-8";

// Libraries
@import '~normalize.css/normalize';

// Defaults
@import './defaults/animations';
@import 'environments/environment';
@import './defaults/tags';
@import './defaults/typography';

// Overrides
@import './defaults/overrides';

// Components & Pages loaded separately
$transparent-running: transparentize(#529D39, 0.65);

dl {
    margin-top: 0;
    margin-bottom: 20px;

    dt, dd {
        line-height: 1.42857143;
    }

    dt {
        font-weight: bold;
    }

    dd {
        margin: 0 0 10px 0;
    }
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    word-break: break-all;
    word-wrap: break-word;
    color: #333333;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.app {
    background: var(--background);
    background-image: var(--background-image);
    color: var(--on-background);
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1;
    padding: 1.0em 2.0em;
}

.relative {
    position: relative;
}

.inset {
    position: absolute;
    top: 10px;
    right: 10px;
}

.nodes__dataview {
    .ui-dataview-header {
        .ui-button-secondary {
            background-color: #ccc !important;
            border: 1px solid #ccc !important;
        }
    }

    .ui-dataview-content {
        padding-top: 15px !important;
        padding-bottom: 15px !important;
    }

    .ui-panel-titlebar {
        padding: 0.2em 0.5em !important;
    }

    .ui-panel-titlebar-toggler {
        display: none !important;
    }

    .node__paused {
        .ui-panel-titlebar {
            background: var(--label-paused);
            color: #fff;
        }
    }
}

.node__errors, .node__warnings {
    &.ui-dialog {
        width: 33vw !important;
    }
    .ui-dialog-titlebar {
        color: #fff !important;

        .ui-dialog-titlebar-icon {
            color: #fff !important;
        }
    }
}

.node__errors {
    .ui-dialog-titlebar {
        background: var(--label-text-danger) !important;
    }
}

.node__warnings {
    .ui-dialog-titlebar {
        background: var(--label-text-warning) !important;
    }
}

.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
    font-weight: normal;
}

.throb-text, .throb-background, .throb-svg {
    animation-duration: 0.6s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}

.throb-text {
    animation-name: throb-text;
}

.throb-background {
    animation-name: throb-background;
}

.throb-svg {
    animation-name: throb-svg;
}

@keyframes throb-text {
    0% {
        color: var(--status-running);
    }
    100% {
        color: $transparent-running;
    }
}

@keyframes throb-background {
    0% {
        background-color: var(--status-running);
    }
    100% {
        background-color: $transparent-running;
    }
}

@keyframes throb-svg {
    0% {
        fill: var(--status-running);
    }
    100% {
        fill: $transparent-running;
    }
}

h2:first-of-type {
    margin: 3px 0;
}

a:not(.ui-button, .ui-paginator) {
    color: var(--scale-secondary-light);

    &:hover {
        color: var(--scale-secondary-dark);
    }
}

.column-filter {
    width: 100%;
}

.scale-tab-header {
    background: var(--navbar-dark);

    a {
        color: var(--navbar-text);
    }
}

.scale-chart-container {
    position: relative;
}

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
}

.list-unstyled {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.link-button {
    background: var(--scale-secondary-light);
    color: var(--white);
    padding: 7px;
    border-radius: 3px;
    text-decoration: none;
}

.flexed {
    display: flex;
    align-items: center;
    justify-content: start;

    &.space-between {
        justify-content: space-between;
    }

    &.center {
        justify-content: center;
    }

    &.flex-end {
        justify-content: flex-end;
    }

    &.inline {
        display: inline-flex;
    }
}

.table {
    width: 100%;
    border-collapse: collapse;

    thead {
        th {
            text-align: left;
            padding: 5px !important;
        }
    }

    tbody td {
        padding: 5px !important;
    }
}

.table-striped {
    tbody tr:nth-child(odd) {
        background-color: var(--white);
    }
    tbody tr:nth-child(even) {
        background-color: var(--grey-95);
    }
}

.table-bordered {
    border: 1px solid #ececec;
}

.label {
    display: inline;
    padding: .2em .6em .2em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: var(--label-text);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;

    &:empty {
        display: none;
    }
}

a.label {
    &:hover, &:focus {
        color: var(--label-text);
        text-decoration: none;
        cursor: pointer;
    }
}

.label:empty {
    display: none;
}

label-default {
    background-color: var(--label-text-default);
}
.label-default[href]:hover,
.label-default[href]:focus {
    background-color: var(--label-text-default-hover);
}
.label-primary {
    background-color: var(--label-text-primary);
}
.label-primary[href]:hover,
.label-primary[href]:focus {
    background-color: var(--label-text-primary-hover);
}
.label-success {
    background-color: var(--label-text-success);
}
.label-success[href]:hover,
.label-success[href]:focus {
    background-color: var(--label-text-success-hover);
}
.label-info {
    background-color: var(--label-text-info);
}
.label-info[href]:hover,
.label-info[href]:focus {
    background-color: var(--label-text-info-hover);
}
.label-warning {
    background-color: var(--label-text-warning);
}
.label-warning[href]:hover,
.label-warning[href]:focus {
    background-color: var(--label-text-warning-hover);
}
.label-danger {
    background-color: var(--label-text-danger);
}
.label-danger[href]:hover,
.label-danger[href]:focus {
    background-color: var(--label-text-danger-hover);
}

.label-data {
    background-color: var(--status-data);
}

.label-system {
    background-color: var(--status-system);
}

.label-algorithm {
    background-color: var(--status-algorithm);
}

.label-ready {
    background-color: var(--label-ready);
}

.label-paused {
    background-color: var(--label-paused);
}

.label-busy {
    background-color: var(--label-busy);
}

.label-waiting {
    background-color: var(--label-waiting);
}

.no-margin {
    margin: 0 !important;
}

.margin-top-sm {
    margin-top: 5px;
}

.margin-top-md {
    margin-top: 10px;
}

.margin-top-lg {
    margin-top: 20px;
}

.margin-right-sm {
    margin-right: 5px;
}

.margin-right-md {
    margin-right: 10px;
}

.margin-right-lg {
    margin-right: 20px;
}

.margin-bottom-sm {
    margin-bottom: 5px;
}

.margin-bottom-md {
    margin-bottom: 10px;
}

.margin-bottom-lg {
    margin-bottom: 20px;
}

.margin-left-sm {
    margin-left: 5px;
}

.margin-left-md {
    margin-left: 10px;
}

.margin-left-lg {
    margin-left: 20px;
}

.dl-horizontal {
    dt {
        float: left;
        width: 160px;
        clear: left;
        text-align: right;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: bold;
    }
    dd {
        margin-left: 180px;
    }
}

.completed-text {
    color: var(--status-completed);
}
.failed-text {
    color: var(--status-failed);
}
.pending-text {
    color: var(--status-pending);
}
.queued-text {
    color: var(--status-queued);
}
.running-text {
    color: var(--status-running);
}
.blocked-text {
    color: var(--status-blocked);
}
.canceled-text {
    color: var(--status-canceled);
}
.warning-text {
    color: var(--label-text-warning);
}
.error-text {
    color: var(--label-text-danger);
}
.offered-text {
    color: var(--status-offered);
}
.free-text {
    color: var(--status-free);
}
.unavailable-text {
    color: var(--status-unavailable);
}

.completed {
    background: var(--status-completed) !important;
}
.failed {
    background: var(--status-failed) !important;
}
.pending {
    background: var(--status-pending) !important;
}
.queued {
    background: var(--status-queued) !important;
}
.running {
    background: var(--status-running) !important;
}
.blocked {
    background: var(--status-blocked) !important;
}
.canceled {
    background: var(--status-canceled) !important;
}
.offered {
    background: var(--status-offered) !important;
}
.free {
    background: var(--status-free) !important;
}
.unavailable {
    background: var(--status-unavailable) !important;
}

.ui-button-ready {
    background-color: var(--label-ready) !important;
    border: 1px solid var(--label-ready) !important;
}
.ui-button-paused {
    background-color: var(--label-paused) !important;
    border: 1px solid var(--label-paused) !important;
}
.ui-button-busy {
    background-color: var(--label-busy) !important;
    border: 1px solid var(--label-busy) !important;
}
.ui-button-waiting {
    background-color: var(--label-waiting) !important;
    border: 1px solid var(--label-waiting) !important;
}

.ui-panel-primary, .ui-panel-danger {
    .ui-panel-titlebar {
        padding: .5em 1.25em .5em 1em !important;

        .ui-panel-title {
            color: #fff !important;
            font-weight: bold;
        }
    }
}

.ui-panel-primary {
    .ui-panel-titlebar {
        background-color: var(--label-text-primary) !important;
    }
}

.ui-panel-danger {
    .ui-panel-titlebar {
        background-color: var(--label-text-danger) !important;
    }
}

.dialog-content {
    padding: 0 0 10px 10px;

    h4 {
        margin: 0 0 5px 0;
        font-size: 1.2em;

        &.label {
            display: block;
        }
    }
}

::ng-deep .ui-dialog {
    width: 500px;

    .ui-dialog-content {
        padding: 12px 12px 0 0 !important;
    }
}
