@import '../../../../defaults/colors';

.scale-log__container {
    .scale-log__viewer {
        .scale-log__title {
            width: 49%;
            margin-top: 0;
        }

        ::ng-deep .CodeMirror {
            height: 25em;
        }
    }
}
