<div class="recipe-types" *ngIf="!selectedRecipeTypeDetail">
    <div class="flexed space-between margin-bottom-sm">
        <div class="flexed">
            <h2><i class="fa fa-cubes"></i> Recipe Types</h2>
            <button pButton class="btn__new-recipe-type" icon="fa fa-plus" (click)="createNewRecipe()"
                    pTooltip="Create New Recipe Type"></button>
        </div>
        <input type="search" pInputText placeholder="Search" class="recipe-type__filter" (keyup)="onFilterKeyup($event)">
    </div>
    <p-dataView [value]="recipeTypeOptions" [paginator]="true" [rows]="rows" [lazy]="true" [totalRecords]="totalRecords"
                (onLazyLoad)="onLazyLoad($event)" filterBy="value.title" layout="grid" [loading]="loadingRecipeTypes" #dv>
        <ng-template let-recipeType pTemplate="gridItem">
            <div class="p-col-12 p-md-3 recipe-type__container" (click)="onRecipeTypeClick($event, recipeType)">
                <p-panel>
                    <p-header>
                        <strong>{{ recipeType.label }}</strong>
                    </p-header>
                    <div class="clamp">
                        {{ recipeType.value.description }}
                    </div>
                </p-panel>
            </div>
        </ng-template>
    </p-dataView>
</div>
<div class="scale-chart-container" *ngIf="selectedRecipeTypeDetail">
    <div class="flexed">
        <h2><i class="fa fa-cubes"></i> Recipe Types</h2>
    </div>
    <dev-loading-indicator [loading]="loadingRecipeType"></dev-loading-indicator>
    <div class="recipe-type__details">
        <p-panel>
            <p-header class="flexed space-between">
                <div>
                    <strong>{{ selectedRecipeTypeDetail.title }}</strong>
                </div>
                <div class="recipe-type__menu">
                    <p-menu #menu [popup]="true" [model]="items" appendTo="body"></p-menu>
                    <button pButton type="button" class="ui-button-secondary" icon="fa fa-bars"
                            (click)="menu.toggle($event)"></button>
                </div>
            </p-header>
            <div class="margin-bottom-md" *ngIf="!isEditing">
                {{ selectedRecipeTypeDetail.description }}
            </div>
            <div class="p-grid" *ngIf="isEditing">
                <div class="p-col-12">
                    <div [formGroup]="createForm">
                        <label>
                            <span>Title</span>
                            <input pInputText type="text" formControlName="title"/>
                        </label>
                        <label style="margin-bottom: 0">
                            <span>Description</span>
                            <textarea pInputTextarea formControlName="description" rows="5"></textarea>
                        </label>
                    </div>
                </div>
            </div>
            <div class="p-grid">
                <div class="p-col-12">
                    <div class="margin-bottom-sm">
                        <div *ngIf="isEditing">
                            <label class="no-margin">Definition</label>
                            <p-menubar [model]="menuBarItems" [style]="{'margin-bottom':'0'}">
                                <ul class="ui-menubar-root-list">
                                    <li class="ui-menuitem ui-corner-all">
                                        <a class="ui-menuitem-link ui-corner-all" (click)="toggleFileInputs()">
                                            <span class="ui-menuitem-icon fa fa-file"></span>
                                            <span class="ui-menuitem-text">File Inputs</span>
                                        </a>
                                    </li>
                                    <li class="ui-menuitem ui-corner-all">
                                        <a class="ui-menuitem-link ui-corner-all" (click)="toggleJsonInputs()">
                                            <span class="ui-menuitem-icon fa fa-code"></span>
                                            <span class="ui-menuitem-text">JSON Inputs</span>
                                        </a>
                                    </li>
                                </ul>
                            </p-menubar>
                        </div>
                        <dev-recipe-graph [recipeData]="selectedRecipeTypeDetail" [isEditing]="isEditing"
                                          [minHeight]="recipeGraphMinHeight"></dev-recipe-graph>
                    </div>
                </div>
            </div>
        </p-panel>
    </div>
</div>
<p-dialog #addRemoveDialog [(visible)]="showAddRemoveDisplay" (onHide)="hideDialog()" (onShow)="showDialog()"
          styleClass="add-remove-dialog">
    <p-header>
        <span *ngIf="addRemoveDisplayType === 'job'">
            <strong>Add/Remove Job Nodes</strong>
        </span>
        <span *ngIf="addRemoveDisplayType === 'recipe'">
            <strong>Add/Remove Recipe Nodes</strong>
        </span>
        <span *ngIf="addRemoveDisplayType === 'condition'">
            <strong>Add/Remove Condition Nodes</strong>
            <button pButton type="button" icon="fa fa-plus" pTooltip="Create new condition"
                    class="recipe-type__condition-btn" (click)="toggleConditions()"></button>
        </span>
    </p-header>
    <div class="dialog-content" *ngIf="addRemoveDisplayType === 'job'">
        <p-scrollPanel [style]="{width: '100%', height: '33vh'}">
            <p-table [columns]="jobTypeColumns" [value]="jobTypes" styleClass="nopadding" [rowHover]="true"
                     (onRowSelect)="addJobTypeNode($event)" (onRowUnselect)="removeNode($event)"
                     selectionMode="multiple" [(selection)]="selectedJobTypes" #jobTypeDatatable>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns">
                            <input pInputText type="text"
                                   (input)="jobTypeDatatable.filter($event.target.value, col.field, col.filterMatchMode)"
                                   class="column-filter">
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr [pSelectableRow]="rowData">
                        <td>
                            <div class="recipe-type__node-type-row">
                                <span class="fa fa-fw" [innerHtml]="getUnicode(rowData.icon_code)"></span>
                                {{ rowData.title }} v{{ rowData.version }}
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-scrollPanel>
    </div>
    <div class="dialog-content" *ngIf="addRemoveDisplayType === 'recipe'">
        <p-scrollPanel [style]="{width: '100%', height: '33vh'}">
            <p-table [columns]="recipeTypeColumns" [value]="recipeTypes" styleClass="nopadding" [rowHover]="true"
                     (onRowSelect)="addRecipeTypeNode($event)" (onRowUnselect)="removeNode($event)"
                     selectionMode="multiple" [(selection)]="selectedRecipeTypes" #recipeTypeDatatable>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns">
                            <input pInputText type="text"
                                   (input)="recipeTypeDatatable.filter($event.target.value, col.field, col.filterMatchMode)"
                                   class="column-filter">
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr [pSelectableRow]="rowData">
                        <td>
                            <div class="recipe-type__node-type-row">
                                {{ rowData.title }}
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-scrollPanel>
    </div>
    <div class="dialog-content" *ngIf="addRemoveDisplayType === 'condition'">
        <p-scrollPanel [style]="{width: '100%', height: '33vh'}">
            <p-table [columns]="conditionColumns" [value]="conditions" styleClass="nopadding" [rowHover]="true"
                     (onRowSelect)="addConditionNode($event)" (onRowUnselect)="removeNode($event)"
                     selectionMode="multiple" [(selection)]="selectedConditions">
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr [pSelectableRow]="rowData">
                        <td>
                            <div class="recipe-type__node-type-row">
                                {{ rowData.name }}
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage" let-columns>
                    <tr>
                        <td [attr.colspan]="columns.length" class="text-center">
                            No conditions found
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-scrollPanel>
    </div>
</p-dialog>
<p-sidebar [(visible)]="showFileInputs" [blockScroll]="true" position="right" [style]="{width:'30%'}"
           *ngIf="isEditing && selectedRecipeTypeDetail">
    <dev-recipe-type-file [input]="selectedRecipeTypeDetail.definition.input" [form]="createForm"
                          filesControl="definition.input.files"></dev-recipe-type-file>
</p-sidebar>
<p-sidebar [(visible)]="showJsonInputs" [blockScroll]="true" position="right" [style]="{width:'30%'}"
           *ngIf="isEditing && selectedRecipeTypeDetail">
    <dev-recipe-type-json [input]="selectedRecipeTypeDetail.definition.input" [form]="createForm"
                          jsonControl="definition.input.json"></dev-recipe-type-json>
</p-sidebar>
<p-sidebar [(visible)]="showConditions" [blockScroll]="true" position="right" [style]="{width:'30%'}"
           *ngIf="isEditing && selectedRecipeTypeDetail">
    <div class="recipe-type__details">
        <h2>Conditions</h2>
        <div [formGroup]="conditionForm">
            <label>
                <span>Name</span>
                <input pInputText type="text" formControlName="name"/>
            </label>
            <dev-recipe-type-filter [condition]="condition" [form]="conditionForm">
            </dev-recipe-type-filter>
            <label formGroupName="data_filter">
                <p-toggleButton formControlName="all" onLabel="Filters are Required"
                                offLabel="Filters are Optional" onIcon="fa fa-check" offIcon="fa fa-circle"
                                [style]="{'width':'100%', 'display':'block'}"
                                (onChange)="onToggleClick($event)"></p-toggleButton>
            </label>
        </div>
        <div class="text-center margin-top-lg margin-bottom-md">
            <button pButton type="button" icon="fa fa-plus" (click)="onAddConditionClick()" label="Add Condition"
                    [disabled]="conditionForm.status === 'INVALID'"></button>
        </div>
        <h3>Current Conditions</h3>
        <div *ngIf="conditions">
            <span *ngIf="conditions.length === 0">No conditions.</span>
            <div *ngFor="let condition of conditions">
                <div class="relative">
                    <pre>{{ condition.display.label }}</pre>
                    <div class="inset">
                        <button pButton type="button" class="ui-button-danger" icon="fa fa-remove"
                                pTooltip="Remove Condition" (click)="onRemoveConditionClick(condition)">
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!conditions">
            No conditions.
        </div>
    </div>
</p-sidebar>
