.recipe-type__label {
    font-weight: bold;
    font-size: 0.9em;
    margin: 0 7px;
}

.recipe-type__actions {
    margin: 0 0 0 10px;
}

.recipe-type__filter {
    justify-content: flex-end;

    .recipe-type__filter-input {
        width: 300px;
        font-size: 1.2em;
    }
}

.recipe-type__container {
    visibility: hidden;

    &:hover {
        cursor: pointer;

        ::ng-deep .ui-panel-titlebar {
            background: var(--panel-header-hover) !important;
        }
        ::ng-deep .ui-panel-content {
            background: var(--panel-content-hover) !important;
        }
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;

        li {
            margin-right: 2px;
        }
    }
}

.recipe-type__node-type-row {
    cursor: pointer;

    &.disabled {
        cursor: default;
        color: var(--off-white);
    }
}

.recipe-type__details {
    h3 {
        margin: 0;
    }

    p {
        margin: 0;
    }

    label {
        font-weight: bold;
        display: block;
        margin: 0 0 10px 0;

        input, textarea, select {
            display: block;
            width: 100%;
        }
    }

    button, input, optgroup, select, textarea {
        line-height: 1.5em;
    }

    .btn__edit {
        margin: 0 -2px 0 0;
    }

    .recipe-type__menu {
        display: flex;
        justify-content: flex-end;

        button {
            margin: 0 0 0 3px;
            max-height: 32px;
        }
    }

    ::ng-deep .ui-menubar .ui-menubar-custom {
        padding: 0;
    }

    .recipe__footer {
        position: absolute;
        right: 0;

        button {
            margin-right: 6px;
        }
    }
}

.recipe-type__condition-btn {
    font-size: 9px;
    margin: 0 0 0 7px;
}

::ng-deep .ui-dialog {
    &.add-remove-dialog {
        width: 500px;

        .ui-dialog-content {
            padding: 12px 12px 0 0 !important;
        }
    }
}

::ng-deep .recipe-types__dataview {
    .ui-dataview-header {
        .ui-button-secondary {
            background-color: var(--off-white) !important;
            border: 1px solid var(--off-white) !important;
        }
    }

    .ui-dataview-content {
        padding-top: 15px !important;
        padding-bottom: 15px !important;
    }

    //.ui-panel-titlebar {
    //    padding: 0.2em 0.5em !important;
    //}
}
