.recipe-type__header {
    display: flex;

    .recipe-type__options {
        margin: 0 10px;

        ::ng-deep .ui-dropdown {
            width: 300px;
            min-height: 36px;

            .ui-dropdown-label {
                padding-top: 0.5em;
            }

            .ui-dropdown-trigger {
                padding: 0.25em;
            }
        }
    }
}

.recipe-type__job-type-row {
    cursor: pointer;

    &.disabled {
        cursor: default;
        color: #ccc;
    }
}

.recipe-type-details {
    h3 {
        margin: 0;
    }

    p {
        margin: 0;
    }

    .btn__edit {
        margin: 0 -2px 0 0;
    }

    .recipe-type__menu {
        display: flex;
        justify-content: flex-end;

        button {
            margin: 0 0 0 3px;
            max-height: 32px;
        }
    }

    .recipe-type__metadata {
        width: 100%;
    }
}
