<div class="recipe-type__header">
    <h2><i class="fa fa-cubes"></i> Recipe Types</h2>
    <p-dropdown [options]="recipeTypeOptions" [autoWidth]="false" [(ngModel)]="selectedRecipeTypeOption" filter="filter"
                class="recipe-type__options" (onChange)="onRowSelect($event)" placeholder="Select..."
                [showClear]="false"></p-dropdown>
    <button pButton class="btn__new-recipe" icon="fa fa-plus" (click)="createNewRecipe()"
            [disabled]="recipeTypeName === 'new'"></button>
</div>
<hr />
<div class="text-center" *ngIf="!selectedRecipeTypeDetail && recipeTypeName !== 'create'">
    <h3>Select a recipe type to view its details</h3>
</div>
<div class="scale-chart-container">
    <dev-loading-indicator [loading]="loadingRecipeType"></dev-loading-indicator>
    <div class="recipe-type__details" *ngIf="selectedRecipeTypeDetail">
        <p-panel>
            <p-header class="flexed space-between">
                <div>
                    {{ selectedRecipeTypeDetail.title }}
                </div>
                <div class="recipe-type__menu">
                    <p-menu #menu [popup]="true" [model]="items" appendTo="body"></p-menu>
                    <button pButton type="button" class="ui-button-secondary" icon="fa fa-bars"
                            (click)="menu.toggle($event)"></button>
                </div>
            </p-header>
            <div class="margin-bottom-md" *ngIf="!isEditing">
                {{ selectedRecipeTypeDetail.description }}
            </div>
            <div *ngIf="isEditing" [formGroup]="createForm">
                <label>
                    <span>Title</span>
                    <input pInputText type="text" formControlName="title"/>
                </label>
                <label>
                    <span>Description</span>
                    <textarea pInputTextarea formControlName="description" rows="5"></textarea>
                </label>
            </div>
            <div class="margin-bottom-sm">
                <div *ngIf="isEditing">
                    <label class="no-margin">Definition</label>
                    <p-menubar [model]="menuBarItems" [style]="{'margin-bottom':'0'}"></p-menubar>
                </div>
                <dev-recipe-graph [recipeData]="selectedRecipeTypeDetail" [isEditing]="isEditing"></dev-recipe-graph>
            </div>
        </p-panel>
    </div>
</div>
<p-sidebar [(visible)]="toggleJobTypeDisplay" [blockScroll]="true" position="right" [style]="{width:'30em'}">
    <h2>Add/Remove Job Types</h2>
    <p-table [columns]="jobTypeColumns" [value]="jobTypes" styleClass="nopadding" [scrollable]="true" scrollHeight="85%"
             [rowHover]="true" (onRowSelect)="addJobTypeNode($event)" (onRowUnselect)="removeNode($event)"
             selectionMode="multiple" [(selection)]="selectedJobTypes" #datatable>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    <input pInputText type="text"
                           (input)="datatable.filter($event.target.value, col.field, col.filterMatchMode)"
                           class="column-filter">
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData">
                <td>
                    <div class="recipe-type__node-type-row">
                        <span class="fa fa-fw" [innerHtml]="getUnicode(rowData.icon_code)"></span>
                        {{ rowData.title }} v{{ rowData.latest_version }}
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-sidebar>
<p-sidebar [(visible)]="toggleRecipeTypeDisplay" [blockScroll]="true" position="right" [style]="{width:'30em'}">
    <h2>Add/Remove Recipe Types</h2>
    <p-table [columns]="recipeTypeColumns" [value]="recipeTypes" styleClass="nopadding" [scrollable]="true" scrollHeight="85%"
             [rowHover]="true" (onRowSelect)="addRecipeTypeNode($event)" (onRowUnselect)="removeNode($event)"
             selectionMode="multiple" [(selection)]="selectedRecipeTypes" #datatable>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    <input pInputText type="text"
                           (input)="datatable.filter($event.target.value, col.field, col.filterMatchMode)"
                           class="column-filter">
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData">
                <td>
                    <div class="recipe-type__node-type-row">
                        {{ rowData.title }}
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-sidebar>
