<div class="recipe-type__header">
    <h2><i class="fa fa-cubes"></i> Recipe Types</h2>
    <p-dropdown [options]="recipeTypes" [autoWidth]="false" [(ngModel)]="selectedRecipeType" filter="filter"
                class="recipe-type__options" (onChange)="onRowSelect($event)" placeholder="Select..."
                [showClear]="false"></p-dropdown>
    <button pButton class="btn__new-recipe" icon="fa-plus-circle" label="New Recipe" (click)="createNewRecipe()"
            [disabled]="recipeTypeId === 0"></button>
</div>
<hr />
<div class="text-center" *ngIf="!selectedRecipeTypeDetail && !recipeTypeId">
    <h3>Select a recipe type to view its details</h3>
</div>
<div class="scale-chart-container">
    <dev-loading-indicator [loading]="loadingRecipeType"></dev-loading-indicator>
    <div class="recipe-type-details" *ngIf="selectedRecipeTypeDetail">
        <div class="ui-g margin-bottom-md">
            <div class="ui-g-8 ui-lg-9 ui-g-nopad">
                <div class="ui-g">
                    <div class="ui-g-8 ui-g-nopad">
                        <div *ngIf="!isEditing">
                            <h3>{{ selectedRecipeTypeDetail.title }} v{{ selectedRecipeTypeDetail.version }}</h3>
                            <p>{{ selectedRecipeTypeDetail.description }}</p>
                        </div>
                        <div *ngIf="isEditing">
                            <div class="ui-g ui-g-nopad">
                                <div class="ui-g-4 ui-g-nopad">
                                    <input class="recipe-type__metadata" type="text" [(ngModel)]="selectedRecipeTypeDetail.name" pInputText>
                                </div>
                                <div class="ui-g-4 ui-g-nopad">
                                    <input class="recipe-type__metadata" type="text" [(ngModel)]="selectedRecipeTypeDetail.title" pInputText>
                                </div>
                                <div class="ui-g-4 ui-g-nopad">
                                    <input class="recipe-type__metadata" type="text" [(ngModel)]="selectedRecipeTypeDetail.version" pInputText>
                                </div>
                            </div>
                            <div class="ui-g ui-g-nopad">
                                <div class="ui-g-12 ui-g-nopad">
                                    <input class="recipe-type__metadata" type="text" [(ngModel)]="selectedRecipeTypeDetail.description"
                                           pInputText>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-4 ui-g-nopad text-right">
                        <button class="btn__edit" pButton icon="fa-edit fa-fw" (click)="toggleEdit()"
                                *ngIf="selectedRecipeType && !isEditing" pTooltip="Edit Recipe Type"></button>
                        <div class="recipe-type__menu">
                            <button class="btn__menu ui-button-info" pButton icon="fa-cube fa-fw" (click)="showToggleJobType()"
                                    *ngIf="selectedRecipeType && isEditing" pTooltip="Add/Remove Job Types"></button>
                            <button class="btn__menu ui-button-warning" pButton icon="fa-check fa-fw" (click)="validateRecipeType()"
                                    *ngIf="selectedRecipeType && isEditing" pTooltip="Validate Recipe Type"></button>
                            <button class="btn__menu ui-button-success" pButton icon="fa-save fa-fw" (click)="saveRecipeType()"
                                    *ngIf="selectedRecipeType && isEditing" pTooltip="Save Recipe Type"></button>
                        </div>
                        <button class="ui-button-danger margin-left-md" pButton icon="fa-remove fa-fw" (click)="toggleEdit()"
                                *ngIf="selectedRecipeType && isEditing" pTooltip="Cancel Edit"></button>
                    </div>
                </div>
            </div>
        </div>
        <dev-recipe-graph [recipeData]="selectedRecipeTypeDetail" [isEditing]="isEditing"></dev-recipe-graph>
    </div>
</div>
<p-sidebar [(visible)]="toggleJobTypeDisplay" [blockScroll]="true" position="right" [style]="{width:'30em'}">
    <h2>Add/Remove Job Types</h2>
    <p-table [columns]="columns" [value]="jobTypes" styleClass="nopadding" [scrollable]="true" scrollHeight="85%"
             [rowHover]="true" (onRowSelect)="addJobType($event)" (onRowUnselect)="removeJobType($event)"
             selectionMode="multiple" [(selection)]="selectedJobTypes" #datatable>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    <input pInputText type="text" (input)="datatable.filter($event.target.value, col.field, col.filterMatchMode)"
                           class="column-filter">
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData">
                <td>
                    <div class="recipe-type__job-type-row">
                        <span class="fa fa-fw" [innerHtml]="getUnicode(rowData.icon_code)"></span>
                        {{ rowData.title }} v{{ rowData.jobVersion }}
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-sidebar>
