.recipe-type__details {
    h3 {
        margin: 0;
    }

    p {
        margin: 0;
    }

    label {
        font-weight: bold;
        display: block;
        margin: 0 0 10px 0;

        input, textarea, select {
            display: block;
            width: 100%;
        }
    }

    button, input, optgroup, select, textarea {
        line-height: 1.5em;
    }

    .btn__edit {
        margin: 0 -2px 0 0;
    }

    .recipe-type__menu {
        display: flex;
        justify-content: flex-end;

        button {
            margin: 0 0 0 3px;
            max-height: 32px;
        }
    }

    ::ng-deep .ui-menubar .ui-menubar-custom {
        padding: 0;
    }
}
