<div [formGroup]="form" class="recipe-type__details margin-bottom-md">
    <label>
        <span class="required">Input name</span>
        <input type="text" pInputText formControlName="name">
        <div class="help-block" *ngIf="!form.get('name').valid && form.get('name').dirty">
            <p-message severity="error" *ngIf="form.get('name').errors.required" text="This field is required"></p-message>
        </div>
        <div class="help-block">
            The name of the parameter this filter runs against
        </div>
    </label>

    <label>
        <span class="required">Filter type</span>
        <p-dropdown [options]="typeOptions" formControlName="type" [style]="{'width':'100%'}"
                    placeholder="Select..." [showClear]="false">
        </p-dropdown>
        <div class="help-block" *ngIf="!form.get('type').valid && form.get('type').dirty">
            <p-message severity="error" *ngIf="form.get('type').errors.required" text="This field is required"></p-message>
        </div>
        <div class="help-block">
            Type of parameter this filter runs against
        </div>
    </label>

    <label *ngIf="form.get('type').value">
        <span class="required">Condition</span>
        <p-dropdown [options]="conditionOptions" formControlName="condition" [style]="{'width':'100%'}"
                    placeholder="Select..." [showClear]="false">
        </p-dropdown>
        <div class="help-block" *ngIf="!form.get('condition').valid && form.get('condition').dirty">
            <p-message severity="error" *ngIf="form.get('condition').errors.required" text="This field is required"></p-message>
        </div>
        <div class="help-block">
            Condition to test data value against
        </div>
    </label>

    <fieldset *ngIf="form.get('condition').value" formArrayName="values" class="ui-g ui-fluid">
        <legend>{{ numValues === 1 ? 'Value' : 'Values' }}</legend>

        <div class="help-block">
            {{ numValues === 1 ? 'Value' : 'Values' }} to compare against
        </div>

        <div *ngFor="let value of values.controls; let i = index" class="ui-g-12">
            <div class="ui-inputgroup">
                <input *ngIf="showTextField" type="text" pInputText [formControlName]="i">

                <input *ngIf="showNumberField" [formControlName]="i" type="number" pInputText step="0.1">

                <p-inputSwitch *ngIf="showBooleanField" [formControlName]="i" ></p-inputSwitch>

                <button pButton type="button" icon="fa fa-minus" (click)="removeValue(i)"
                        *ngIf="numValues === -1 && values.controls.length > 1"></button>
            </div>

            <div class="help-block" *ngIf="!value.valid && value.dirty">
                <p-message severity="error" *ngIf="value.errors.pattern" text="Input a valid number"></p-message>
                <p-message severity="error" *ngIf="value.errors.required" text="This field is required"></p-message>
            </div>
        </div>

        <button pButton type="button" icon="fa fa-plus" (click)="addValue()"
                label="Add value" *ngIf="numValues === -1"></button>
    </fieldset>
</div>
