<h2><i class="fa fa-files-o"></i> Batches <span *ngIf="count">({{ count }})</span></h2>
<div class="batches__header flexed space-between">
    <dev-temporal-filter [started]="started" [ended]="ended"
                         [loading]="apiLoading"
                         (updated)="onTemporalFilterUpdate($event)">
    </dev-temporal-filter>
    <div class="batches__controls">
        <a pButton
            class="ui-button-primary"
            icon="fa fa-plus"
            routerLink="/processing/batches/create"
            pTooltip="Create Batch"></a>
    </div>
</div>
<p-table [value]="batches"
    [columns]="columns"
    [rows]="datatableOptions.rows"
    [sortField]="datatableOptions.sortField"
    [sortOrder]="datatableOptions.sortOrder"
    [lazy]="true"
    (onLazyLoad)="onLazyLoad($event)"
    [responsive]="true"
    resizableColumns="true"
    selectionMode="single" [(selection)]="selectedBatch"
    (onRowSelect)="onRowSelect($event)"
    [loading]="datatableLoading" [style]="{'min-height':'300px'}"
    [autoLayout]="true" class="batches__table" #datatable>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [ngSwitch]="col.field" [pSortableColumn]="col.field">
                {{ col.header }}
                <p-sortIcon [field]="col.field"></p-sortIcon>
                <div *ngSwitchCase="'recipe_type'">
                    <p-multiSelect [options]="recipeTypeOptions" [(ngModel)]="selectedRecipeType"
                                   [maxSelectedLabels]="1" (onChange)="onRecipeTypeChange($event)"
                                   styleClass="column-filter" (click)="onFilterClick($event)" appendTo="body">
                        <ng-template let-recipeType p-template="item">
                            {{ recipeType.label }}
                        </ng-template>
                    </p-multiSelect>
                </div>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData" [ngClass]="rowData.selected ? 'batch__selected' : null">
            <td *ngFor="let col of columns" [ngSwitch]="col.field">
                <div *ngSwitchCase="'title'">
                    <span [pTooltip]="rowData.description">
                        {{ rowData.title }}
                    </span>
                </div>
                <div *ngSwitchCase="'recipe_type'">
                    <span [pTooltip]="rowData.recipe_type.description">
                        {{ rowData.recipe_type.title }}
                    </span>
                </div>
                <div *ngSwitchCase="'is_creation_done'" [pTooltip]="rowData.creation_progress_tooltip">
                    <p-progressBar [value]="rowData.creation_progress"></p-progressBar>
                </div>
                <div *ngSwitchCase="'jobs_total'">
                    <dev-candy-bar [dataArr]="rowData.jobsArr" [dataFields]="rowData.jobsFields"></dev-candy-bar>
                </div>
                <div *ngSwitchCase="'created'">
                    <span [pTooltip]="rowData.createdTooltip">
                        {{ rowData.createdDisplay }}
                    </span>
                </div>
                <div *ngSwitchCase="'last_modified'">
                    <span [pTooltip]="rowData.lastModifiedTooltip">
                        {{ rowData.lastModifiedDisplay }}
                    </span>
                </div>
                <div *ngSwitchDefault>
                    {{ rowData[col.field] }}
                </div>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
        <tr>
            <td [attr.colspan]="columns.length" class="text-center">
                No records found
            </td>
        </tr>
    </ng-template>
</p-table>
<p-paginator [rows]="datatableOptions.rows" [first]="datatableOptions.first" [totalRecords]="count"
             [rowsPerPageOptions]="[10,20,50,100]" (onPageChange)="paginate($event)"></p-paginator>
