.batches__details {
    label {
        font-weight: bold;
        display: block;
        margin: 0 0 10px 0;

        span {
            display: block;
        }

        input, textarea, select {
            display: block;
            width: 100%;
        }

        button, input, optgroup, select, textarea {
            line-height: 1.5em;
        }
    }
}
