<div class="flexed space-between">
    <h2><i class="fa fa-files-o"></i> Batch Details</h2>
</div>
<a routerLink="/processing/batches"><i class="fa fa-caret-left"></i> Batches List</a>
<div class="batches__details" *ngIf="batch">
    <p-panel>
        <p-header class="flexed space-between">
            <div *ngIf="batch.title">
                {{ batch.title }}
            </div>
            <div *ngIf="!batch.title">Untitled Batch</div>
        </p-header>
        <div *ngIf="!isEditing && batch.id">
            <div class="margin-bottom-md">{{ batch.description }}</div>
            <p-table [value]="[batch]">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Recipe Type</th>
                        <th>Root Batch</th>
                        <th>Previous Batch</th>
                        <th>Recipes</th>
                        <th>Jobs</th>
                        <th>Priority</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-batch>
                    <tr>
                        <td>
                            <span *ngIf="batch.recipe_type">
                                <a routerLink="/configuration/recipe-types/{{ batch.recipe_type.name }}">
                                <span [pTooltip]="batch.recipe_type.description">{{ batch.recipe_type.title }}</span>
                            </a>
                            </span>
                        </td>
                        <td>
                            <span *ngIf="batch.root_batch">
                                <a routerLink="/processing/batches/{{ batch.root_batch.id }}">
                                    <span [pTooltip]="batch.root_batch.description">{{ batch.root_batch.title }}</span>
                                </a>
                            </span>
                            <span *ngIf="!batch.root_batch"><em>None</em></span>
                        </td>
                        <td>
                            <span *ngIf="batch.superseded_batch">
                                <a routerLink="/processing/batches/{{ batch.superseded_batch.id }}">
                                    <span [pTooltip]="batch.superseded_batch.description">
                                        {{ batch.superseded_batch.title }}
                                    </span>
                                </a>
                            </span>
                            <span *ngIf="!batch.root_batch"><em>None</em></span>
                        </td>
                        <td>
                            <div [pTooltip]="batch.creation_progress_tooltip">
                                <a routerLink="/processing/recipes/" [queryParams]="{batch_id: batch.id}">
                                    <p-progressBar [value]="batch.creation_progress"></p-progressBar>
                                </a>
                            </div>
                        </td>
                        <td>
                            <dev-candy-bar [dataArr]="batch.jobsArr" [dataFields]="batch.jobsFields"></dev-candy-bar>
                        </td>
                        <td><span *ngIf="batch.configuration">{{ batch.configuration.priority }}</span></td>
                    </tr>
                </ng-template>
            </p-table>
            <div *ngIf="recipeType" class="margin-top-md">
                <dev-recipe-graph [batchesID]="batchID" [recipeData]="recipeType" [jobMetrics]="batch.job_metrics" jobMetricsTitle="Node Jobs"
                                  [hideDetails]="false" [isEditing]="false"></dev-recipe-graph>
            </div>
        </div>
    </p-panel>
</div>
