<div class="batches__create-form-container">
    <p-panel>
        <p-header>
            <h2><i class="fa fa-files-o"></i> {{ batch.title }}</h2>
        </p-header>
        <div class="p-grid">
            <div class="p-col-6">
                <div class="margin-bottom-md">
                    <label for="title">Title *:</label>
                    <input pInputText type="text" id="title" [(ngModel)]="batch.title" class="full-width"/>
                </div>
                <div>
                    <label for="description">Description:</label>
                    <textarea pInputTextarea type="text" id="description" rows="8" [(ngModel)]="batch.description"
                              class="full-width"></textarea>
                </div>
            </div>
            <div class="p-col-6">
                <div class="margin-bottom-md">
                    <label for="recipeType">Recipe Type *:</label>
                    <p-dropdown id="recipeType" [options]="recipeTypeOptions" placeholder="Select..."
                                [(ngModel)]="batch.recipe_type" [style]="{'width': '100%'}"
                                (onChange)="handleRecipeTypeChange($event)">
                        <ng-template let-recipeType p-template="item">
                            {{ recipeType.title }} v{{ recipeType.version }}
                        </ng-template>
                    </p-dropdown>
                </div>

                <div *ngIf="previousBatchOptions.length === 0" class="margin-bottom-md">
                    <label for="previousBatch">Previous Batch:</label>
                    Choose a recipe type in order to see relevant batches.
                </div>

                <div *ngIf="previousBatchOptions.length > 0" class="margin-bottom-md">
                    <label for="previousBatch">Previous Batch:</label>
                    <p-dropdown id="previousBatch" [options]="previousBatchOptions" placeholder="Select..."
                                [(ngModel)]="batch.definition.previous_batch.root_batch_id" [style]="{'width': '100%'}">
                        <ng-template let-previousBatch p-template="item">
                            {{ previousBatch.title }}
                        </ng-template>
                    </p-dropdown>
                </div>

                <div *ngIf="!batch.recipe_type" class="margin-bottom-md">
                    <label for="jobNames">Job Names</label>
                    Choose a recipe type in order to see relevant job names.
                </div>

                <div *ngIf="batch.recipe_type" class="margin-bottom-md">
                    <label for="jobNames">Job Names</label>
                    <p-multiSelect id="jobNames" [options]="jobOptions" [(ngModel)]="batch.definition.job_names"
                                   [style]="{'width':'100%', 'margin-bottom':'10px'}" defaultLabel="Select..."
                                   [disabled]="batch.definition.all_jobs"></p-multiSelect>
                </div>

                <div class="margin-bottom-md">
                    <p-checkbox id="allJobs" label="All Jobs" (onChange)="setAllJobs($event)"
                                pTooltip="Re-process every job. This overrides the values included in 'Job Names'">
                    </p-checkbox>
                </div>

                <div>
                    <label for="priority">Priority:</label>
                    <input pInputText type="number" id="priority" [(ngModel)]="batch.configuration.priority"
                           class="full-width"/>
                </div>
            </div>
        </div>
    </p-panel>
    <div class="text-right margin-top-md">
        <button pButton label="Validate" icon="fa fa-check" (click)="validateBatch()"
                [disabled]="!this.batch.recipe_type || !this.batch.title" *ngIf="!isValidated"></button>
        <button pButton label="Save" icon="fa fa-save" *ngIf="isValidated"></button>
    </div>
</div>
