<div class="batches__create-form-container">
    <p-panel>
        <p-header>
            <h2><i class="fa fa-files-o"></i> {{ batch.title }}</h2>
        </p-header>
        <div class="ui-g">
            <div class="ui-g-12">
                <label for="recipeType">Definition:</label>
                <p-dropdown id="definition" [options]="previousBatchOptions" placeholder="Select..." autoWidth="false"
                            [(ngModel)]="batch.definition" [style]="{'width': '100%'}">
                    <ng-template let-previousBatch p-template="item">
                        {{ previousBatch.title }}
                    </ng-template>
                </p-dropdown>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-6">
                <label for="title">Title *:</label>
                <input pInputText type="text" id="title" [(ngModel)]="batch.title" class="full-width"/>
            </div>
            <div class="ui-g-6">
                <label for="recipeType">Recipe Type *:</label>
                <p-dropdown id="recipeType" [options]="recipeTypeOptions" placeholder="Select..." autoWidth="false"
                            [(ngModel)]="batch.recipe_type" [style]="{'width': '100%'}">
                    <ng-template let-recipeType p-template="item">
                        {{ recipeType.title }} v{{ recipeType.version }}
                    </ng-template>
                </p-dropdown>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-12">
                <label for="description">Description:</label>
                <textarea pInputTextarea type="text" id="description" rows="8" [(ngModel)]="batch.description"
                          class="full-width"></textarea>
            </div>
        </div>
    </p-panel>
</div>
