<div class="navbar-ctr">
    <div class="navbar" (click)="selectNavItem($event, null)">
        <div class="flexed desktop" *ngIf="!isMobile">
            <div class="navbar__logo">
                <a routerLink="/">
                    <dev-logo></dev-logo>
                </a>
            </div>
            <div [ngClass]="getNavItemStyles('processing')">
                <a (click)="selectNavItem($event, 'processing')"><i class="fa fa-gears"></i> Processing</a>
            </div>
            <div [ngClass]="getNavItemStyles('data')">
                <a (click)="selectNavItem($event, 'data')"><i class="fa fa-hdd-o"></i> Data</a>
            </div>
            <div [ngClass]="getNavItemStyles('configuration')">
                <a (click)="selectNavItem($event, 'configuration')"><i class="fa fa-wrench"></i> Configuration</a>
            </div>
            <div [ngClass]="getNavItemStyles('system')">
                <a (click)="selectNavItem($event, 'system')"><i class="fa fa-television"></i> System</a>
            </div>
        </div>
        <div class="flexed mobile" *ngIf="isMobile">
            <div class="navbar__logo-mobile">
                <a routerLink="/">
                    <dev-logo></dev-logo>
                </a>
            </div>
            <p-slideMenu #menu [model]="itemsMobile" [popup]="true" [viewportHeight]="340"></p-slideMenu>
            <button pButton type="button" class="navbar__mobile-nav-button" icon="fa fa-bars"
                    (click)="menu.toggle($event)"></button>
        </div>
        <div class="flexed navbar__settings" style="height: 100%">
            <div class="navbar__status" *ngIf="isAuthenticated">
                <dev-status></dev-status>
            </div>
            <div class="navbar__theme" (click)="changeTheme()" [pTooltip]="themeTooltip" tooltipPosition="bottom">
                <span [ngClass]="themeIcon"></span>
            </div>
            <div class="navbar__system" *ngIf="isAuthenticated" pTooltip="System Status"
                 tooltipPosition="bottom" (click)="onSystemClick($event)">
                <div class="navbar__icon">
                    <span class="fa fa-bell"></span>
                    <span class="label label-danger" *ngIf="statusAlerts.length > 0">
                        <i class="fa fa-warning"></i>
                    </span>
                </div>
            </div>
            <div class="navbar__theme" [ngClass]="schedulerClass" (click)="toggleScheduler()"
                 [pTooltip]="schedulerTooltip" tooltipPosition="bottom">
                <span class="fa fa-power-off"></span>
            </div>
        </div>
    </div>
</div>
<dev-subnav [sectionId]="selectedId" (navigateEvent)="onNavigate()"></dev-subnav>
<p-overlayPanel styleClass="navbar__system-overlaypanel" appendTo="body" [dismissable]="true" #systemOp>
    <div class="navbar__system-status">
        <h2>System Status</h2>
        <ul>
            <li *ngFor="let status of statuses | keyvalue">
                <i [ngClass]="status.value.styleClass"></i> {{ status.value.label }}
            </li>
        </ul>
        <hr/>
        <div class="text-right">
            <a routerLink="/system/status">View Details <i class="fa fa-caret-right"></i></a>
        </div>
    </div>
</p-overlayPanel>
