@import '../../defaults/animations';
@import '../../defaults/colors';


$navbar-height: 68px;
$navshadow: 0 0 0.5em $clr-black;
$navbar-status-width: 250px;
$navbar-item-width: 150px;


.navbar-ctr {
    height: $navbar-height;
}

.navbar {
    align-items: stretch;
    background: $clr-navbar-dark;
    //box-shadow: $navshadow;
    display: flex;
    height: $navbar-height;
    justify-content: flex-start;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1001;
}

.navbar__item {
    border-left: 1px solid $clr-navbar-light;
    display: flex;
    justify-content: center;
    user-select: none;
    font-size: 1.2em;

    a {
        color: $clr-gray-85;
        padding: 1.3em 1.1em 1.1em 1.1em;
        text-align: center;
        text-decoration: none;
        text-shadow: 0 1px 0 $clr-navbar-dark;
        transition: $default-transition;
        width: $navbar-item-width;

        &:hover {
            background: $clr-navbar-light;
            color: $clr-white;
        }
    }

    i {
        margin-right: 0.5em;
    }

    &:last-of-type {
        border-right: 1px solid $clr-navbar-light;
    }
}

.navbar__item-selected {
    @extend .navbar__item;

    a {
        background: $clr-scale-blue2;
        color: $clr-white;
        text-shadow: 0 1px 0 $clr-black;

        &:hover {
            background: $clr-scale-blue2;
            color: $clr-white;
            text-shadow: 0 1px 0 $clr-black;
        }
    }
}

.navbar__logo {
    color: $clr-white;
    margin-right: 1.0em;
    padding: 1em 1.25em 0.5em 1.25em;
    text-align: center;

    a {
        color: $clr-white;
        text-decoration: none;
        text-shadow: none;
    }
}

.navbar__status {
    position: absolute;
    right: 0;
    top: 0;
    width: $navbar-status-width;
    z-index: 1001;
}
