@import '../../defaults/animations';

$navbar-height: 72px;
$navshadow: 0 0 0.5em var(--black);
$navbar-status-width: 250px;
$navbar-item-width: 150px;


.navbar-ctr {
    height: $navbar-height;
}

.navbar {
    align-items: center;
    background: var(--navbar-dark);
    //box-shadow: $navshadow;
    display: flex;
    height: $navbar-height;
    justify-content: space-between;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1001;
}

.navbar__item {
    border-left: 1px solid var(--navbar-light);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    font-size: 1em;

    a {
        color: var(--grey-85);
        padding: 1.8em 1.1em 1.6em 1.1em;
        text-align: center;
        text-decoration: none;
        text-shadow: 0 1px 0 var(--navbar-dark);
        transition: $default-transition;
        width: $navbar-item-width;

        &:hover {
            background: var(--navbar-light);
            color: var(--white);
        }
    }

    i {
        margin-right: 0.5em;
    }

    &:last-of-type {
        border-right: 1px solid var(--navbar-light);
    }
}

.navbar__item-selected {
    @extend .navbar__item;

    a {
        background: var(--scale-primary);
        color: var(--white);
        text-shadow: 0 1px 0 var(--black);

        &:hover {
            background: var(--scale-primary);
            color: var(--white);
            text-shadow: 0 1px 0 var(--black);
        }
    }
}

.navbar__logo {
    color: var(--white);
    margin-right: 1.0em;
    padding: 0.8em 1.25em 0.5em 1.25em;
    text-align: center;

    a {
        color: var(--white);
        text-decoration: none;
        text-shadow: none;
    }
}

.navbar__logo-mobile {
    color: var(--white);
    padding: 0.8em 1.25em 0.5em 1.25em;
    text-align: center;

    a {
        color: var(--white);
        text-decoration: none;
        text-shadow: none;
    }
}

.navbar__status {
    width: $navbar-status-width;
}

.navbar__settings {
    .navbar__scheduler, .navbar__theme, .navbar__profile {
        margin: 0 0 0 1px;
        color: var(--white);
        font-size: 25px;
        background-color: var(--navbar-background);
        width: 80px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: $default-transition;

        &:hover {
            cursor: pointer;
            background-color: var(--navbar-light);
        }

        .navbar__icon {
            position: relative;

            .label {
                font-size: 10px;
                position: absolute;
                top: 4px;
                right: -10px;
            }
        }
    }
}

::ng-deep .ui-overlaypanel {
    &.navbar__scheduler-overlaypanel {
        width: 350px;
        padding: 10px 0;

        &:before {
            margin-right: 13px;
        }

        &:after {
            margin-right: 15px;
        }

        ul {
            padding: 0 0 0 17px;
        }
    }
    &.navbar__scheduler-overlaypanel {
        h3 {
            margin: 0;
            padding: 0;
        }
    }
}
.navbar__mobile-nav-button {
    background: none;
    border: none;
    height: $navbar-height;
    font-size: 30px;
    padding: .5em;
}

.navbar__scheduler-overlaypanel {
    top: 72px;
}

@media screen and (max-width: 500px) {
    .navbar__status {
        display: none;
    }
}
