<div class="navbar-ctr">
    <div class="navbar" (click)="selectNavItem($event, null)">
        <div class="flexed">
            <div class="navbar__logo">
                <a routerLink="/">
                    <dev-logo></dev-logo>
                </a>
            </div>
            <div [ngClass]="getNavItemStyles('processing')">
                <a (click)="selectNavItem($event, 'processing')"><i class="fa fa-gears"></i> Processing</a>
            </div>
            <div [ngClass]="getNavItemStyles('data')">
                <a (click)="selectNavItem($event, 'data')"><i class="fa fa-hdd-o"></i> Data</a>
            </div>
            <div [ngClass]="getNavItemStyles('configuration')">
                <a (click)="selectNavItem($event, 'configuration')"><i class="fa fa-wrench"></i> Configuration</a>
            </div>
            <div [ngClass]="getNavItemStyles('system')">
                <a (click)="selectNavItem($event, 'system')"><i class="fa fa-television"></i> System</a>
            </div>
        </div>
        <div class="flexed" style="height: 100%">
            <div class="navbar__status" *ngIf="isAuthenticated">
                <dev-status (statusChange)="onStatusChange($event)"></dev-status>
            </div>
            <div class="navbar__scheduler" *ngIf="isAuthenticated" pTooltip="Scheduler Status" tooltipPosition="bottom"
                 (click)="schedulerOp.toggle($event)">
                <span class="fa fa-heartbeat"></span>
            </div>
            <div class="navbar__theme" (click)="changeTheme()" [pTooltip]="themeTooltip" tooltipPosition="bottom">
                <span [ngClass]="themeIcon"></span>
            </div>
            <div class="navbar__profile" *ngIf="auth.enabled" (click)="profileOp.toggle($event)" #profile>
                <span class="fa fa-user-circle-o"></span>
            </div>
        </div>
    </div>
</div>
<dev-subnav [sectionId]="selectedId" (navigateEvent)="onNavigate()"></dev-subnav>
<p-overlayPanel styleClass="navbar__scheduler-overlaypanel" appendTo="body" [dismissable]="false" #schedulerOp>
    <div class="navbar__scheduler-status" *ngIf="scheduler">
        <h3>{{ scheduler.hostname }}</h3>
        <div>
            <span [ngClass]="schedulerClass"><i [ngClass]="schedulerIcon"></i> {{ scheduler.state.title }}</span>
            {{ scheduler.state.description }}
        </div>
    </div>
</p-overlayPanel>
<p-overlayPanel styleClass="navbar__profile-overlaypanel" appendTo="body" [dismissable]="false"
                (onShow)="handleOnProfileShow()" #profileOp>
    <div class="navbar__profile-login" *ngIf="!isAuthenticated">
        <input pInputText type="text" placeholder="Username" [(ngModel)]="username" (keypress)="handleKeyPress($event)"
               #user/>
        <input pInputText type="password" placeholder="Password" [(ngModel)]="password"
               (keypress)="handleKeyPress($event)"/>
        <button pButton type="button" class="ui-button-secondary" icon="fa fa-sign-in" label="Login" (click)="login()"
                [disabled]="!username || !password"></button>
    </div>
</p-overlayPanel>
