<h2><i class="fa fa-exclamation-triangle"></i> Job Type Failure Rates</h2>
<p-table [value]="performanceData" [columns]="columns" [rows]="10" [loading]="datatableLoading" [autoLayout]="true"
         styleClass="fail-rate__table">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [ngSwitch]="col.field">
                {{ col.header }}
                <div *ngSwitchCase="'job_type.id'">
                    <p-dropdown [options]="jobTypeOptions" [(ngModel)]="selectedJobType" (onChange)="onChange($event)" [autoWidth]="false"
                                appendTo="body" styleClass="column-filter" [showClear]="false">
                        <ng-template let-jobType p-template="item">
                            {{ jobType.label }}
                        </ng-template>
                    </p-dropdown>
                </div>
                <div *ngSwitchCase="'twentyfour_hours'">
                    <div class="ui-g">
                        <div class="ui-g-6 label-container text-left ui-g-nopad">
                            <span (click)="sortBy('twentyfour_hours.failRate')" class="sortable">
                                Failure %
                                <i class="fa" [ngClass]="sortConfig.twentyfour_hours.failRate.icon"></i>
                            </span>
                        </div>
                        <div class="ui-g-6 label-container text-right ui-g-nopad">
                            <span class="label label-system sortable" (click)="sortBy('twentyfour_hours.system')" pTooltip="System Errors"
                                  tooltipPosition="top">
                                Sys <i class="fa" [ngClass]="sortConfig.twentyfour_hours.system.icon"></i>
                            </span>
                            <span class="label label-algorithm sortable" (click)="sortBy('twentyfour_hours.algorithm')"
                                  pTooltip="Algorithm Errors" tooltipPosition="top">
                                Alg <i class="fa" [ngClass]="sortConfig.twentyfour_hours.algorithm.icon"></i>
                            </span>
                            <span class="label label-data sortable" (click)="sortBy('twentyfour_hours.data')" pTooltip="Data Errors"
                                  tooltipPosition="top">
                                Data <i class="fa" [ngClass]="sortConfig.twentyfour_hours.data.icon"></i>
                            </span>
                            <span class="label label-primary sortable" (click)="sortBy('twentyfour_hours.total')" pTooltip="Total Completed"
                                  tooltipPosition="top">
                                Total <i class="fa" [ngClass]="sortConfig.twentyfour_hours.total.icon"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div *ngSwitchCase="'fortyeight_hours'">
                    <div class="ui-g">
                        <div class="ui-g-6 label-container text-left ui-g-nopad">
                            <span (click)="sortBy('fortyeight_hours.failRate')" class="sortable">
                                Failure %
                                <i class="fa" [ngClass]="sortConfig.fortyeight_hours.failRate.icon"></i>
                            </span>
                        </div>
                        <div class="ui-g-6 label-container text-right ui-g-nopad">
                            <span class="label label-system sortable" (click)="sortBy('fortyeight_hours.system')" pTooltip="System Errors"
                                  tooltipPosition="top">
                                Sys <i class="fa" [ngClass]="sortConfig.fortyeight_hours.system.icon"></i>
                            </span>
                            <span class="label label-algorithm sortable" (click)="sortBy('fortyeight_hours.algorithm')"
                                  pTooltip="Algorithm Errors" tooltipPosition="top">
                                Alg <i class="fa" [ngClass]="sortConfig.fortyeight_hours.algorithm.icon"></i>
                            </span>
                            <span class="label label-data sortable" (click)="sortBy('fortyeight_hours.data')" pTooltip="Data Errors"
                                  tooltipPosition="top">
                                Data <i class="fa" [ngClass]="sortConfig.fortyeight_hours.data.icon"></i>
                            </span>
                            <span class="label label-primary sortable" (click)="sortBy('fortyeight_hours.total')" pTooltip="Total Completed"
                                  tooltipPosition="top">
                                Total <i class="fa" [ngClass]="sortConfig.fortyeight_hours.total.icon"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div *ngSwitchCase="'thirty_days'">
                    <div class="ui-g">
                        <div class="ui-g-6 label-container text-left ui-g-nopad">
                            <span (click)="sortBy('thirty_days.failRate')" class="sortable">
                                Failure %
                                <i class="fa" [ngClass]="sortConfig.thirty_days.failRate.icon"></i>
                            </span>
                        </div>
                        <div class="ui-g-6 label-container text-right ui-g-nopad">
                            <span class="label label-system sortable" (click)="sortBy('thirty_days.system')" pTooltip="System Errors"
                                  tooltipPosition="top">
                                Sys <i class="fa" [ngClass]="sortConfig.thirty_days.system.icon"></i>
                            </span>
                            <span class="label label-algorithm sortable" (click)="sortBy('thirty_days.algorithm')"
                                  pTooltip="Algorithm Errors" tooltipPosition="top">
                                Alg <i class="fa" [ngClass]="sortConfig.thirty_days.algorithm.icon"></i>
                            </span>
                            <span class="label label-data sortable" (click)="sortBy('thirty_days.data')" pTooltip="Data Errors"
                                  tooltipPosition="top">
                                Data <i class="fa" [ngClass]="sortConfig.thirty_days.data.icon"></i>
                            </span>
                            <span class="label label-primary sortable" (click)="sortBy('thirty_days.total')" pTooltip="Total Completed"
                                  tooltipPosition="top">
                                Total <i class="fa" [ngClass]="sortConfig.thirty_days.total.icon"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns" [ngSwitch]="col.field">
                <div *ngSwitchCase="'job_type.id'">
                    <i class="fa fa-fw" [innerHtml]="getUnicode(rowData.job_type.icon_code)"></i>
                    {{ rowData.job_type.title }} {{ rowData.job_type.version }}
                </div>
                <div *ngSwitchCase="'twentyfour_hours'">
                    <div class="ui-g">
                        <div class="ui-g-6 label-container text-left ui-g-nopad">
                            <span *ngIf="rowData.twentyfour_hours.total > 0" class="fail-rate-container">
                                <span class="fail-rate" [style.width]="rowData.twentyfour_hours.failRatePercent"></span>
                            </span>
                            <span *ngIf="rowData.twentyfour_hours.total > 0" class="percentage">
                                {{ rowData.twentyfour_hours.failRatePercent }}
                            </span>
                            <span *ngIf="rowData.twentyfour_hours.total === 0" class="fail-rate-container">
                                <span class="fail-rate" style="display: none"></span>
                            </span>
                            <span *ngIf="rowData.twentyfour_hours.total === 0" class="percentage">0%</span>
                        </div>
                        <div class="ui-g-6 label-container text-right ui-g-nopad">
                            <span class="label label-system"
                                  [style.color]="getColor(rowData.twentyfour_hours)"
                                  [style.background]="getBackground(rowData.twentyfour_hours, 'system')">
                                {{ rowData.twentyfour_hours.system }}
                            </span>
                            <span class="label label-system"
                                  [style.color]="getColor(rowData.twentyfour_hours)"
                                  [style.background]="getBackground(rowData.twentyfour_hours, 'algorithm')">
                                {{ rowData.twentyfour_hours.algorithm }}
                            </span>
                            <span class="label label-system"
                                  [style.color]="getColor(rowData.twentyfour_hours)"
                                  [style.background]="getBackground(rowData.twentyfour_hours, 'data')">
                                {{ rowData.twentyfour_hours.data }}
                            </span>
                            <span class="label label-primary">{{rowData.twentyfour_hours.total}}</span>
                        </div>
                    </div>
                </div>
                <div *ngSwitchCase="'fortyeight_hours'">
                    <div class="ui-g">
                        <div class="ui-g-6 label-container text-left ui-g-nopad">
                            <span *ngIf="rowData.fortyeight_hours.total > 0" class="fail-rate-container">
                                <span class="fail-rate" [style.width]="rowData.fortyeight_hours.failRatePercent"></span>
                            </span>
                            <span *ngIf="rowData.fortyeight_hours.total > 0" class="percentage">
                                {{rowData.fortyeight_hours.failRatePercent}}
                            </span>
                            <span *ngIf="rowData.fortyeight_hours.total === 0" class="fail-rate-container">
                                <span class="fail-rate" style="display: none"></span>
                            </span>
                            <span *ngIf="rowData.fortyeight_hours.total === 0" class="percentage">0%</span>
                        </div>
                        <div class="ui-g-6 label-container text-right ui-g-nopad">
                            <span class="label label-system"
                                  [style.color]="getColor(rowData.fortyeight_hours)"
                                  [style.background]="getBackground(rowData.fortyeight_hours, 'system')">
                                {{ rowData.fortyeight_hours.system }}
                            </span>
                            <span class="label label-system"
                                  [style.color]="getColor(rowData.fortyeight_hours)"
                                  [style.background]="getBackground(rowData.fortyeight_hours, 'algorithm')">
                                {{ rowData.fortyeight_hours.algorithm }}
                            </span>
                            <span class="label label-system"
                                  [style.color]="getColor(rowData.fortyeight_hours)"
                                  [style.background]="getBackground(rowData.fortyeight_hours, 'data')">
                                {{ rowData.fortyeight_hours.data }}
                            </span>
                            <span class="label label-primary">{{rowData.fortyeight_hours.total}}</span>
                        </div>
                    </div>
                </div>
                <div *ngSwitchCase="'thirty_days'">
                    <div class="ui-g">
                        <div class="ui-g-6 label-container text-left ui-g-nopad">
                            <span *ngIf="rowData.thirty_days.total > 0" class="fail-rate-container">
                                <span class="fail-rate" [style.width]="rowData.thirty_days.failRatePercent"></span>
                            </span>
                            <span *ngIf="rowData.thirty_days.total > 0" class="percentage">
                                {{ rowData.thirty_days.failRatePercent }}
                            </span>
                            <span *ngIf="rowData.thirty_days.total === 0" class="fail-rate-container">
                                <span class="fail-rate" style="display: none"></span>
                            </span>
                            <span *ngIf="rowData.thirty_days.total === 0" class="percentage">0%</span>
                        </div>
                        <div class="ui-g-6 label-container text-right ui-g-nopad">
                            <span class="label label-system"
                                  [style.color]="getColor(rowData.thirty_days)"
                                  [style.background]="getBackground(rowData.thirty_days, 'system')">
                                {{rowData.thirty_days.system}}
                            </span>
                            <span class="label label-system"
                                  [style.color]="getColor(rowData.thirty_days)"
                                  [style.background]="getBackground(rowData.thirty_days, 'algorithm')">
                                {{ rowData.thirty_days.algorithm }}
                            </span>
                            <span class="label label-system"
                                  [style.color]="getColor(rowData.thirty_days)"
                                  [style.background]="getBackground(rowData.thirty_days, 'data')">
                                {{ rowData.thirty_days.data }}
                            </span>
                            <span class="label label-primary">{{rowData.thirty_days.total}}</span>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>
