.dashboard {
    .dashboard__favs-container {
        ::ng-deep .ui-panel-content {
            height: 388px;
        }
    }

    .charts {
        ::ng-deep .ui-panel-content {
            height: 388px;
        }
    }

    .dashboard__error-charts {
        ::ng-deep .ui-panel-content {
            height: 388px;
        }

        .dashboard__error-chart {
            h3 {
                margin: 0 0 5px 0;
                text-align: center;
            }

            h4 {
                margin: -10px 0 10px 0;
                text-align: center;
            }
        }
    }

    .dashboard__jobs-table {
        display: flex;
        justify-content: space-between;

        ::ng-deep .ui-panel-content {
            height: 388px;
        }
    }

    .dashboard__all-container {
        ::ng-deep .ui-scrollpanel {
            height: 815px;
        }
    }
}

.dashboard__item {
    background: var(--white);
    background-image: linear-gradient(to bottom, var(--white), var(--grey-98));
    border-radius: 0.25em;
    box-shadow: 0 0 0.5em var(--grey-80);
    flex: 1;
    margin: 0.5em 0.25em;
    min-height: 400px;
    padding: 0.5em 1.0em;
}
@media screen and (min-width: 1320px) and (max-width: 1651px) {
    .dashboard__error-charts {
        width: 21.2% !important;
    }
    .dashboard__favs-container {
        width: 20% !important;
    }
}
@media screen and  (max-width: 1320px) {
    .dashboard__error-charts {
        width: 100% !important;
    }
    .dashboard__favs-container {
        width: 100% !important;
    }
    .p-xl-7 {
        width: 100% !important;
    }
}