.dashboard {
    .dashboard__favs-container {
        ::ng-deep .ui-panel-content {
            height: 388px;
        }
    }

    .charts {
        ::ng-deep .ui-panel-content {
            height: 388px;
        }
    }
    .charts-tabbed {
        ::ng-deep .ui-panel-content {
            height: 438px;
        }
    }

    .dashboard__error-charts {
        ::ng-deep .ui-panel-content {
            height: 848px;
        }
    }
    .dashboard__error-charts-fav {
        ::ng-deep .ui-panel-content {
            height: 898px;
        }

    }
    #plot {
        background-color: transparent !important;
     }

    .dashboard__jobs-table {
        display: flex;
        justify-content: space-between;

        ::ng-deep .ui-panel-content {
            height: 388px;
        }
    }

    .dashboard__job-types {
        ::ng-deep .ui-scrollpanel {
            height: 388px;
        }
    }
    .dashboard__job-types-fav {
        ::ng-deep .ui-scrollpanel {
            height: 420px;
        }
    }
}
.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10% 0;
}
.caption {
    margin-top: 5px;
}

.dashboard__item {
    background: var(--white);
    background-image: linear-gradient(to bottom, var(--white), var(--grey-98));
    border-radius: 0.25em;
    box-shadow: 0 0 0.5em var(--grey-80);
    flex: 1;
    margin: 0.5em 0.25em;
    min-height: 400px;
    padding: 0.5em 1.0em;
}
