
// Hat tip to: https://seesparkbox.com/foundry/sassy_grayscale
$clr-white: #ffffff;
$clr-gray-98: #f3f3f3;
$clr-gray-95: #ededed;
$clr-gray-90: #e3e3e3;
$clr-gray-85: #d9d9d9;
$clr-gray-80: #cccccc;
$clr-gray-75: #c0c0c0;
$clr-gray-70: #b0b0b0;
$clr-gray-60: #999999;
$clr-gray-50: #808080;
$clr-gray-45: #727272;
$clr-gray-40: #696969;
$clr-gray-30: #4d4d4d;
$clr-gray-20: #363636;
$clr-gray-15: #222222;
$clr-gray-10: #171717;
$clr-black: #000000;

$clr-royal01: #141e30;
$clr-royal02: #243b55;

$clr-blue-lgt: #009ac8;
$clr-blue-med: #1950fb;
$clr-blue-drk: #273662;
$clr-green: #00cd8c;
$clr-orange: #cf6a34;
$clr-red: #fb4719;

$clr-scale-blue1: #48ACFF;
$clr-scale-blue2: #0071BC;
$clr-scale-outline: #00141E;

$clr-dark: #202223;
$clr-light: $clr-gray-98;
$clr-highlight: $clr-scale-blue1;

$clr-navbar-light: #2E3F50;
$clr-navbar-dark: #22292E;
$clr-navbar-hover: #293134;

$clr-status-good: #354131; //desaturate(darken(#76a269, 30%), 10%);
$clr-status-warn: #9a733b; //desaturate(darken(#da932e, 10%), 25%);
$clr-status-error: #934638; //desaturate(darken(#d66e5b, 20%), 15%);
$clr-status-unknown: $clr-gray-30;

// $base-color: #934638;
// $clr-status-red1: adjust-hue($base-color, 15%);
// $clr-status-red2: adjust-hue($base-color, 30%);
