
// Hat tip to: https://seesparkbox.com/foundry/sassy_grayscale
$clr-white: #ffffff;
$clr-gray-95: #ededed;
$clr-gray-90: #e3e3e3;
$clr-gray-85: #d9d9d9;
$clr-gray-80: #cccccc;
$clr-gray-75: #c0c0c0;
$clr-gray-70: #b0b0b0;
$clr-gray-60: #999999;
$clr-gray-50: #808080;
$clr-gray-45: #727272;
$clr-gray-40: #696969;
$clr-gray-30: #4d4d4d;
$clr-gray-20: #363636;
$clr-gray-15: #222222;
$clr-gray-10: #171717;
$clr-black: #000000;

$clr-royal01: #141e30;
$clr-royal02: #243b55;

$clr-dark: #202223;
$clr-light: #f3f4f6;
$clr-highlight: #0cf;
