// Hat tip to: https://seesparkbox.com/foundry/sassy_grayscale
$clr-white: #ffffff;
$clr-gray-90: #E3E3E3;
$clr-gray-70: #B0B0B0;
$clr-gray-40: #696969;
$clr-gray-15: #222222;
$clr-black: #000000;

$clr-dark: #202223;
$clr-light: #f3f4f6;
$clr-highlight: #0cf;
