//.ui-steps .ui-steps-item {
//    float: none;
//}
//.ui-message {
//    margin: 0;
//}
//.ui-accordion .ui-accordion-header a {
//    text-decoration: none;
//}
//.ui-accordion .ui-accordion-header.ui-state-active {
//    background: #f6f7f9;
//    border-color: #d9d9d9;
//    border-radius: 3px;
//}
.ui-table .ui-table-thead>tr>th,
.ui-table .ui-table-tbody>tr>td,
.ui-table .ui-table-tfoot>tr>td {
    padding: .35em .5em;
}

.ui-panel {
    padding: 0;

    .ui-panel-titlebar {
        padding: .75em 1.25em .5em 1.25em;
        font-weight: bold;
        border-top: none;
        border-right: none;
        border-bottom: 1px solid #e6e6e6;
        border-left: none;
        border-top-left-radius: 0.25em;
        border-top-right-radius: 0.25em;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}

.ui-scrollpanel-bar-x {
    display: none;
}

.CodeMirror {
    height: auto;
}

.angular-utc-datepicker_button {
    padding: 6px !important;
    border: 1px solid #ccc;
    border-radius: 0;
}
