// Check out https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/
$system: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$serif: Georgia, Cambria, 'Times New Roman', Times, serif;
$sanserif: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Arial, sans-serif;
$csstricks-mono: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier, monospace;

$fontstack-mono: $csstricks-mono;
$fontstack-body: $system;
$fontstack-headings: $system;

body {
    font-family: $fontstack-body;
    font-size: 20px;
    line-height: 1.45em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $fontstack-headings;
    font-weight: bold;
    line-height: 1.35em;
}
