@import 'luna-blue.css';

.app {
    background: #1c212b;
    background-image: linear-gradient(to bottom, rgb(48, 59, 65), rgb(39, 46, 51));
    color: #e3e3e3;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1;
    padding: 1.0em 2.0em;
}

.scale-loading {
    background: rgba(75, 75, 75, 0.5) !important;
}

.table-striped ttr:nth-child(odd) {
    background-color: #323232 !important;
}
.table-striped ttr:nth-child(even) {
    background-color: #1f1f1f !important;
}

.recipe-container {
    border-color: #626262 !important;
    background: #323232 !important;
}

.ui-button-secondary {
    color: #f4f4f4 !important;
    background-color: #444 !important;
    border: 1px solid #666 !important;
}

.ui-button-secondary:hover {
    background-color: #666 !important;
}

pre {
    color: #f5f5f5 !important;
    background-color: rgb(48, 59, 65) !important;
    border: 1px solid #777 !important;
}
.ui-inputtext {
    background: #6e7179 !important;
    border: 1px solid #6e7179 !important;
}
.ui-chkbox .ui-chkbox-box {
    border: 1px solid #6e7179 !important;
    background-color: #6e7179 !important
}
.ui-chkbox .ui-chkbox-box.ui-state-focus {
    background-color: #6e7179 !important;
}
.ui-radiobutton .ui-radiobutton-box {
    border: 1px solid #6e7179 !important;
    background-color: #6e7179 !important;
}
.ui-radiobutton .ui-radiobutton-box.ui-state-focus {
    background-color: #6e7179 !important;
}
.ui-inputswitch .ui-inputswitch-slider {
    background: #6e7179 !important;
}
.ui-inputswitch .ui-inputswitch-slider:before {
    background-color: #22292E !important;
}
.ui-inputswitch:not(.ui-state-disabled):hover .ui-inputswitch-slider {
    background-color: #6e7179 !important;
}
.ui-autocomplete-panel {
    background-color: #22292E !important;
}
.ui-autocomplete-panel .ui-autocomplete-items .ui-autocomplete-group {
    background-color: #6e7179 !important;
}
.ui-dropdown {
    background: #6e7179 !important;
    border: 1px solid #6e7179 !important;
}
.ui-dropdown .ui-dropdown-trigger {
    background-color: #6e7179 !important;
}
.ui-dropdown-panel {
    background-color: #22292E !important;
}
.ui-multiselect {
    background: #6e7179 !important;
    border: 1px solid #6e7179 !important;
}
.ui-multiselect .ui-multiselect-trigger {
    background-color: #6e7179 !important;
}
.ui-multiselect-panel {
    background-color: #22292E !important;
}
.ui-multiselect-panel .ui-multiselect-items .ui-multiselect-item.ui-state-disabled .ui-chkbox-box:hover {
    border: 1px solid #6e7179 !important;
}
.ui-listbox {
    background: #22292E !important;
}
.ui-listbox .ui-listbox-list {
    background-color: #22292E !important;
}
.ui-listbox.ui-state-disabled .ui-chkbox-box:not(.ui-state-disabled):not(.ui-state-active):hover {
    border: 1px solid #6e7179 !important;
}
.ui-editor-container .ui-editor-content .ql-editor {
    background-color: #6e7179 !important;
}
.ui-slider {
    background-color: #6e7179 !important;
}
.ui-datepicker {
    background-color: #22292E !important;
}
.ui-fileupload .ui-fileupload-content {
    background-color: #22292E !important;
}
.ui-password-panel {
    background-color: #22292E !important;
}
.ui-button.ui-state-default.ui-button-secondary, .ui-buttonset.ui-button-secondary > .ui-button.ui-state-default {
    color: #FFFFFF !important;
    background-color:  rgb(39, 46, 51) !important;
    border: 1px solid  rgb(39, 46, 51) !important;
}
.ui-button.ui-state-default.ui-button-secondary:enabled:hover, .ui-buttonset.ui-button-secondary > .ui-button.ui-state-default:enabled:hover {
    background-color: #2E3F50 !important;
    color: #FFFFFF !important;
    border-color: #2E3F50 !important;
}
.ui-panel .ui-panel-content {
    background-color: #22292E !important;
}
.ui-panel .ui-panel-footer {
    background-color: #22292E !important;
}
.ui-fieldset {
    background-color: #22292E !important;
}
.ui-accordion .ui-accordion-content {
    background-color: #22292E !important;
}
.ui-tabview .ui-tabview-panels {
    background-color: #22292E !important;
}
.ui-card {
    background-color: #22292E !important;
}
.ui-table .ui-table-t> tr {
    background-color: #22292E !important;
}
.ui-table .ui-table-t> tr:nth-child(even) {
    background-color: #22292E !important;
}
.ui-datagrid .ui-datagrid-content {
    background-color: #22292E !important;
}
.ui-datagrid .ui-datagrid-footer {
    background-color: #22292E !important;
}
.ui-datalist .ui-datalist-content {
    background-color: #22292E !important;
}
.ui-datalist .ui-datalist-footer {
    background-color: #22292E !important;
}
.ui-datascroller .ui-datascroller-content {
    background-color: #22292E !important;
}
.ui-datascroller .ui-datascroller-footer {
    background-color: #22292E !important;
}
.ui-virtualscroller .ui-virtualscroller-content {
    background-color: #22292E !important;
}
.ui-virtualscroller .ui-virtualscroller-footer {
    background-color: #22292E !important;
}
.ui-dataview .ui-dataview-content {
    background-color: #22292E !important;
}
.ui-dataview .ui-dataview-footer {
    background-color: #22292E !important;
}
.fc td.ui-widget-content {
    background-color: #22292E !important;
}
.ui-picklist .ui-picklist-list {
    background-color: #22292E !important;
}
.ui-orderlist .ui-orderlist-list {
    background-color: #22292E !important;
}
.ui-tree {
    background-color: #22292E !important;
}
.ui-tree.ui-tree-horizontal .ui-treenode .ui-treenode-content {
    background-color: #22292E !important;
}
.ui-organizationchart .ui-organizationchart-node-content {
    background-color: #22292E !important;
}
.ui-organizationchart .ui-organizationchart-node-content {
    background-color: #22292E !important;
}
.ui-treetable .ui-treetable-t> tr {
    background-color: #22292E !important;
}
.ui-overlaypanel {
    background-color: #22292E !important;
}
.ui-overlaypanel:after {
    border-bottom-color: #22292E !important;
}
.ui-overlaypanel.ui-overlaypanel-flipped:after {
    border-top-color: #22292E !important;
}
.ui-dialog .ui-dialog-content {
    background-color: #22292E !important;
}
.ui-dialog .ui-dialog-footer {
    background-color: #22292E !important;
}
.ui-sidebar {
    background-color: #22292E !important;
}
.ui-lightbox .ui-lightbox-content-wrapper {
    background-color: #22292E !important;
}
.ui-breadcrumb {
    background-color: #22292E !important;
}
.ui-terminal {
    background-color: #22292E !important;
}

.dialog-content .recipe-io .connections {
    background: #444 !important;
}
.ui-menubar {
    background-color: #191919 !important;
}