

/*---- start light theme -*/ 

$clr-white: #ffffff;
$clr-gray-98: #f3f3f3;
$clr-gray-95: #ededed;
$clr-gray-90: #e3e3e3;
$clr-gray-85: #d9d9d9;
$clr-gray-80: #cccccc;
$clr-gray-75: #c0c0c0;
$clr-gray-70: #b0b0b0;
$clr-gray-60: #999999;
$clr-gray-50: #808080; // Pass 
$clr-gray-45: #727272; // Pass
$clr-gray-40: #696969; // Pass
$clr-gray-30: #4d4d4d; // Pass
$clr-gray-20: #363636; // Pass
$clr-gray-15: #222222; // Pass
$clr-gray-10: #171717; // Pass
$clr-black: #000000; // Pass 


//general colors
$clr-teal: #2AC992; // pass LIGHT
$clr-aqua: #0FA3BD; // pass LIGHT
$clr-purple-light: #1bbcd8; // pass LIGHT
$clr-purple: #7442d1; // pass LIGHT
$clr-pink: #E73C70; // pass LIGHT
$clr-green: #529D39; // pass - LIGHT
$clr-orange: #e46f21; //pass - LIGHT
$clr-red: #DC2A2A; // pass - LIGHT
$clr-yellow: #FFC505; // FAILS - LIGHT

$clr-scale-blue1: #5C97BF; // pass has been changed
$clr-scale-blue2: #017cce; // pass has been changed
$clr-scale-blue3: #24567F; // pass 

$clr-dark: #202223;
$clr-light: $clr-gray-98;
$clr-highlight: $clr-scale-blue2;

$clr-navbar-light: #2E3F50;
$clr-navbar-dark: #22292E;
$clr-navbar-hover: #293134;
$clr-navbar-text: #fff;

$clr-app-background: #e4e4e4;

// job status colorings
$clr-status-good: $clr-green; 
$clr-status-error: #be292e; // fail ADA - DARK & pass - LIGHT
$clr-status-error-data: $clr-status-error;
$clr-status-error-algorithm: adjust-hue($clr-status-error-data, 20%);
$clr-status-error-system: adjust-hue($clr-status-error-data, 40%);
$clr-status-warn: $clr-status-error-algorithm; 
$clr-status-unknown: $clr-gray-50; 
$clr-status-completed: $clr-scale-blue2; 
$clr-status-failed: $clr-red; 
$clr-status-pending:  $clr-orange; 
$clr-status-queued: $clr-yellow; 
$clr-status-running: $clr-green; 
$clr-status-blocked: $clr-purple-light; 
$clr-status-canceled: $clr-black;
$clr-failure-system: #912125;
$clr-failure-algorithm: #be292e;
$clr-failure-data: #F22613;

// node memory colorings 
$clr-offered: $clr-gray-50;
$clr-free: #6664db; // needs a better color
$clr-unavailable: $clr-gray-30; // pass - LIGHT

$clr-label-text: #fff;
$clr-label-default: #777; // pass - LIGHT
$clr-label-default-hover: #5e5e5e; //  pass -LIGHT
$clr-label-primary: #337ab7; // pass - LIGHT
$clr-label-primary-hover: #286090; // pass - LIGHT
$clr-label-success: #337ab7;
$clr-label-success-hover: #286090;
$clr-label-info: #5bc0de; // fail - LIGHT
$clr-label-info-hover: #31b0d5; // fail - LIGHT
$clr-label-warning: #FF4500; // fail - LIGHT
$clr-label-warning-hover: #da3a00; // fail - LIGHT
$clr-label-danger: $clr-status-error; 
$clr-label-danger-hover: darken($clr-status-error, 20%);

// node status colorings
$clr-ready: $clr-teal;
$clr-paused: $clr-aqua;
$clr-busy: $clr-pink;
$clr-waiting: $clr-purple;