

// Chart JS text fails and needs to be fixed for dark theme
// grey text on nodes page is too small for font color
// Dark theme colors testing


$clr-white: #ffffff;
$clr-gray-98: #f3f3f3;
$clr-gray-95: #ededed;
$clr-gray-90: #e3e3e3;
$clr-gray-85: #d9d9d9;
$clr-gray-80: #cccccc;
$clr-gray-75: #c0c0c0;
$clr-gray-70: #b0b0b0;
$clr-gray-60: #999999;
$clr-gray-50: #808080; 
$clr-gray-45: #727272; 
$clr-gray-40: #696969; 
$clr-gray-30: #4d4d4d;
$clr-gray-20: #363636; 
$clr-gray-15: #222222; 
$clr-gray-10: #171717; 
$clr-black: #000000; 

//general colors
$clr-teal: #2AC992;  
$clr-aqua: #0FA3BD;
$clr-purple-light: #1bbcd8; 
$clr-purple: #7f53d1; // FAILS
$clr-pink: #E73C70; // pass 
$clr-green: #529D39; // pass
$clr-orange: #e46f21; //pass 
$clr-red: #DC2A2A; // pass 
$clr-yellow: #FFC505; // pass

$clr-scale-blue1: #5C97BF; // pass  has been changed
$clr-scale-blue2: #017cce; // pass has been changed
$clr-scale-blue3: #24567F; // fails

$clr-dark: #202223;
$clr-light: $clr-gray-98;
$clr-highlight: $clr-scale-blue2;

$clr-navbar-light: #2E3F50;
$clr-navbar-dark: #22292E;
$clr-navbar-hover: #293134;
$clr-navbar-text: #fff;

$clr-app-background: #e4e4e4;

// job status colorings
$clr-status-good: $clr-green; 
$clr-status-error: #be292e; // fail
$clr-status-warn: #FF4500; 
$clr-status-unknown: $clr-gray-50; 
$clr-status-completed: $clr-scale-blue2; 
$clr-status-failed: $clr-red; 
$clr-status-pending:  $clr-orange; 
$clr-status-queued: $clr-yellow; 
$clr-status-running: $clr-green; 
$clr-status-blocked: $clr-purple-light; 
$clr-status-canceled: $clr-white; // fails
$clr-failure-system: #912125; // fails
$clr-failure-algorithm: #be292e; // fails
$clr-failure-data: #F22613;
$clr-status-error-data: $clr-failure-data;
$clr-status-error-algorithm: $clr-failure-algorithm; // fails
$clr-status-error-system: $clr-failure-system; //fails
// node memory colorings 
$clr-offered: $clr-gray-50;
$clr-free: #0e0bb6; 
$clr-unavailable: $clr-gray-75; // pass kinda

$clr-label-text: #fff;
$clr-label-default: #777;
$clr-label-default-hover: #5e5e5e; 
$clr-label-primary: #337ab7; 
$clr-label-primary-hover: #286090; 
$clr-label-success: #337ab7;
$clr-label-success-hover: #286090;
$clr-label-info: #5bc0de; 
$clr-label-info-hover: #31b0d5; 
$clr-label-warning: $clr-status-warn; 
$clr-label-warning-hover: #da3a00; 
$clr-label-danger: $clr-status-error; //Fails
$clr-label-danger-hover: darken($clr-status-error, 20%);

// node status colorings
$clr-ready: $clr-teal;
$clr-paused: $clr-aqua;
$clr-busy: $clr-pink;
$clr-waiting: $clr-purple;