<div class="job__details" *ngIf="job">
    <h2>
        <i class="fa fa-fw" [innerHtml]="getUnicode(job.job_type.icon_code)"></i>
        {{ job.job_type.title }} v{{ job.job_type.version }}
        <i class="fa fa-fw fa-square job__status" [ngClass]="job.status.toLowerCase()" pTooltip="{{ jobStatus }}"></i>
    </h2>
    <a routerLink="/processing/jobs"><i class="fa fa-caret-left"></i> Jobs List</a>
    <div class="ui-g">
        <div class="ui-g-4">
            <p-scrollPanel styleClass="scale-panel">
                <div class="scale-panel__title">
                    <span class="ui-panel-title">Overview</span>
                </div>
                <div class="scale-panel__body">
                    <table class="table table-striped">
                        <tbody>
                        <tr *ngIf="job.recipes">
                            <td>Recipe:</td>
                            <td>
                                <!--<a ng-href="#/recipes/recipe/{{ vm.job.recipes[0].id }}">-->
                                {{ job.recipes[0].recipe_type.title }} {{ job.recipes[0].recipe_type.version }}
                                <!--</a>-->
                            </td>
                        </tr>
                        <!--<tr ng-show="vm.job.superseded_by_job.id"><td>Superseded By:</td><td><a ng-href="#/jobs/job/{{ vm.job.superseded_by_job.id }}">{{ vm.job.superseded_by_job.job_type.title }} {{ vm.job.superseded_by_job.job_type.version }}</a></td></tr>-->
                        <tr *ngIf="job.superseded_job">
                            <td>Supersedes:</td>
                            <td>
                                <!--<a ng-href="#/jobs/job/{{ vm.job.superseded_job.id }}">-->
                                {{ job.superseded_job.job_type.title }} {{ job.superseded_job.job_type.version }}
                                <!--</a>-->
                            </td>
                        </tr>
                        <tr><td>Trigger:</td><td>{{ job.event.type }} {{ triggerOccurred }}</td></tr>
                        <tr><td>Priority:</td><td>{{ job.priority }}</td></tr>
                        <tr><td>Created:</td><td>{{ job.created_formatted }}</td></tr>
                        <tr><td>Last Updated:</td><td>{{ job.last_modified_formatted }}</td></tr>
                        <tr><td>Num Executions:</td><td>{{ job.num_exes }}</td></tr>
                        <tr><td>Max Tries:</td><td>{{ job.max_tries }}</td></tr>
                        <tr *ngIf="job.timeout"><td>Timeout:</td><td>{{ job.timeout }} seconds</td></tr>
                        </tbody>
                    </table>
                </div>
            </p-scrollPanel>
        </div>
        <div class="ui-g-3">
            <p-scrollPanel styleClass="scale-panel">
                <div class="scale-panel__title">
                    <span class="ui-panel-title">Executions</span>
                </div>
                <div class="scale-panel__body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Status</th>
                            <th>Exit Code</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="job__exe" *ngFor="let exe of job.job_exes" (click)="showExeLog($event, exe)">
                            <td>
                                <i class="fa fa-fw fa-square job__status" [ngClass]="exe.status.toLowerCase()"
                                   (mouseenter)="timeline.show($event)" (mouseleave)="timeline.hide()"></i>
                                <p-overlayPanel #timeline [dismissable]="true" appendTo="body">
                                    <ul class="list-unstyled job__exe-timeline">
                                        <li *ngIf="exe.created_formatted">{{ exe.created_formatted }} (Created)</li>
                                        <li *ngIf="exe.queued_formatted">{{ exe.queued_formatted }} (Queued)</li>
                                        <li *ngIf="exe.started_formatted">{{ exe.started_formatted }} (Started)</li>
                                        <li *ngIf="exe.ended_formatted">{{ exe.ended_formatted }} (Ended)</li>
                                        <li *ngIf="exe.last_modified_formatted">{{ exe.last_modified_formatted }} (Last Modified)</li>
                                    </ul>
                                </p-overlayPanel>
                                {{ exe.status }}
                            </td>
                            <td>{{ exe.job_exit_code || '--' }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </p-scrollPanel>
        </div>
        <div class="ui-g-5">
            <p-scrollPanel styleClass="scale-panel">
                <div class="scale-panel__title">
                    <span class="ui-panel-title">Timeline</span>
                </div>
                <div class="scale-panel__body">
                    <p-chart type="timeline" [options]="options" [data]="data" *ngIf="data"></p-chart>
                </div>
            </p-scrollPanel>
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-6">
            <p-scrollPanel styleClass="scale-panel">
                <div class="scale-panel__title">
                    <span class="ui-panel-title">Inputs</span>
                </div>
                <div class="scale-panel__body">
                    <table class="table table-striped job__io" *ngIf="job.inputs.length > 0">
                        <thead>
                        <tr class="job__io-header">
                            <th>Name</th>
                            <th>Type</th>
                            <th>Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let input of job.inputs">
                            <td>{{ input.name }}</td>
                            <td>{{ input.type }}</td>
                            <td>
                                <span *ngIf="input.type === 'file' && input.value">
                                    <table class="table">
                                        <tr *ngIf="$index === 0">
                                            <td>File Name</td>
                                            <td>File Size</td>
                                            <td>Created</td>
                                            <td>Last Modified</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a *ngIf="input.value.url" href="{{ input.value.url }}" target="_jobfile">
                                                    {{ input.value.file_name }}
                                                </a>
                                                <span *ngIf="!input.value.url">{{ input.value.file_name }}</span>
                                            </td>
                                            <td>{{ calculateFileSize(input.value.file_size) }}</td>
                                            <td>{{ input.value.created }}</td>
                                            <td>{{ input.value.last_modified }}</td>
                                        </tr>
                                    </table>
                                </span>
                                <span *ngIf="input.type === 'files' && input.value">
                                    <table class="table">
                                        <tr>
                                            <td>File Name</td>
                                            <td>File Size</td>
                                            <td>Created</td>
                                            <td>Last Modified</td>
                                        </tr>
                                        <tr *ngFor="let v of input.value">
                                            <td>
                                                <a *ngIf="v.url" href="{{ v.url }}" target="_jobfile">{{ v.file_name }}</a>
                                                <span *ngIf="!v.url">{{ v.file_name }}</span>
                                            </td>
                                            <td>{{ calculateFileSize(v.file_size) }}</td>
                                            <td>{{ v.created }}</td>
                                            <td>{{ v.last_modified }}</td>
                                        </tr>
                                    </table>
                                </span>
                                <span *ngIf="input.type === 'property' && input.value">
                                    {{input.value}}
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </p-scrollPanel>
        </div>
        <div class="ui-g-6">
            <p-scrollPanel styleClass="scale-panel">
                <div class="scale-panel__title">
                    <span class="ui-panel-title">Outputs</span>
                </div>
                <div class="scale-panel__body">
                    <table class="table table-striped job__io" *ngIf="job.outputs.length > 0">
                        <thead>
                        <tr class="job__io-header">
                            <th>Name</th>
                            <th>Type</th>
                            <th>Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let output of job.outputs">
                            <td>{{ output.name }}</td>
                            <td>{{ output.type }}</td>
                            <td>
                                <span *ngIf="output.type === 'file' && output.value">
                                    <table class="table">
                                        <tr *ngIf="$index === 0">
                                            <td>File Name</td>
                                            <td>File Size</td>
                                            <td>Created</td>
                                            <td>Last Modified</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a *ngIf="output.value.url" href="{{ output.value.url }}" target="_jobfile">
                                                    {{ output.value.file_name }}
                                                </a>
                                                <span *ngIf="!output.value.url">{{ output.value.file_name }}</span>
                                            </td>
                                            <td>{{ calculateFileSize(output.value.file_size) }}</td>
                                            <td>{{ output.value.created }}</td>
                                            <td>{{ output.value.last_modified }}</td>
                                        </tr>
                                    </table>
                                </span>
                                <span *ngIf="output.type === 'files' && output.value">
                                    <table class="table">
                                        <tr>
                                            <td>File Name</td>
                                            <td>File Size</td>
                                            <td>Created</td>
                                            <td>Last Modified</td>
                                        </tr>
                                        <tr *ngFor="let v of output.value">
                                            <td>
                                                <a *ngIf="v.url" href="{{ v.url }}" target="_jobfile">{{ v.file_name }}</a>
                                                <span *ngIf="!v.url">{{ v.file_name }}</span>
                                            </td>
                                            <td>{{ calculateFileSize(v.file_size) }}</td>
                                            <td>{{ v.created }}</td>
                                            <td>{{ v.last_modified }}</td>
                                        </tr>
                                    </table>
                                </span>
                                <span *ngIf="output.type === 'property' && output.value">
                                    {{ output.value }}
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </p-scrollPanel>
        </div>
    </div>
    <p-dialog header="Job Execution Log" [(visible)]="logDisplay" [width]="600" [minHeight]="300" [draggable]="true" positionTop="40">
        <span *ngIf="selectedJobExe">
            <app-log-viewer [execution]="selectedJobExe"></app-log-viewer>
        </span>
    </p-dialog>
</div>
