<div class="job__details" *ngIf="job">
    <h2>
        <i class="fa fa-fw" [innerHtml]="getUnicode(job.job_type.icon_code)"></i>
        {{ job.job_type.title }} v{{ job.job_type.version }}
        <i class="fa fa-fw fa-square job__status" [ngClass]="job.status.toLowerCase()" pTooltip="{{ jobStatus }}"></i>
    </h2>
    <a routerLink="/processing/jobs"><i class="fa fa-caret-left"></i> Jobs List</a>
    <div class="ui-g">
        <div class="ui-g-4">
            <p-scrollPanel styleClass="scale-panel">
                <div class="scale-panel__title">
                    <span class="ui-panel-title">Overview</span>
                </div>
                <div class="scale-panel__body">
                    <table class="table table-striped">
                        <tbody>
                        <tr *ngIf="job.recipes">
                            <td>Recipe:</td>
                            <td>
                                <!--<a ng-href="#/recipes/recipe/{{ vm.job.recipes[0].id }}">-->
                                {{ job.recipes[0].recipe_type.title }} {{ job.recipes[0].recipe_type.version }}
                                <!--</a>-->
                            </td>
                        </tr>
                        <!--<tr ng-show="vm.job.superseded_by_job.id"><td>Superseded By:</td><td><a ng-href="#/jobs/job/{{ vm.job.superseded_by_job.id }}">{{ vm.job.superseded_by_job.job_type.title }} {{ vm.job.superseded_by_job.job_type.version }}</a></td></tr>-->
                        <tr *ngIf="job.superseded_job">
                            <td>Supersedes:</td>
                            <td>
                                <!--<a ng-href="#/jobs/job/{{ vm.job.superseded_job.id }}">-->
                                {{ job.superseded_job.job_type.title }} {{ job.superseded_job.job_type.version }}
                                <!--</a>-->
                            </td>
                        </tr>
                        <tr>
                            <td>Trigger:</td>
                            <td>
                                {{ job.event.type }}
                                <span [pTooltip]="dataService.formatDate(job.event.occurred)">
                                    {{ dataService.formatDate(job.event.occurred, true) }}
                                </span>
                            </td>
                        </tr>
                        <tr><td>Priority:</td><td>{{ job.priority }}</td></tr>
                        <tr>
                            <td>Created:</td>
                            <td>
                                <span [pTooltip]="dataService.formatDate(job.created)">
                                    {{ dataService.formatDate(job.created, true) }}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>Last Updated:</td>
                            <td>
                                <span [pTooltip]="dataService.formatDate(job.last_modified)">
                                    {{ dataService.formatDate(job.last_modified, true) }}
                                </span>
                            </td>
                        </tr>
                        <tr><td>Num Executions:</td><td>{{ job.num_exes }}</td></tr>
                        <tr><td>Max Tries:</td><td>{{ job.max_tries }}</td></tr>
                        <tr *ngIf="job.timeout"><td>Timeout:</td><td>{{ job.timeout_formatted }}</td></tr>
                        </tbody>
                    </table>
                </div>
            </p-scrollPanel>
        </div>
        <div class="ui-g-5">
            <p-scrollPanel styleClass="scale-panel">
                <div class="scale-panel__title">
                    <span class="ui-panel-title">Timeline</span>
                </div>
                <div class="scale-panel__body">
                    <p-chart type="timeline" [options]="options" [data]="data" *ngIf="data"></p-chart>
                </div>
            </p-scrollPanel>
        </div>
        <div class="ui-g-3">
            <p-scrollPanel styleClass="scale-panel">
                <app-loading-indicator [loading]="loadingExecutions"></app-loading-indicator>
                <div class="scale-panel__title">
                    <span class="ui-panel-title">Executions</span>
                </div>
                <div class="scale-panel__body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Status</th>
                            <th>Exit Code</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="job__exe" *ngFor="let exe of jobExecutions" (click)="showExeLog($event, exe)">
                            <td>
                                <i class="fa fa-fw fa-square job__status" [ngClass]="exe.status.toLowerCase()"
                                   (mouseenter)="timeline.show($event)" (mouseleave)="timeline.hide()"></i>
                                <p-overlayPanel #timeline [dismissable]="true" appendTo="body">
                                    <ul class="list-unstyled job__exe-timeline">
                                        <li *ngIf="exe.created">{{ exe.created_formatted }} (Created)</li>
                                        <li *ngIf="exe.queued">{{ exe.queued_formatted }} (Queued)</li>
                                        <li *ngIf="exe.started">{{ exe.started_formatted }} (Started)</li>
                                        <li *ngIf="exe.ended">{{ exe.ended_formatted }} (Ended)</li>
                                        <li *ngIf="exe.last_modified">{{ exe.last_modified_formatted }} (Last Modified)</li>
                                    </ul>
                                </p-overlayPanel>
                                {{ exe.status }}
                            </td>
                            <td>{{ exe.job_exit_code || '--' }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </p-scrollPanel>
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-6">
            <p-scrollPanel styleClass="scale-panel">
                <app-loading-indicator [loading]="loadingInputs"></app-loading-indicator>
                <div class="scale-panel__title">
                    <span class="ui-panel-title">Inputs</span>
                </div>
                <div class="scale-panel__body">
                    <div *ngIf="jobInputs.length === 0">
                        No records found.
                    </div>
                    <table class="table table-striped job__io" *ngIf="jobInputs.length > 0">
                        <thead>
                        <tr class="job__io-header">
                            <th>File Name</th>
                            <th>File Size</th>
                            <th>Created</th>
                            <th>Last Modified</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let input of jobInputs">
                            <td>
                                <a *ngIf="input.url" href="{{ input.url }}" target="_jobfile">
                                    {{ input.file_name }}
                                </a>
                                <span *ngIf="!input.url">{{ input.file_name }}</span>
                            </td>
                            <td>{{ calculateFileSize(input.file_size) }}</td>
                            <td>
                                <span [pTooltip]="dataService.formatDate(input.created)">
                                    {{ dataService.formatDate(input.created, true) }}
                                </span>
                            </td>
                            <td>
                                <span [pTooltip]="dataService.formatDate(input.last_modified)">
                                    {{ dataService.formatDate(input.last_modified, true) }}
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </p-scrollPanel>
        </div>
        <div class="ui-g-6">
            <p-scrollPanel styleClass="scale-panel">
                <app-loading-indicator [loading]="loadingOutputs"></app-loading-indicator>
                <div class="scale-panel__title">
                    <span class="ui-panel-title">Outputs</span>
                </div>
                <div class="scale-panel__body">
                    <div *ngIf="jobOutputs.length === 0">
                        No records found.
                    </div>
                    <table class="table table-striped job__io" *ngIf="jobOutputs.length > 0">
                        <thead>
                        <tr class="job__io-header">
                            <th>File Name</th>
                            <th>File Size</th>
                            <th>Created</th>
                            <th>Last Modified</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let output of jobOutputs">
                            <td>
                                <a *ngIf="output.url" href="{{ output.url }}" target="_jobfile">
                                    {{ output.file_name }}
                                </a>
                                <span *ngIf="!output.url">{{ output.file_name }}</span>
                            </td>
                            <td>{{ calculateFileSize(output.file_size) }}</td>
                            <td>
                                <span [pTooltip]="dataService.formatDate(output.created)">
                                    {{ dataService.formatDate(output.created, true) }}
                                </span>
                            </td>
                            <td>
                                <span [pTooltip]="dataService.formatDate(output.last_modified)" tooltipPosition="left">
                                    {{ dataService.formatDate(output.last_modified, true) }}
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </p-scrollPanel>
        </div>
    </div>
    <p-dialog header="Job Execution Log" [(visible)]="logDisplay" [width]="logWidth" [height]="logHeight" [draggable]="true"
              positionTop="40">
        <span *ngIf="selectedJobExe">
            <app-log-viewer [execution]="selectedJobExe" [height]="logHeight * 0.85"></app-log-viewer>
        </span>
    </p-dialog>
</div>
