<div class="flexed space-between">
    <h2><i class="fa fa-files-o margin-right-md"></i>Create Batch Workflow</h2>
</div>
<a routerLink="/processing/batches"><i class="fa fa-caret-left margin-right-md"></i>Batches List</a>
<div class="batch-workflow">
    <p-panel class="batch-workflow__panel" [header]=false>
        <p-header>{{ this.items[activeIndex].label }}</p-header>
        <div class="p-grid batch-workflow__panel-content">
            <p-steps
                #stepper
                class="p-col-2 p-md-3 p-sm-4 batch-workflow__steps"
                [model]="items"
                [(activeIndex)]="activeIndex"
                [readonly]="false"
                (activeIndexChange)="handleStepChange($event)"
            ></p-steps>
            <div class="p-col-10 p-md-9 p-sm-8">
                <dev-create-batch *ngIf="activeStepName === 'create-batch'"></dev-create-batch>
                <dev-create-dataset *ngIf="activeStepName === 'create-dataset'"></dev-create-dataset>
                <dev-run-batch *ngIf="activeStepName === 'run-batch'"></dev-run-batch>
            </div>
        </div>
    </p-panel>
</div>
