<div class="flexed space-between">
    <h2><i class="fa fa-files-o margin-right-md"></i>Create Batch Workflow</h2>
</div>
<a routerLink="/processing/batches"><i class="fa fa-caret-left margin-right-md"></i>Batches List</a>
<div class="batch-workflow">
    <p-panel class="batch-workflow__panel" [header]=false>
        <p-header>{{ steps[currentStep].label }}</p-header>
        <div class="p-grid batch-workflow__panel-content">
            <p-steps
                #stepper
                class="p-col-2 p-md-3 p-sm-4 batch-workflow__steps"
                [model]="steps"
                [(activeIndex)]="currentStep"
                [readonly]="false"
                (activeIndexChange)="handleStepChange($event)"
            ></p-steps>
            <div class="p-col-10 p-md-9 p-sm-8">
                <dev-create-batch *ngIf="currentStepName === 'create-batch'"
                    [batch]="batchSelection"
                    [batchRecipe]="batchRecipe"
                    (nextStepEvent)="next($event)">
                </dev-create-batch>
                <dev-create-dataset *ngIf="currentStepName === 'create-dataset'"
                    [datasetSelection]="datasetSelection"
                    [datasetFormOptions]="datasetFormOptions"
                    [multipleInputRecipe]="multipleInput"
                    (valueChange)="handleDatasetSelection($event)"
                    (nextStepEvent)="next($event)">
                </dev-create-dataset>
                <dev-run-batch *ngIf="currentStepName === 'run-batch'"
                    [batch]="batchSelection"
                    [batchDataset]="datasetSelection"
                    [datasetFormOptions]="datasetFormOptions">
                </dev-run-batch>
            </div>
        </div>
    </p-panel>
</div>
