<h2><i class="fa fa-cube"></i> Jobs <span *ngIf="count">({{ count }})</span></h2>
<div class="jobs__header flexed space-between">
    <dev-temporal-filter [started]="started" [ended]="ended" (dateFilterApply)="onDateFilterApply($event)"
                         (dateRangeSelected)="onDateRangeSelected($event)">
    </dev-temporal-filter>
    <div class="jobs__controls">
        <button pButton type="button" class="ui-button-primary" icon="fa fa-repeat" pTooltip="Requeue All Jobs"
                (click)="requeueAllConfirm()"></button>
        <button pButton type="button" class="ui-button-primary" icon="fa fa-ban" pTooltip="Cancel All Jobs"
                (click)="cancelAllConfirm()"></button>
    </div>
</div>
<p-table [value]="jobs" [columns]="columns" [rows]="datatableOptions.rows" [sortField]="datatableOptions.sortField"
         [sortOrder]="datatableOptions.sortOrder" [lazy]="true" (onLazyLoad)="onLazyLoad($event)"
         [responsive]="true" resizableColumns="true" selectionMode="single" [(selection)]="selectedJob"
         (onRowSelect)="onRowSelect($event)" [loading]="datatableLoading" [style]="{'min-height':'300px'}"
         [autoLayout]="true" class="jobs__table" #datatable>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [ngSwitch]="col.field" [pSortableColumn]="col.field" 
                [pSortableColumnDisabled]="col.sortableColumnDisabled || false">
                {{ col.header }}
                <p-sortIcon *ngIf="!col.sortableColumnDisabled" [field]="col.field"></p-sortIcon>
                <div *ngSwitchCase="'job_type'">
                    <p-multiSelect [options]="jobTypeOptions" [(ngModel)]="selectedJobType"
                                (onChange)="onJobTypeChange($event)" styleClass="column-filter" [maxSelectedLabels]="1"
                                (click)="onFilterClick($event)" [filter]="true" filterBy="value.title" appendTo="body">
                        <p-header>
                            <div class="jobs__selected">
                                <ul>
                                    <li class="label label-primary" *ngFor="let jobType of selectedJobType"
                                        (click)="onSelectedJobTypeClick(jobType)">
                                        <div>{{ jobType.title }}</div>
                                        <div class="jobs__selected-close"><span class="fa fa-close"></span></div>
                                    </li>
                                </ul>
                            </div>
                        </p-header>
                        <ng-template let-jobType p-template="item">
                            {{ jobType.label }}
                        </ng-template>
                    </p-multiSelect>
                </div>
                <div *ngSwitchCase="'status'">
                    <p-multiSelect [options]="statusValues" [(ngModel)]="selectedStatus"
                                (onChange)="onStatusChange($event)" styleClass="column-filter" [maxSelectedLabels]="1"
                                (click)="onFilterClick($event)" appendTo="body"></p-multiSelect>
                </div>
                <div *ngSwitchCase="'error.category'">
                    <p-multiSelect [options]="errorCategoryValues" [(ngModel)]="selectedErrorCategory"
                                   (onChange)="onErrorCategoryChange($event)" styleClass="column-filter"
                                   [maxSelectedLabels]="1" (click)="onFilterClick($event)"
                                   appendTo="body"></p-multiSelect>
                </div>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData" [ngClass]="rowData.selected ? 'job__selected' : null">
            <td *ngFor="let col of columns" [ngSwitch]="col.field">
                <span class="ui-column-title">{{ col.header }}</span>
                <div class="flexed space-between" *ngSwitchCase="'job_type'">
                    <div>
                        <i class="fa fa-fw" [ngClass]="rowData.status === 'RUNNING' ? 'throb-text' : null"
                           [innerHtml]="getUnicode(rowData.job_type.icon_code)"></i>
                        {{ rowData.job_type.title }} {{ rowData.job_type.version }}
                    </div>
                    <div class="warning-text" *ngIf="rowData.job_type.unmet_resources">
                        <span class="fa fa-warning" [pTooltip]="rowData.job_type.unmetResourcesTooltip"></span>
                    </div>
                </div>
                <div *ngSwitchCase="'recipe'">
                    <div *ngIf="rowData.recipe">
                        <a routerLink="/processing/recipes/{{ rowData.recipe.id }}">
                            {{ rowData.recipe.recipe_type.title }}
                        </a>
                    </div>
                </div>
                <div *ngSwitchCase="'created'">
                    <span [pTooltip]="rowData.createdTooltip">
                        {{ rowData.createdDisplay }}
                    </span>
                </div>
                <div *ngSwitchCase="'last_modified'">
                    <span [pTooltip]="rowData.lastModifiedTooltip">
                        {{ rowData.lastModifiedDisplay }}
                    </span>
                </div>
                <div *ngSwitchCase="'status'">
                    <div class="pull-right">
                        <span class="label label-info" *ngIf="rowData.is_superseded" pTooltip="Superseded">S</span>
                        <button pButton type="button" icon="fa fa-ban" class="ui-button-secondary"
                                (click)="cancelJobs({job_ids: [rowData.id]})" pTooltip="Cancel Job"
                                *ngIf="!rowData.is_superseded && rowData.status !== 'COMPLETED' && rowData.status !== 'CANCELED'"></button>
                        <button pButton type="button" icon="fa fa-repeat" class="ui-button-secondary"
                                (click)="requeueJobs({job_ids: [rowData.id]})" pTooltip="Requeue Job"
                                *ngIf="!rowData.is_superseded && (rowData.status === 'FAILED' || rowData.status === 'CANCELED')"></button>
                    </div>
                    {{ rowData.status }}
                </div>
                <div *ngSwitchCase="'error.category'">
                    <div *ngIf="rowData.error">
                        {{ rowData.error.category }}
                    </div>
                </div>
                <div *ngSwitchCase="'error.title'">
                    <div *ngIf="rowData.error" pTooltip="{{ rowData.error.description }}" tooltipPosition="left"
                         appendTo="body" tooltipStyleClass="jobs__error-tooltip">
                        {{ rowData.error.title }}
                    </div>
                </div>
                <div class="text-center" *ngSwitchCase="'id'">
                    <button #logBtn type="button" pButton class="ui-button-secondary" (click)="showExeLog(rowData.id)"
                            icon="fa fa-file-text"></button>
                </div>
                <div *ngSwitchDefault>
                    {{ rowData[col.field] }}
                </div>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
        <tr>
            <td [attr.colspan]="columns.length" class="text-center">
                No records found
            </td>
        </tr>
    </ng-template>
</p-table>
<p-paginator [rows]="datatableOptions.rows" [first]="datatableOptions.first" [totalRecords]="count"
             [rowsPerPageOptions]="[10,20,50,100]" (onPageChange)="paginate($event)"></p-paginator>
<p-confirmDialog></p-confirmDialog>
<div *ngIf="selectedJobExe">
    <dev-log-viewer [execution]="selectedJobExe" [visible]="logDisplay" (close)="hideExeLog()"></dev-log-viewer>
</div>
