<h2 *ngIf="!isChild">Jobs <span *ngIf="count">({{ count }})</span></h2>
<div class="jobs__header">
    <div class="jobs__date-filter">
        <div>
            <label>From:</label>
            <utc-datepicker [date]="started" [button]="true" (dateChange)="onStartSelect($event)"></utc-datepicker>
        </div>
        <div>
            <label>To:</label>
            <utc-datepicker [date]="ended" [button]="true" (dateChange)="onEndSelect($event)"></utc-datepicker>
        </div>
        <button pButton class="ui-button-secondary jobs__date-filter-btn" label="Apply" (click)="onDateFilterApply()"></button>
    </div>
    <div class="jobs__controls">
        <button pButton type="button" class="ui-button-primary" icon="fa-repeat" pTooltip="Requeue All Jobs"
                (click)="requeueAllConfirm()"></button>
    </div>
</div>
<p-table [value]="jobs" [columns]="columns" [rows]="datatableOptions.rows" [sortField]="datatableOptions.sortField"
             [sortOrder]="datatableOptions.sortOrder" [lazy]="true" (onLazyLoad)="onLazyLoad($event)"
             [responsive]="true" resizableColumns="true" selectionMode="single" [(selection)]="selectedJob"
             (onRowSelect)="onRowSelect($event)" [loading]="datatableLoading" [style]="{'min-height':'300px'}" [autoLayout]="true"
             class="jobs__table" #datatable>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [ngSwitch]="col.field" [pSortableColumn]="col.field">
                {{ col.header }}
                <p-sortIcon [field]="col.field"></p-sortIcon>
                <div *ngSwitchCase="'job_type.manifest.job.name'">
                    <p-dropdown [options]="jobTypeOptions" [(ngModel)]="selectedJobType" (onChange)="onJobTypeChange($event)"
                                [autoWidth]="false" styleClass="column-filter" (click)="onFilterClick($event)" appendTo="body"
                                [showClear]="false">
                        <ng-template let-jobType p-template="item">
                            {{ jobType.label }}
                        </ng-template>
                    </p-dropdown>
                </div>
                <div *ngSwitchCase="'status'">
                    <p-dropdown [options]="statusValues" [(ngModel)]="selectedStatus" (onChange)="onStatusChange($event)"
                                [autoWidth]="false" styleClass="column-filter" (click)="onFilterClick($event)" appendTo="body"
                                [showClear]="false"></p-dropdown>
                </div>
                <div *ngSwitchCase="'error.category'">
                    <p-dropdown [options]="errorCategoryValues" [(ngModel)]="selectedErrorCategory"
                                (onChange)="onErrorCategoryChange($event)" [autoWidth]="false" styleClass="column-filter"
                                (click)="onFilterClick($event)" appendTo="body" [showClear]="false"></p-dropdown>
                </div>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns" [ngSwitch]="col.field">
                <div *ngSwitchCase="'job_type.manifest.job.name'">
                    <i class="fa fa-fw" [ngClass]="rowData.status === 'RUNNING' ? 'throb-text' : null"
                       [innerHtml]="getUnicode(rowData.job_type.icon_code)"></i>
                    {{ rowData.job_type.manifest.job.title }} {{ rowData.job_type.manifest.job.jobVersion }}
                </div>
                <div *ngSwitchCase="'created'">
                    <span [pTooltip]="rowData.createdTooltip">
                        {{ rowData.createdDisplay }}
                    </span>
                </div>
                <div *ngSwitchCase="'last_modified'">
                    <span [pTooltip]="rowData.lastModifiedTooltip">
                        {{ rowData.lastModifiedDisplay }}
                    </span>
                </div>
                <div *ngSwitchCase="'status'">
                    <div class="pull-right">
                        <span class="label label-info" *ngIf="rowData.is_superseded" pTooltip="Superseded">S</span>
                        <button pButton type="button" icon="fa-ban" class="ui-button-secondary" (click)="cancelJob(rowData)"
                                pTooltip="Cancel Job"
                                *ngIf="!rowData.is_superseded && rowData.status !== 'COMPLETED' && rowData.status !== 'CANCELED'"></button>
                        <button pButton type="button" icon="fa-repeat" class="ui-button-secondary"
                                (click)="requeueJobs({job_ids: [rowData.id]})" pTooltip="Requeue Job"
                                *ngIf="!rowData.is_superseded && (rowData.status === 'FAILED' || rowData.status === 'CANCELED')"></button>
                    </div>
                    {{ rowData.status }}
                </div>
                <div *ngSwitchCase="'error.title'">
                    <div *ngIf="rowData.error" pTooltip="{{ rowData.error.description }}" tooltipPosition="left" appendTo="body"
                         tooltipStyleClass="jobs__error-tooltip">
                        {{ rowData.error.title }}
                    </div>
                </div>
                <div class="text-center" *ngSwitchCase="'id'">
                    <button #logBtn type="button" pButton class="ui-button-secondary" (click)="showExeLog(rowData.id)"
                            icon="fa-file-text"></button>
                </div>
                <div *ngSwitchDefault>
                    {{ rowData[col.field] }}
                </div>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
        <tr>
            <td [attr.colspan]="columns.length" class="text-center">
                No records found
            </td>
        </tr>
    </ng-template>
</p-table>
<p-paginator [rows]="datatableOptions.rows" [first]="datatableOptions.first" [totalRecords]="count" [rowsPerPageOptions]="[10,20,50,100]"
             (onPageChange)="paginate($event)"></p-paginator>
<p-dialog header="Log" [(visible)]="logDisplay" [modal]="true" [responsive]="true" [dismissableMask]="true" positionTop="40">
    <span *ngIf="selectedJobExe">
        <dev-log-viewer [execution]="selectedJobExe"></dev-log-viewer>
    </span>
</p-dialog>
<p-confirmDialog></p-confirmDialog>
<p-sidebar [(visible)]="logDisplay" position="bottom" styleClass="ui-sidebar-lg" [blockScroll]="true" (onAfterHide)="hideExeLog()">
        <span *ngIf="selectedJobExe">
            <dev-log-viewer [execution]="selectedJobExe" [visible]="logDisplay"></dev-log-viewer>
        </span>
</p-sidebar>
