<div class="job__details" *ngIf="job">
    <h2>
        <i class="fa fa-fw" [innerHtml]="getUnicode(job.job_type.icon_code)"></i>
        {{ job.job_type.title }} v{{ job.job_type.version }}
        <i class="fa fa-fw fa-square" [ngClass]="job.statusClass" (mouseenter)="showStatus(status, $event)"
           (mouseleave)="hideStatus(status)"></i>
    </h2>
    <a routerLink="/processing/jobs"><i class="fa fa-caret-left"></i> Jobs List</a>
    <div class="ui-g">
        <div class="ui-g-4">
            <p-panel header="Overview">
                <p-scrollPanel>
                    <table class="table table-striped">
                        <tbody>
                        <tr *ngIf="job.recipe">
                            <td>Recipe:</td>
                            <td>
                                <!--<a ng-href="#/recipes/recipe/{{ vm.job.recipes[0].id }}">-->
                                {{ job.recipe.recipe_type.title }} {{ job.recipe.recipe_type.version }}
                                <!--</a>-->
                            </td>
                        </tr>
                        <!--<tr ng-show="vm.job.superseded_by_job.id"><td>Superseded By:</td><td><a ng-href="#/jobs/job/{{ vm.job.superseded_by_job.id }}">{{ vm.job.superseded_by_job.job_type.title }} {{ vm.job.superseded_by_job.job_type.version }}</a></td></tr>-->
                        <tr *ngIf="job.superseded_job">
                            <td>Supersedes:</td>
                            <td>
                                <!--<a ng-href="#/jobs/job/{{ vm.job.superseded_job.id }}">-->
                                {{ job.superseded_job.job_type.manifest.job.title }} {{ job.superseded_job.job_type.manifest.job.jobVersion }}
                                <!--</a>-->
                            </td>
                        </tr>
                        <tr>
                            <td>Trigger:</td>
                            <td>
                                {{ job.event.type }}
                                <span [pTooltip]="job.occurredTooltip">
                                {{ job.occurredDisplay }}
                            </span>
                            </td>
                        </tr>
                        <tr><td>Priority:</td><td>{{ job.priority }}</td></tr>
                        <tr>
                            <td>Created:</td>
                            <td>
                            <span [pTooltip]="job.createdTooltip">
                                {{ job.createdDisplay }}
                            </span>
                            </td>
                        </tr>
                        <tr>
                            <td>Last Updated:</td>
                            <td>
                            <span [pTooltip]="job.lastModifiedTooltip">
                                {{ job.lastModifiedDisplay }}
                            </span>
                            </td>
                        </tr>
                        <tr><td>Num Executions:</td><td>{{ job.num_exes }}</td></tr>
                        <tr><td>Max Tries:</td><td>{{ job.max_tries }}</td></tr>
                        <tr *ngIf="job.timeout"><td>Timeout:</td><td>{{ job.timeout_formatted }}</td></tr>
                        </tbody>
                    </table>
                </p-scrollPanel>
            </p-panel>
        </div>
        <div class="ui-g-5">
            <p-panel header="Timeline">
                <p-scrollPanel>
                    <p-chart type="timeline" [options]="options" [data]="data" *ngIf="data"></p-chart>
                    <div class="text-center margin-top-lg job__latest-exe">
                        <strong>
                            <span class="fa fa-fw fa-square" [ngClass]="job.exeStatusClass"></span>
                            Latest execution
                            <span [pTooltip]="job.exeEndedTooltip" tooltipPosition="bottom">
                            {{ exeStatus }}
                        </span>
                            <button pButton class="ui-button-secondary" icon="fa fa-file-text" label="View Log"
                                    (click)="showExeLog($event, job.execution)"></button>
                        </strong>
                    </div>
                </p-scrollPanel>
            </p-panel>
        </div>
        <div class="ui-g-3">
            <p-panel header="Executions">
                <p-scrollPanel>
                    <dev-loading-indicator [loading]="loadingExecutions"></dev-loading-indicator>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Status</th>
                            <th>Exit Code</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="job__exe" *ngFor="let exe of jobExecutions" (click)="showExeLog($event, exe)">
                            <td>
                                <i class="fa fa-fw fa-square job__status" [ngClass]="exe.statusClass"
                                   (mouseenter)="timeline.show($event)" (mouseleave)="timeline.hide()"></i>
                                <p-overlayPanel #timeline [dismissable]="true" appendTo="body">
                                    <ul class="list-unstyled job__exe-timeline">
                                        <li *ngIf="exe.created">{{ exe.created_formatted }} (Created)</li>
                                        <li *ngIf="exe.queued">{{ exe.queued_formatted }} (Queued)</li>
                                        <li *ngIf="exe.started">{{ exe.started_formatted }} (Started)</li>
                                        <li *ngIf="exe.ended">{{ exe.ended_formatted }} (Ended)</li>
                                        <li *ngIf="exe.last_modified">{{ exe.last_modified_formatted }} (Last Modified)</li>
                                    </ul>
                                </p-overlayPanel>
                                {{ exe.status }}
                            </td>
                            <td>{{ exe.job_exit_code || '--' }}</td>
                        </tr>
                        </tbody>
                    </table>
                </p-scrollPanel>
            </p-panel>
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-6">
            <p-panel header="Inputs">
                <p-scrollPanel>
                    <dev-loading-indicator [loading]="loadingInputs"></dev-loading-indicator>
                    <div *ngIf="jobInputs.length === 0">
                        No records found.
                    </div>
                    <table class="table table-striped job__io" *ngIf="jobInputs.length > 0">
                        <thead>
                        <tr class="job__io-header">
                            <th>File Name</th>
                            <th>File Size</th>
                            <th>Created</th>
                            <th>Last Modified</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let input of jobInputs">
                            <td>
                                <a *ngIf="input.url" href="{{ input.url }}" target="_jobfile">
                                    <i class="fa fa-fw fa-download"></i>
                                </a>
                                <!-- <a routerLink="/data/ingest/{{ input.id }}"> -->
                                    {{ input.file_name }}
                                <!-- </a> -->
                            </td>
                            <td>{{ calculateFileSize(input.file_size) }}</td>
                            <td>
                            <span [pTooltip]="input.createdTooltip">
                                {{ input.createdDisplay }}
                            </span>
                            </td>
                            <td>
                            <span [pTooltip]="input.lastModifiedTooltip" tooltipPosition="left">
                                {{ input.lastModifiedDisplay }}
                            </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </p-scrollPanel>
            </p-panel>
        </div>
        <div class="ui-g-6">
            <p-panel header="Outputs">
                <p-scrollPanel styleClass="scale-panel">
                    <dev-loading-indicator [loading]="loadingOutputs"></dev-loading-indicator>
                    <div *ngIf="jobOutputs.length === 0">
                        No records found.
                    </div>
                    <table class="table table-striped job__io" *ngIf="jobOutputs.length > 0">
                        <thead>
                        <tr class="job__io-header">
                            <th>File Name</th>
                            <th>File Size</th>
                            <th>Created</th>
                            <th>Last Modified</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let output of jobOutputs">
                            <td>
                                <a *ngIf="output.url" href="{{ output.url }}" target="_jobfile">
                                    <i class="fa fa-fw fa-download"></i>
                                </a>
                                {{ output.file_name }}
                            </td>
                            <td>{{ calculateFileSize(output.file_size) }}</td>
                            <td>
                            <span [pTooltip]="output.createdTooltip">
                                {{ output.createdDisplay }}
                            </span>
                            </td>
                            <td>
                            <span [pTooltip]="output.lastModifiedTooltip" tooltipPosition="left">
                                {{ output.lastModifiedDisplay }}
                            </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </p-scrollPanel>
            </p-panel>
        </div>
    </div>
    <div *ngIf="selectedJobExe">
        <dev-log-viewer [execution]="selectedJobExe" [visible]="logDisplay"></dev-log-viewer>
    </div>
    <p-overlayPanel #status appendTo="body">
        <strong>{{ jobStatus }}</strong>
        <div *ngIf="job.status === 'FAILED' && job.error">
            <hr />
            <strong>{{ job.error.category }} Error: {{ job.error.title }}</strong><br />
            {{ job.error.description }}
        </div>
    </p-overlayPanel>
</div>
