@import '../defaults/colors.scss';

.app {
    background: $clr-light;
    color: $clr-dark;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100%;

    .content {
        background: $clr-white;
        flex: 1;
    }
}
