@import '../defaults/colors.scss';

.app {
    background: $clr-light;
    color: $clr-dark;
    display: flex;
    height: 100%;
    min-height: 100%;

    .content {
        flex: 1;
    }
}

app-sidebar {
    border-right: 1px solid $clr-gray-90;
}
