@import '../../../../defaults/colors';


.spf__form {
    div {
        margin-bottom: 0.5em;
    }
}

.spf__rangeinputs {
    .spf__daterange {
        margin-bottom: 10px;
    }
}

.spf__input {
    width: 300px;
    margin-bottom: 10px;
}
