<h2>Job Types</h2>
<p-dropdown [options]="jobTypes" [autoWidth]="false" [(ngModel)]="selectedJobType" filter="filter"
            [style]="{'width':'300px', 'margin-top':'-10px'}" (onChange)="onRowSelect($event)" placeholder="Select Job Type"></p-dropdown>
<div *ngIf="selectedJobType">
    <h2><i class="fa" [innerHtml]="getUnicode(selectedJobTypeDetail.icon_code)"></i> {{ selectedJobTypeDetail.title }}
        {{ selectedJobTypeDetail.version }}</h2>
    <div class="ui-g">
        <div class="ui-g-8">
            <p>{{ selectedJobTypeDetail.description }}</p>
            <strong>Author: </strong> {{ selectedJobTypeDetail.author_name }}<br />
            <a href="{{ selectedJobTypeDetail.author_url }}" target="_blank">Algorithm Description</a>
            <table class="table table-striped margin-top-md" *ngIf="selectedJobTypeDetail.job_type_interface">
                <thead>
                <th colspan="2">Interface</th>
                </thead>
                <tbody>
                <tr *ngIf="selectedJobTypeDetail.job_type_interface.command">
                    <td>Command</td>
                    <td>{{ selectedJobTypeDetail.job_type_interface.command }}</td>
                </tr>
                <tr *ngIf="selectedJobTypeDetail.job_type_interface.command_arguments">
                    <td>Command Arguments</td>
                    <td>{{ selectedJobTypeDetail.job_type_interface.command_arguments }}</td>
                </tr>
                <tr *ngIf="selectedJobTypeDetail.job_type_interface.input_data">
                    <td>Input Data</td>
                    <td>
                        <table class="table table-striped" *ngIf="selectedJobTypeDetail.job_type_interface.input_data && selectedJobTypeDetail.job_type_interface.input_data.length > 0">
                            <thead><th>Name</th><th>Type</th><th>Media Types</th></thead>
                            <tbody>
                            <tr *ngFor="let input_data of selectedJobTypeDetail.job_type_interface.input_data">
                                <td>{{ input_data.name }} <span *ngIf="input_data.required">*</span></td>
                                <td>{{ input_data.type }}</td>
                                <td>{{ input_data.media_types }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr *ngIf="selectedJobTypeDetail.job_type_interface.output_data">
                    <td>Output Data</td>
                    <td>
                        <table class="table table-striped" *ngIf="selectedJobTypeDetail.job_type_interface.output_data && selectedJobTypeDetail.job_type_interface.output_data.length > 0">
                            <thead><th>Name</th><th>Type</th><th>Media Type</th></thead>
                            <tbody>
                            <tr *ngFor="let output_data of selectedJobTypeDetail.job_type_interface.output_data">
                                <td>{{ output_data.name }} <span *ngIf="output_data.required">*</span></td>
                                <td>{{ output_data.type }}</td>
                                <td>{{ output_data.media_type }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr *ngIf="selectedJobTypeDetail.job_type_interface.shared_resources && selectedJobTypeDetail.job_type_interface.shared_resources.length > 0">
                    <td>Shared Resources</td>
                    <td>{{ selectedJobTypeDetail.job_type_interface.share_resources }}</td>
                </tr>
                <tr>
                    <td colspan="2">Required</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="ui-g-4">
            <dl class="dl-horizontal">
                <dt *ngIf="selectedJobTypeDetail.created">Created:</dt>
                <dd *ngIf="selectedJobTypeDetail.created">{{ selectedJobTypeDetail.created }}</dd>
                <dt *ngIf="selectedJobTypeDetail.last_modified">Last Modified:</dt>
                <dd *ngIf="selectedJobTypeDetail.last_modified">{{ selectedJobTypeDetail.last_modified }}</dd>
                <dt *ngIf="selectedJobTypeDetail.archived">Archived:</dt>
                <dd *ngIf="selectedJobTypeDetail.archived">{{ selectedJobTypeDetail.archived }}</dd>
                <dt *ngIf="selectedJobTypeDetail.cpus_required">CPUs:</dt>
                <dd *ngIf="selectedJobTypeDetail.cpus_required">{{ selectedJobTypeDetail.cpus_required }}</dd>
                <dt *ngIf="selectedJobTypeDetail.mem_required">Memory:</dt>
                <dd *ngIf="selectedJobTypeDetail.mem_required">{{ selectedJobTypeDetail.mem_required_formatted }}</dd>
                <dt *ngIf="selectedJobTypeDetail.mem_required">Shared Memory:</dt>
                <dd *ngIf="selectedJobTypeDetail.mem_required">{{ selectedJobTypeDetail.shared_mem_required_formatted }}</dd>
                <dt *ngIf="selectedJobTypeDetail.disk_out_const_required_formatted">Disk:</dt>
                <dd *ngIf="selectedJobTypeDetail.disk_out_const_required_formatted">{{ selectedJobTypeDetail.disk_out_const_required_formatted }}</dd>
                <dt *ngIf="selectedJobTypeDetail.disk_out_mult_required">Input Size Multiplier:</dt>
                <dd *ngIf="selectedJobTypeDetail.disk_out_mult_required">{{ selectedJobTypeDetail.disk_out_mult_required }}</dd>
                <dt *ngIf="selectedJobTypeDetail.docker_image">Docker Image:</dt>
                <dd *ngIf="selectedJobTypeDetail.docker_image">{{ selectedJobTypeDetail.docker_image }}</dd>
                <dt *ngIf="selectedJobTypeDetail.max_tries">Max Tries:</dt>
                <dd *ngIf="selectedJobTypeDetail.max_tries">{{ selectedJobTypeDetail.max_tries }}</dd>
                <dt *ngIf="selectedJobTypeDetail.priority">Priority:</dt>
                <dd *ngIf="selectedJobTypeDetail.priority">{{ selectedJobTypeDetail.priority }}</dd>
                <dt *ngIf="selectedJobTypeDetail.timeout">Timeout:</dt>
                <dd *ngIf="selectedJobTypeDetail.timeout">{{ selectedJobTypeDetail.timeout }} seconds</dd>
                <dt *ngIf="selectedJobTypeDetail.category">Category:</dt>
                <dd *ngIf="selectedJobTypeDetail.category">{{ selectedJobTypeDetail.category }}</dd>
                <dt *ngIf="selectedJobTypeDetail.is_system">System Type:</dt>
                <dd *ngIf="selectedJobTypeDetail.is_system">{{ selectedJobTypeDetail.is_system }}</dd>
                <dt *ngIf="selectedJobTypeDetail.is_long_running">Long Running:</dt>
                <dd *ngIf="selectedJobTypeDetail.is_long_running">{{ selectedJobTypeDetail.is_long_running }}</dd>
                <dt *ngIf="selectedJobTypeDetail.is_active">Active:</dt>
                <dd *ngIf="selectedJobTypeDetail.is_active">{{ selectedJobTypeDetail.is_active }}</dd>
                <dt *ngIf="selectedJobTypeDetail.is_operational">Operational:</dt>
                <dd *ngIf="selectedJobTypeDetail.is_operational">{{ selectedJobTypeDetail.is_operational }}</dd>
                <dt *ngIf="selectedJobTypeDetail.is_paused">Paused:</dt>
                <dd *ngIf="selectedJobTypeDetail.is_paused">{{ selectedJobTypeDetail.is_paused }}</dd>
                <dt *ngIf="selectedJobTypeDetail.paused">Paused Date:</dt>
                <dd *ngIf="selectedJobTypeDetail.paused">{{ selectedJobTypeDetail.paused }}</dd>
            </dl>
        </div>
    </div>
</div>
