@import '../../../defaults/colors';

h2 {
    display: inline-block;
}

h3 {
    margin: 20px 0 0 0;
    font-size: 1.3em;
}

h4 {
    margin-top: 5px;
    font-size: 1.1em;
}

p {
    margin-top: 10px;
}

dl {
    margin-top: 0;
}

::ng-deep .ui-treetable {
    thead {
        th {
            text-align: left;
            padding: 5px !important;
        }
    }

    tbody td {
        padding: 5px !important;
    }

    .ui-treetable-data {
        .ui-treetable-child-table-container {
            tbody:nth-child(even) {
                background-color: $clr-white !important;
            }

            tbody:nth-child(odd) {
                background-color: $clr-gray-95 !important;
            }
        }
    }
}
