<h2>{{ mode }} Job Type</h2>
<form [formGroup]="createForm" (ngSubmit)="createForm.value" *ngIf="jobType">
    <p-panel>
        <p-header>
            <div class="seed-panel-title">
                <span class="ui-panel-title job-type-title" *ngIf="jobType.manifest">{{ jobType.manifest.job.title }}</span>
                <span *ngIf="!jobType.manifest"></span>
                <button pButton [ngClass]="jsonModeBtnClass" class="mode-button" type="button" label="JSON Mode" icon="fa-code"
                        iconPos="left" (click)="onModeClick()"></button>
            </div>
        </p-header>
        <p-messages [(value)]="msgs"></p-messages>
        <div *ngIf="jsonMode">
            <ngx-codemirror [(ngModel)]="jobTypeJson" formControlName="json-editor" [options]="jsonConfig"></ngx-codemirror>
        </div>
        <div class="ui-g" [hidden]="jsonMode">
            <div class="ui-g-2">
                <p-steps [model]="items" [readonly]="false" [activeIndex]="currentStepIdx" (activeIndexChange)="handleStepChange($event)"></p-steps>
            </div>
            <div class="ui-g-10" *ngIf="currentStepIdx === 0">
                <seed-images [environment]="env" (imageImport)="onImageImport($event)" *ngIf="!jobType.manifest"></seed-images>
                <div class="ui-g" *ngIf="jobType.manifest">
                    <div class="ui-g-12">
                        <div class="seed-header">
                            <h3>{{ jobType.manifest.job.title }} v{{ jobType.manifest.job.jobVersion }}</h3>
                            <button pButton class="ui-button-danger margin-bottom-md" icon="fa-remove" pTooltip="Delete Seed Image"
                                    (click)="onImageRemove()"></button>
                        </div>
                        {{ jobType.manifest.job.description }}
                        <ul class="list-unstyled">
                            <li><strong>Maintainer:</strong> {{ jobType.manifest.job.maintainer.name }}</li>
                            <li *ngIf="jobType.manifest.job.maintainer.organization">
                                <strong>Organization:</strong> {{ jobType.manifest.job.maintainer.organization }}
                            </li>
                            <li *ngIf="jobType.manifest.job.maintainer.email">
                                <strong>Email:</strong> {{ jobType.manifest.job.maintainer.email }}
                            </li>
                            <li *ngIf="jobType.manifest.job.maintainer.phone">
                                <strong>Phone:</strong> {{ jobType.manifest.job.maintainer.phone }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="ui-g-10" *ngIf="currentStepIdx === 1">
                <div class="ui-g">
                    <div class="ui-g-1">
                        <label>Icon:</label>
                    </div>
                    <div class="ui-g-4">
                        Select an icon which will be used to represent this job type in Scale.
                        <p-listbox [options]="icons" [(ngModel)]="jobType.icon_code" formControlName="icon" filter="filter"
                                   [style]="{'max-height':'300px','overflow':'auto','margin-top':'10px'}">
                            <ng-template let-icon pTemplate="item">
                                <div class="ui-helper-clearfix">
                                    <span class="fa fa-fw {{ icon.label }}"></span> {{ icon.label.replace('fa-','') }}
                                </div>
                            </ng-template>
                        </p-listbox>
                    </div>
                </div>
            </div>
            <div class="ui-g-10 validate-and-create" *ngIf="currentStepIdx === 2">
                <h3>
                    <i class="fa" *ngIf="jobType.icon_code && jobType.icon_code !== ''"
                       [innerHTML]="this.getUnicode(this.jobType.icon_code)"></i>
                    {{ jobType.manifest.job.title }} v{{ jobType.manifest.job.jobVersion }}
                </h3>
                <ul class="list-unstyled">
                    <li><b>Description:</b> {{ jobType.manifest.job.description }}</li>
                </ul>
                <button class="ui-button-secondary" pButton icon="fa-check" label="Validate"
                        (click)="onValidate()" *ngIf="!validated"></button>
                <button class="ui-button-primary" pButton icon="fa-arrow-right" [label]="mode"
                        (click)="onSubmit()" *ngIf="validated && !submitted"></button>
                <a class="ui-button-success" pButton icon="fa-arrow-circle-right" label="View Job Type"
                   routerLink="/configuration/job-types/{{ modifiedJobTypeId }}" *ngIf="submitted && modifiedJobTypeId"></a>
                <!--<div class="ui-g">-->
                <!--<div class="ui-g-2">-->
                <!--<button class="create-form-btn" pButton icon="fa-check" label="Validate"></button>-->
                <!--</div>-->
                <!--<div class="ui-g-2">-->
                <!--<button class="create-form-btn" pButton icon="fa-arrow-circle-o-up" label="Create"></button>-->
                <!--</div>-->
                <!--</div>-->
            </div>
        </div>
    </p-panel>
    <!-- <div style="text-align:center;margin-top:20px" *ngIf="submitted">
        Form Submitted
        <br>
        {{diagnostic}}
    </div> -->
</form>
