.ui-grid-row {
    margin: 10px 0;

    &:first-child {
        margin-top: 0;
    }
}

.algorithm-title {
    font-weight: bold;
    font-size: 1.1em;
    display: inline-block;
    margin-top: 5px;
}

.mode-button {
    float: right;
}

.import-form-button {
    width: auto;
    margin-left: 10px;
}

:host /deep/ .ui-button-text {
    padding-left: 2em !important;
}

.help {
    width: 100%;
    padding: 5px;
    margin: 10px 0;
    background: #fafafa;
    border: 1px solid #ccc;
    border-radius: 4px;
}
