<h2>Import Algorithm</h2>
<form [formGroup]="importForm" (ngSubmit)="importForm.value">
    <p-panel>
        <p-header>
            <div class="ui-helper-clearfix">
                <span class="ui-panel-title">{{jobType.title}}</span>
                <div style="float: right">
                    <label for="json">JSON Mode</label>
                    <p-inputSwitch inputId="json" [(ngModel)]="jsonMode" (onChange)="onToggleJson($event)"
                                   formControlName="json"></p-inputSwitch>
                </div>
                <!--<p-splitButton [style]="{'float':'right'}" label="Save" icon="fa-check" (onClick)="save()" [model]="items"></p-splitButton>-->
            </div>
        </p-header>
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" *ngIf="jsonMode">
            <codemirror [(ngModel)]="jobTypeJson" formControlName="json-editor" [config]="jsonConfig"></codemirror>
        </div>
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" *ngIf="!jsonMode">
            <div class="ui-grid-row">
                <div class="ui-grid-col-10">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            <label for="name">Name *:</label>
                        </div>
                        <div class="ui-grid-col-10">
                            <input pInputText id="name" formControlName="name" placeholder="Required" [(ngModel)]="jobType.name"/>
                            <div class="ui-message ui-messages-error ui-corner-all"
                                 *ngIf="!importForm.controls['name'].valid && importForm.controls['name'].dirty">
                                <i class="fa fa-close"></i>
                                Name is required
                            </div>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            <label for="name">Title:</label>
                        </div>
                        <div class="ui-grid-col-10">
                            <input pInputText id="title" formControlName="title" [(ngModel)]="jobType.title"/>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            <label for="name">Version *:</label>
                        </div>
                        <div class="ui-grid-col-10">
                            <input pInputText id="version" formControlName="version" placeholder="Required" [(ngModel)]="jobType.version"/>
                            <div class="ui-message ui-messages-error ui-corner-all"
                                 *ngIf="!importForm.controls['version'].valid && importForm.controls['version'].dirty">
                                <i class="fa fa-close"></i>
                                Version is required
                            </div>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            <label for="name">Description:</label>
                        </div>
                        <div class="ui-grid-col-10">
                            <textarea pInputTextarea type="text" id="description" rows="6" formControlName="description"
                                      [(ngModel)]="jobType.description"></textarea>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            <label for="author-name">Author Name:</label>
                        </div>
                        <div class="ui-grid-col-10">
                            <input pInputText id="author-name" formControlName="author-name" [(ngModel)]="jobType.author_name"/>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            <label for="author-url">Author URL:</label>
                        </div>
                        <div class="ui-grid-col-10">
                            <input pInputText id="author-url" formControlName="author-url" [(ngModel)]="jobType.author_url"/>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            <label for="icon">Icon:</label>
                        </div>
                        <div class="ui-grid-col-10">
                            <p-listbox [options]="icons" [(ngModel)]="jobType.icon_code" formControlName="icon" filter="filter"
                                       [style]="{'max-height':'250px'}">
                                <ng-template let-icon pTemplate="item">
                                    <div class="ui-helper-clearfix">
                                        <span class="fa fa-fw {{icon.label}}"></span> {{icon.label}}
                                    </div>
                                </ng-template>
                            </p-listbox>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            <label for="docker-image">Docker Image:</label>
                        </div>
                        <div class="ui-grid-col-10">
                            <input pInputText id="docker-image" formControlName="docker-image" [(ngModel)]="jobType.docker_image"/>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            <label for="name">Timeout (seconds):</label>
                        </div>
                        <div class="ui-grid-col-10">
                            <p-spinner size="30" id="timeout" formControlName="timeout" [(ngModel)]="jobType.timeout" [min]="0"></p-spinner>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            <label for="max-tries">Max Tries:</label>
                        </div>
                        <div class="ui-grid-col-10">
                            <p-spinner size="30" id="max-tries" formControlName="max-tries" [(ngModel)]="jobType.max_tries" [min]="0"></p-spinner>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            <label for="cpus">CPUs:</label>
                        </div>
                        <div class="ui-grid-col-10">
                            <p-spinner size="30" id="cpus" formControlName="cpus" [(ngModel)]="jobType.cpus_required" [min]="0"
                                       [step]="0.25"></p-spinner>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            <label for="memory">Memory (MiB):</label>
                        </div>
                        <div class="ui-grid-col-10">
                            <p-spinner size="30" id="memory" formControlName="memory" [(ngModel)]="jobType.mem_required" [min]="0"
                                       [step]="100"></p-spinner>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2"></div>
                        <div class="ui-grid-col-10">
                            <button pButton type="submit" label="Submit" [disabled]="!importForm.valid"
                                    (click)="onSubmit(importForm.value)"></button>
                        </div>
                    </div>
                    <div style="text-align:center;margin-top:20px" *ngIf="submitted">
                        Form Submitted
                        <br>
                        {{diagnostic}}
                    </div>
                </div>
                <div class="ui-grid-col-10">

                </div>
            </div>
        </div>
    </p-panel>
</form>
