.ui-grid-row {
    margin: 10px 0;

    &:first-child {
        margin-top: 0;
    }
}

.algorithm-title {
    font-weight: bold;
    font-size: 1.1em;
    display: inline-block;
    margin-top: 5px;
}

.mode-button {
    float: right;
}
