<div class="scale-log__container">
    <div class="scale-log__viewer" *ngIf="!jobLogError && execution">
        <h3 class="scale-log__title" (mouseenter)="showExeError(error, $event)" (mouseleave)="hideExeError(error)">
            <i class="fa fa-fw fa-square" [ngClass]="execution.status.toLowerCase()"></i>
            {{ execution.status }}
        </h3>
        <codemirror [(ngModel)]="execLogStr" [config]="jsonConfig"></codemirror>
        <p-overlayPanel #error appendTo="body">
            <div *ngIf="execution.error && execution.status === 'FAILED'">
                <strong>{{ execution.error.category }} Error: {{ execution.error.title }}</strong><br />
                {{ execution.error.description }}
            </div>
        </p-overlayPanel>
    </div>
</div>
