@import '../../environments/environment';

.logo {
    fill: var(--grey-85);
    height: 32px;
    stroke: var(--grey-85);
    stroke-width: 0;
    width: 82px;

    &:hover {
        fill: var(--scale-primary);
    }
}
