body {
    //.ui-message {
    //    margin: 0;
    //}
    //.ui-accordion .ui-accordion-header a {
    //    text-decoration: none;
    //}
    //.ui-accordion .ui-accordion-header.ui-state-active {
    //    background: #f6f7f9;
    //    border-color: #d9d9d9;
    //    border-radius: 3px;
    //}
    .ui-table .ui-table-thead>tr>th,
    .ui-table .ui-table-tbody>tr>td,
    .ui-table .ui-table-tfoot>tr>td {
        padding: .35em .5em;
    }

    .ui-steps {
        .ui-steps-item {
            float: none;
        }

        &:before {
            border: none;
        }
    }

    .ui-paginator {
        padding: 5px 0;
    }

    .ui-overlaypanel {
        max-width: 25vw;
    }

    .ui-scrollpanel-bar-x {
        display: none;
    }

    .ui-dropdown {
        line-height: normal;
    }

    .ui-sidebar {
        overflow-y: auto;
    }

    .ui-multiselect .ui-multiselect-label {
        padding: .6em 2em .6em .6em;
    }

    p-inputswitch {
        line-height: 0;
    }

    .ui-chips>ul.ui-inputtext {
        width: 100%;
    }

    .ui-button:enabled:focus {
        box-shadow: none;
    }

    .seed-jobs {
        .results {
            .ui-dialog-title {
                font-weight: bold;

                .ui-button.ui-state-default.ui-button-secondary:enabled:focus {
                    box-shadow: none;
                }
            }

            .ui-dialog-content {
                .docker-command {
                    pre {
                        padding: 2px 7px !important;
                        margin: 5px 0 0 0 !important;
                    }
                }
                pre {
                    margin: 14px 0 0 0;
                    border-radius: 0;
                }
            }
        }
    }

    .CodeMirror {
        height: auto;
    }

    .angular-utc-datepicker_button {
        padding: 6px !important;
        border: 1px solid var(--off-white);
        border-radius: 0;
    }

    .angular-utc-datepicker_datepicker .angular-utc-datepicker_calendar-popup .angular-utc-datepicker_day-names .angular-utc-datepicker_name {
        height: 21px !important;
    }
}
