.node__filters {
    button {
        margin-right: 5px;
        padding: 0;
        font-size: 0.8em;
        margin-top: 5px;
    }
}

.node__type-label {
    font-weight: bold;
    font-size: 0.9em;
    margin: 0 7px;
}

.node__collapse {
    font-size: 0.8em;
}

.node__resource-bar {
    position: relative;
    margin: 0 0 5px 0;

    h3 {
        position: absolute;
        top: -13px;
        left: 5px;
        z-index: 1000;
        color: var(--white);
        font-size: 1.1em;
    }
}

.node__errors, .node__warnings {
    cursor: pointer;
    margin-left: 5px;
}

.node__empty-data {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: var(--off-white);
    font-size: 0.9em;
    text-align: center;
    line-height: 1.2em;
}

::ng-deep .nodes__dataview {
    .ui-dataview-header {
        .ui-button-secondary {
            background-color: var(--nova-blue) !important;
            border: 1px solid var(--nova-blue) !important;
            color: var(--white) !important;
        }
    }

    .ui-dataview-content {
        padding-top: 15px !important;
        padding-bottom: 15px !important;
    }

    .ui-panel-titlebar {
        padding: 0.2em 0.5em !important;
    }

    .ui-panel-titlebar-toggler {
        display: none !important;
    }

    .node__paused {
        .ui-panel-titlebar {
            background: var(--label-paused);
            color: var(--white);
        }
    }
}

::ng-deep .node__errors, .node__warnings {
    &.ui-dialog {
        width: 33vw !important;
    }
    .ui-dialog-titlebar {
        color: var(--white) !important;

        .ui-dialog-titlebar-icon {
            color: var(--white) !important;
        }
    }
}

::ng-deep .node__errors {
    .ui-dialog-titlebar {
        background: var(--label-text-danger) !important;
    }
}

::ng-deep .node__warnings {
    .ui-dialog-titlebar {
        background: var(--label-text-warning) !important;
    }
}

// the standard flex containers still break with the node sizes
@media screen and (min-width: 770px) and (max-width: 1127px) {
.responsive__node{
    width: 100% !important;
}
}
