.node__filters {
    button {
        margin-right: 5px;
        padding: 0;
        font-size: 0.8em;
    }
}

.node__type-label {
    font-weight: bold;
    font-size: 0.9em;
    margin: 0 7px;
}

.node__collapse {
    font-size: 0.8em;
}

.node__resource-bar {
    position: relative;
    margin: 0 0 5px 0;

    h3 {
        position: absolute;
        top: -13px;
        left: 5px;
        z-index: 1000;
        color: var(--white);
        font-size: 1.1em;
    }
}

.node__errors, .node__warnings {
    cursor: pointer;
    margin-left: 5px;
}

.node__empty-data {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #777;
    font-size: 0.9em;
    text-align: center;
    line-height: 1.2em;
}
