.nodes__title {
    &.flexed {
        align-items: flex-end;
    }
}

.node__resource-bar {
    position: relative;
    margin: 0 0 5px 0;

    h3 {
        position: absolute;
        top: -13px;
        left: 5px;
        z-index: 1000;
        color: #fff;
        font-size: 1.1em;
    }
}

.node__errors, .node__warnings {
    cursor: pointer;
    margin-left: 5px;
}

.node__empty-data {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #777;
    font-size: 0.9em;
    text-align: center;
}
