@import 'luna-blue.css';

.app {
    background: #222222;
    background-image: linear-gradient(to bottom, #363636, #171717);
    color: #e3e3e3;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1;
    padding: 1.0em 2.0em;
}
