$clr-white: #ffffff;
$clr-gray-98: #f3f3f3;
$clr-gray-95: #ededed;
$clr-gray-90: #e3e3e3;
$clr-gray-85: #d9d9d9;
$clr-gray-80: #cccccc;
$clr-gray-75: #c0c0c0;
$clr-gray-70: #b0b0b0;
$clr-gray-60: #999999;
$clr-gray-50: #808080;
$clr-gray-45: #727272;
$clr-gray-40: #696969;
$clr-gray-30: #4d4d4d;
$clr-gray-20: #363636;
$clr-gray-15: #222222;
$clr-gray-10: #171717;
$clr-black: #000000;

$clr-royal01: #141e30;
$clr-royal02: #243b55;

$clr-aqua: #22dfdf;
$clr-purple: #e395f6;

$clr-blue-lgt: #009ac8;
$clr-blue-med: #1950fb;
$clr-blue-drk: #273662;
$clr-green: #00cd8c;
$clr-orange: #cf6a34;
$clr-red: #fb4719;
$clr-yellow: #fdb813;

$clr-scale-blue1: #48ACFF;
$clr-scale-blue2: #0071BC;
$clr-scale-blue3: #24567F;
$clr-scale-outline: #00141E;

$clr-dark: #202223;
$clr-light: $clr-gray-98;
$clr-highlight: $clr-scale-blue2;

$clr-navbar-light: #2E3F50;
$clr-navbar-dark: #22292E;
$clr-navbar-hover: #293134;
$clr-navbar-text: #fff;

$clr-app-background: #e4e4e4;

$clr-status-good: desaturate(darken(#76a269, 15%), 7%);
$clr-status-error: desaturate(darken(#d66e5b, 25%), 7%);
$clr-status-error-data: $clr-status-error;
$clr-status-error-algorithm: adjust-hue($clr-status-error-data, 20%);
$clr-status-error-system: adjust-hue($clr-status-error-data, 40%);
$clr-status-warn: $clr-status-error-algorithm;
$clr-status-unknown: $clr-gray-20;
$clr-status-completed: $clr-green;
$clr-status-failed: $clr-red;
$clr-status-pending: $clr-purple;
$clr-status-queued: $clr-aqua;
$clr-status-running: $clr-blue-lgt;
$clr-status-blocked: $clr-orange;
$clr-status-canceled: $clr-black;
$clr-failure-system: #67000d;
$clr-failure-algorithm: #cb181d;
$clr-failure-data: #f16913;
$clr-offered: $clr-gray-80;
$clr-free: $clr-status-good;
$clr-unavailable: $clr-failure-system;

$clr-label-text: #fff;
$clr-label-default: #777;
$clr-label-default-hover: #5e5e5e;
$clr-label-primary: #337ab7;
$clr-label-primary-hover: #286090;
$clr-label-success: #5cb85c;
$clr-label-success-hover: #449d44;
$clr-label-info: #5bc0de;
$clr-label-info-hover: #31b0d5;
$clr-label-warning: #f0ad4e;
$clr-label-warning-hover: #ec971f;
$clr-label-danger: #d9534f;
$clr-label-danger-hover: #c9302c;


//--------------------- PrimeNG vars ---------------------//


$fontFamily: 'Roboto', 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
$fontSize: 1em;
$borderRadius: 2px;
$disabledOpacity: 0.35;

// Header
$headerBorderWidth: 1px;
$headerBorderColor: #d9d9d9;
$headerBgColor: #f6f7f9;
$headerTextColor: #1b1d1f;
$headerFontWeight: normal;
$headerIconTextColor: #1b1d1f;

// Content
$contentBorderWidth: 1px;
$contentBorderColor: #D5D5D5;
$contentBgColor: #ffffff;
$contentTextColor: #222222;

// Default State
$stateDefaultBorderWidth: 1px;
$stateDefaultBorderColor: #d6d6d6;
$stateDefaultBgColor: #ffffff;
$stateDefaultTextColor: #555555;

// Active State
$stateActiveBorderColor: #bebebe;
$stateActiveBgColor: #d6d6d6;
$stateActiveTextColor: #212121;

// Highlight State
$stateHighlightBorderColor: #156090;
$stateHighlightBgColor: $clr-scale-blue2;
$stateHighlightTextColor: #FFFFFF;

// Focus State
$stateFocusBorderColor: #c0c0c0;
$stateFocusBgColor: #eeeeee;
$stateFocusTextColor: #212121;

// Error State
$stateErrorBorderColor: #f44336;
$stateErrorBgColor: #f5554a;
$stateErrorTextColor: #cd0a0a;

// Hover State
$stateHoverBorderColor: #c0c0c0;
$stateHoverBgColor: #eeeeee;
$stateHoverTextColor: #212121;

// Forms
$inputBgColor: #ffffff;
$inputTextColor: #222222;
$invalidInputBorderColor: #f44336;
$inputGroupTextColor: #222222;
