.footer {
    background: var(--navbar-dark);
    box-shadow: 0 0 0.5em var(--black);
    margin-top: 2.0em;
    min-height: 35px;
}
.version {
    float: right;
    margin-right: 10px;
    padding-top: 10px;
    color: var(--grey-85);
    padding-bottom: 0;
    margin-bottom: 0;
}
