.footer {
    background: var(--navbar-dark);
    box-shadow: 0 0 0.5em var(--black);
    margin-top: 2.0em;
    min-height: 35px;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 0;
    color: var(--grey-85);
    font-size: 0.9em;

    ul {
        list-style-type: none;
        margin: 0 2.0em 0 0;
        padding: 0;

        li {
            display: inline;
            margin: 0 8px;

            a {
                color: var(--grey-85);
                text-decoration: underline;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}
