.temporal-filter {
    align-items: flex-end;

    div {
        margin-right: 20px;
    }

    .temporal-filter__date-filter-btn, .temporal-filter__date-filter-dropdown {
        padding-top: 0;
        padding-bottom: 0;
    }

    .temporal-filter__date-filter-ranges, .temporal-filter__date-filter-dropdown {
        margin-left: 55px;

        button {
            margin-left: 3px;
        }
    }
    .share_btn{
        margin-left: 10px;
    }

    .live-range-icon {
        margin-left: 5px;
        margin-right: 5px;
    }

    .live-range-inactive {
        color:grey
    }

    .live-range-active {
        animation:greenBlinking 1.5s infinite;
    }

    .live-range-error {
        animation:redBlinking 1.5s infinite;
    }
}

@media screen and (max-width: 858px) {
    .temporal-filter__date-filter-btn, .temporal-filter__date-filter-dropdown, .temporal-filter__date-filter-ranges {
        margin-left: 0 !important;
        padding: 0 !important;
    }

    .temporal-filter__date-filter-dropdown, .temporal-filter__date-filter-btn {
        margin-top: 5px !important;
        margin-right: 5px !important;
    }
}

@keyframes redBlinking{
    0%{     color: #777;    }
    50%{    color: var(--red); }
    100%{   color: #777;    }
}

@keyframes greenBlinking{
    0%{     color: #777;    }
    50%{    color: var(--green); }
    100%{   color: #777;    }
}