::ng-deep .temporalDateFilter table td {
    padding: 0 !important;
}


.temporal-filter {
    align-items: flex-end;

    div {
        margin-right: 20px;
    }

    .ui-inputgroup {
        transition: box-shadow ease-in-out 200ms;

        &.highlight {
            box-shadow: 0 0 5px var(--scale-primary);
        }

        .ui-inputgroup-addon {
            line-height:  normal;
        }

        ::ng-deep input,
        ::ng-deep .ui-dropdown {
            line-height:  normal;
            border-radius: 0;
            flex: 1 1 auto;
        }
    }

    .temporal-filter__date-filter-btn, .temporal-filter__date-filter-dropdown {
        padding-top: 0;
        padding-bottom: 0;
    }

    &.spaced {
        .temporal-filter__date-filter-ranges, .temporal-filter__date-filter-dropdown {
            margin-left: 55px;

            button {
                margin-left: 3px;
            }
        }
    }
}

@media screen and (max-width: 858px) {
    .temporal-filter__date-filter-btn, .temporal-filter__date-filter-dropdown, .temporal-filter__date-filter-ranges {
        margin-left: 0 !important;
        padding: 0 !important;
    }

    .temporal-filter__date-filter-dropdown, .temporal-filter__date-filter-btn {
        margin-top: 5px !important;
        margin-right: 5px !important;
    }
}
