<div class="temporal-filter flexed">
    <div class="noWrap">
        <label>From:</label>
        <utc-datepicker [date]="started" [button]="true" [format]="dateFormat"
                        (dateChange)="onStartSelect($event)" [ngClass]="applyTxtClass"></utc-datepicker>
    </div>
    <div class="noWrap">
        <label>To:</label>
        <utc-datepicker [date]="ended" [button]="true" [format]="dateFormat"
                        (dateChange)="onEndSelect($event)" [ngClass]="applyTxtClass"></utc-datepicker>
    </div>
    <button pButton class="temporal-filter__date-filter-btn apply-" [ngClass]="applyBtnClass" label="Apply"
            (click)="onDateFilterApply()"></button>

    <div class="temporal-filter__date-filter-dropdown">
        <i class="fa fa-circle live-range-icon" [ngClass]="applyStatusClass"
           [pTooltip]="liveRangeTooltip" tooltipPosition="bottom" placeholder="Bottom"></i>
        <label class="margin-right-sm">Live Range:</label>
        <p-dropdown [options]="dateRangeOptions" [(ngModel)]="selectedDateRange"
                    (onChange)="setDateFilterRange(selectedDateRange.unit, selectedDateRange.range)"
                    [style]="{'width':'150px'}" placeholder="Select..." [showClear]="false" [ngClass]="applyStatusClass">
        </p-dropdown>
    </div>
</div>
