label {
    font-weight: bold;
    display: block;
}
.recipes__header {
        align-items: flex-end;
        margin-bottom: 10px;

        div {
            margin-right: 20px;
        }
}
.recipes__table {
    min-height: 300px;

    .recipe__selected {
        color: #999;
    }
}

@media screen and (max-width: 858px) {
    .recipes__date-filter-btn, .recipes__date-filter-dropdown, .recipes__date-filter-ranges {
        margin-left: 0 !important;
        padding: 0 !important;
    }

    .recipes__date-filter-dropdown, .recipes__date-filter-btn {
        margin-top: 5px !important;
        margin-right: 5px !important;
    }
}
