<h2>Recipes</h2>
<p-dataTable [value]="recipes" [rows]="datatableOptions.rows" [paginator]="true" [sortField]="datatableOptions.sortField"
             [sortOrder]="datatableOptions.sortOrder" [lazy]="true" [totalRecords]="count" (onLazyLoad)="loadData($event)"
             (onFilter)="onFilter($event)">
    <p-column field="recipe_type.title" header="Recipe Type" [filter]="true" filterMatchMode="contains" filterPlaceholder="Search"
              [sortable]="true">
        <ng-template let-col let-recipe="rowData" pTemplate="body">
            <span>{{recipe.recipe_type.title}} {{recipe.recipe_type.version}}</span>
        </ng-template>
    </p-column>
    <p-column field="created" header="Created (Z)" [sortable]="true">
        <ng-template let-col let-recipe="rowData" pTemplate="body">
            <span>{{recipe.created}}</span> <!--TODO: format datetime values -->
        </ng-template>
    </p-column>
    <p-column field="last_modified" header="Last Modified (Z)" [sortable]="true"></p-column>
</p-dataTable>
