@import '../../defaults/colors';

.dashboard {
    .charts {
        width: 100%;
    }

    ::ng-deep .ui-panel {
        margin-bottom: 10px;
    }

    .dashboard__error-charts {
        h4 {
            margin: -10px 0 10px 0;
            text-align: center;
        }
    }
}

.dashboard__item {
    background: $clr-white;
    background-image: linear-gradient(to bottom, $clr-white, $clr-gray-98);
    border-radius: 0.25em;
    box-shadow: 0 0 0.5em $clr-gray-80;
    flex: 1;
    margin: 0.5em 0.25em;
    min-height: 400px;
    padding: 0.5em 1.0em;
}
