::ng-deep body .ui-datatable .ui-datatable-data > tr > td {
    padding: 0 .75em;
}

.ui-grid {
    line-height: normal;
}

.label-container {
    display: flex;
    justify-content: space-between;

    .label {
        text-align: center;
        width: 35px;
        padding: 5px 0 3px 0;
        margin: 0 5px;
    }
}

h4 {
    margin: 2px 0;
}

.fail-rate-container {
    width: 70%;
    display: inline-block;
    min-height: 20px;
    border: 1px solid #ccc;
    position: relative;
    top: 3px;
    overflow: hidden;
    margin: 0 5px 0 0;

    .fail-rate {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        display: inline-block;
        height: 100%;
        padding: 0px;
        font-size: 11px;
        background-color: #aaa;
    }
}

.sortable {
    cursor: pointer;
}
