.strikes__container {
    visibility: hidden;

    &:hover {
        cursor: pointer;

        ::ng-deep .ui-panel-titlebar {
            background: var(--panel-header-hover) !important;
        }
        ::ng-deep .ui-panel-content {
            background: var(--panel-content-hover) !important;
        }
    }
}

.strikes__filter {
    justify-content: flex-end;

    .strikes__filter-input {
        width: 300px;
        font-size: 1.2em;
    }
}

.strikes__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.strikes__details {
    h2 {
        display: inline-block;
    }

    h3 {
        margin: 0 0 5px 0;
        font-size: 1.3em;
    }

    h4 {
        margin-top: 5px;
        font-size: 1.1em;
    }

    p {
        margin-top: 10px;
    }

    dl {
        margin-top: 0;
    }

    label {
        font-weight: bold;
        display: block;
        margin: 0 0 10px 0;

        input, textarea, select {
            display: block;
            width: 100%;
        }
    }

    button, input, optgroup, select, textarea {
        line-height: 1.5em;
    }

    .strikes__title-container {
        padding: 0 5px 0 0;

        .job-type__title {
            margin: 7px 0 0 7px;
            display: block;
        }
    }

    ::ng-deep .ui-treetable {
        thead {
            th {
                text-align: left;
                padding: 5px !important;
            }
        }

        tbody td {
            padding: 5px !important;
        }

        .ui-treetable-data {
            .ui-treetable-child-table-container {
                tbody:nth-child(even) {
                    background-color: var(--white) !important;
                }

                tbody:nth-child(odd) {
                    background-color: var(--grey-95) !important;
                }
            }
        }
    }

    .strikes__controls-btn {
        margin-right: 6px;
    }


    ::ng-deep .ui-scrollpanel {
        border-color: rgba(0, 0, 0, 0.125);
        width: 100%;
        height: 70vh;
    }
}
pre{
    white-space: pre-wrap;       /* Since CSS 2.1 */
                white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
                white-space: -pre-wrap;      /* Opera 4-6 */
                white-space: -o-pre-wrap;
}
.node__filters{
    margin-top: 1em !important;
}

::ng-deep .job-types__dataview {
    .ui-dataview-header {
        .ui-button-secondary {
            background-color: var(--off-white) !important;
            border: 1px solid var(--off-white) !important;
        }
    }

    .ui-dataview-content {
        padding-top: 15px !important;
        padding-bottom: 15px !important;
    }

    .ui-panel-titlebar {
        padding: 0.2em 0.5em !important;
    }
}
