<div class="strikes__header">
    <h2><i class="fa fa-bolt"></i> Strikes</h2>
    <p-dropdown [options]="strikes" [autoWidth]="false" [(ngModel)]="selectedStrike" filter="filter"
                class="strikes__options" [style]="{'width':'300px', 'margin-top':'-10px'}"
                (onChange)="onRowSelect($event)" placeholder="Select..." [showClear]="false"></p-dropdown>
</div>
<hr />
<div class="strikes__details">
    <div class="text-center" *ngIf="!selectedStrike">
        <h3>Select a strike to view its details</h3>
    </div>
    <div *ngIf="selectedStrikeDetail">
        <div class="ui-g">
            <div class="ui-g-12">
                <p-panel>
                    <p-header class="strikes__title">
                        <div>
                            {{ selectedStrikeDetail.title }}
                        </div>
                        <div>
                            <button pButton type="button" class="ui-button-primary" icon="fa fa-edit"
                                    pTooltip="Edit" (click)="onEditClick()"></button>
                        </div>
                    </p-header>
                    <dl>
                        <dt>Description:</dt>
                        <dd>{{ selectedStrikeDetail.description }}</dd>
                        <dt *ngIf="selectedStrikeDetail.job.id">Job:</dt>
                        <dd *ngIf="selectedStrikeDetail.job.id">
                            <a routerLink="/jobs/job/{{ selectedStrikeDetail.job.id }}">
                                <i class="fa"
                                   [innerHtml]="getUnicode(selectedStrikeDetail.job.job_type.icon_code)"></i>
                                View Job Details ({{ selectedStrike.job.status }})
                            </a>
                        </dd>
                        <dt>Created:</dt>
                        <dd>
                            <span [pTooltip]="selectedStrikeDetail.createdTooltip">
                                {{ selectedStrikeDetail.createdDisplay }}
                            </span>
                        </dd>
                        <dt>Last Modified:</dt>
                        <dd>
                            <span [pTooltip]="selectedStrikeDetail.lastModifiedTooltip">
                                {{ selectedStrikeDetail.lastModifiedDisplay }}
                            </span>
                        </dd>
                        <dt>Configuration:</dt>
                        <dd><pre>{{ selectedStrikeDetail.configurationDisplay }}</pre></dd>
                    </dl>
                </p-panel>
            </div>
        </div>
    </div>
</div>
