.strikes__header {
    display: flex;
    align-items: flex-end;

    .strikes__options {
        margin: 0 10px;

        ::ng-deep .ui-dropdown {
            width: 300px;
            min-height: 36px;

            .ui-dropdown-label {
                padding-top: 0.5em;
            }

            .ui-dropdown-trigger {
                padding: 0.25em;
            }
        }
    }

    ::ng-deep .ui-button {
        .ui-button-text {
            padding: 0.529em 1em 0.529em 2em !important;
        }
    }
}

.strikes__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.strikes__details {
    h2 {
        display: inline-block;
    }

    h3 {
        margin: 0 0 5px 0;
        font-size: 1.3em;
    }

    h4 {
        margin-top: 5px;
        font-size: 1.1em;
    }

    p {
        margin-top: 10px;
    }

    dl {
        margin-top: 0;
    }

    label {
        font-weight: bold;
        display: block;
        margin: 0 0 10px 0;

        input, textarea, select {
            display: block;
            width: 100%;
        }
    }

    button, input, optgroup, select, textarea {
        line-height: 1.5em;
    }

    .strikes__title-container {
        padding: 0 5px 0 0;

        .job-type__title {
            margin: 7px 0 0 7px;
            display: block;
        }
    }

    ::ng-deep .ui-treetable {
        thead {
            th {
                text-align: left;
                padding: 5px !important;
            }
        }

        tbody td {
            padding: 5px !important;
        }

        .ui-treetable-data {
            .ui-treetable-child-table-container {
                tbody:nth-child(even) {
                    background-color: #fff !important;
                }

                tbody:nth-child(odd) {
                    background-color: #ededed !important;
                }
            }
        }
    }

    ::ng-deep .ui-scrollpanel {
        border-color: rgba(0, 0, 0, 0.125);
        width: 100%;
        height: 70vh;
    }

    ::ng-deep .ui-panel-primary, .ui-panel-danger {
        .ui-panel-content {
            background-color: #f5f5f5 !important;

            pre {
                background: #fff;
            }
        }
    }
}
pre{
    white-space: pre-wrap;       /* Since CSS 2.1 */
                white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
                white-space: -pre-wrap;      /* Opera 4-6 */
                white-space: -o-pre-wrap;
}
