<div class="strikes-create__container">
    <p-panel *ngIf="strike">
        <p-header class="flexed space-between">
            <div>
                {{ strike.title }}
            </div>
            <div>
                <p-menu #menu [popup]="true" [model]="items" appendTo="body"></p-menu>
                <button pButton type="button" class="ui-button-secondary" icon="fa fa-bars"
                        (click)="menu.toggle($event)"></button>
            </div>
        </p-header>
        <form [formGroup]="createForm">
            <input pInputText formControlName="name" [(ngModel)]="strike.name"/>
            <input pInputText formControlName="title" [(ngModel)]="strike.title"/>
        </form>
    </p-panel>
</div>
