@import '../navbar.component.scss';
@import '../../../defaults/colors';


.gray-subnav {
    background: $clr-gray-85;
    background-image: linear-gradient(to bottom, $clr-gray-90, $clr-gray-80);
    border-bottom: 1px solid $clr-gray-90;
    color: $clr-black;
    
    .subnav__link {
        background: $clr-gray-85;
        color: $clr-highlight;

        &:hover {
            background: $clr-white;
        }
    }
}

.blue-subnav {
    background: $clr-scale-blue2;
    //background-image: linear-gradient(to bottom, $clr-scale-blue1, $clr-scale-blue2);
    border-bottom: 1px solid $clr-gray-90;
    color: $clr-white;

    .subnav__link {
        background: $clr-gray-85;
        color: $clr-highlight;

        &:hover {
            background: $clr-white;
        }
    }
}

.subnav {
    @extend .blue-subnav;

    box-shadow: $navshadow;
    display: flex;
    left: 0;
    min-height: 250px;
    position: absolute;
    right: 0;
    top: $navbar-height - 1px;
    z-index: 100;

    .subnav__header {
        font-size: 32px;
        font-weight: bold;
        padding: 2.0em 1.0em;
        width: 23%;
    }

    .subnav__links {
        flex: 1;
        padding: 2.0em 1.0em;
    }

    .subnav__link {
        border-radius: 0.25em;
        margin: 0.5em 0;
        padding: 0.5em 1.5em;

        &:hover {
        }
    }
}

.subnav.hidden {
    top: -1000px;
}
