@import '../navbar.component.scss';
@import '../../../defaults/colors';


.gray-subnav {
    background: $clr-gray-85;
    background-image: linear-gradient(to bottom, $clr-gray-90, $clr-gray-80);
    border-bottom: 1px solid $clr-gray-90;
    color: $clr-black;

    .subnav__link {
        background: $clr-gray-85;
        color: $clr-highlight;

        &:hover {
            background: $clr-white;
        }
    }
}

.blue-subnav {
    background: $clr-scale-blue2;
    background-image: linear-gradient(to bottom, $clr-scale-blue2, darken($clr-scale-blue2, 3%));
    border-bottom: 1px solid $clr-gray-90;
    color: $clr-white;
    text-shadow: 0 1px 0 $clr-black;

    .subnav__link {
        border-left: 3px solid $clr-navbar-dark;
        color: $clr-white;
        text-decoration: none;

        &:hover {
            background: rgba($clr-white, 0.05);
        }
    }
}

.subnav {
    @extend .blue-subnav;

    box-shadow: $navshadow;
    display: flex;
    min-height: 250px;
    padding: 2.0em 1.5em;

    .subnav__header {
        font-size: 32px;
        font-weight: bold;
        width: 32%;
    }

    .subnav__links {
        display: flex;
        flex: 1;
        flex-direction: column;
        padding: 0;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }
    }

    .subnav__link {
        display: inline-block;
        margin-bottom: 0.35em;
        padding: 0.5em;

        &:hover {
        }
    }
}

.subnav.hidden {
    display: none;
}

.subnav-ctr {
    left: 0;
    position: absolute;
    right: 0;
    top: $navbar-height - 1px;
    transition: all 0.35s ease-out;
    z-index: 100;
}

.subnav-ctr.hidden {
    top: -500px;
}
