<div [class]="getSubnavStyles()">

    <!-- Processing -->
    <div [class]="getSectionStyles('processing')">
        <div class="subnav__header subnav__header-processing">
            <h2><i class="fa fa-cogs"></i> Processing</h2>
        </div>
        <div class="subnav__links">
            <h2>Current Status</h2>
            <div>
                <a pButton label="View Running Jobs" icon="fa-cube" href="/processing/running-jobs"></a>
                <a pButton label="View Running Recipes" icon="fa-cubes" href="/processing/recipes"></a>
            </div>
            <h2>Recent History</h2>
            <div>
                <a pButton label="Jobs" icon="fa-cube" href="/processing/jobs"></a>
                <a pButton label="Job Failure Rates" icon="fa-exclamation-triangle" href="/processing/failure-rates"></a>
            </div>
                <!-- <li>
                    <a class="subnav__link"
                    routerLink="/processing/jobs"
                    (click)="navigate()">
                        <i class="fa fa-cube"></i>
                        View Running Jobs
                    </a>
                </li> -->
        </div>
        <div class="subnav__links">
            <h2>Search for a Job</h2>
            <app-processingform></app-processingform>
        </div>
    </div>


    <!-- Data -->
    <div [class]="getSectionStyles('data')">
        <div class="subnav__header subnav__header-data">
            <h2>Data</h2>
        </div>
        <div class="subnav__links">
            <ul>
                <li><a class="subnav__link"
                       routerLink="/data/sources"
                       (click)="navigate()">Sources</a>
                </li>
                <li><a class="subnav__link"
                       routerLink="/data/metrics"
                       (click)="navigate()">Metrics</a>
                </li>
            </ul>
        </div>
    </div>


    <!-- Configuration -->
    <div [class]="getSectionStyles('configuration')">
        <div class="subnav__header subnav__header-configuration">
            <h2>System Configuration</h2>
        </div>
        <div class="subnav__links">
            <ul>
                <li><a class="subnav__link"
                       routerLink="/configuration/job-types"
                       (click)="navigate()">Job Types</a>
                </li>

                <li><a class="subnav__link"
                       routerLink="/configuration/job-types/import"
                       (click)="navigate()">Import an Algorithm</a>
                </li>

                <li><a class="subnav__link"
                       routerLink="/configuration/recipe-types"
                       (click)="navigate()">Recipe Types</a>
                </li>
            </ul>
        </div>
    </div>
</div>
