@keyframes spin {
    to {
        transform: rotate(1440deg);
    }
}

.jti {
    display: flex;
}

.jti__info {
    flex: 1;
}

.jti__heading {
    font-weight: bold;
}

.jti__meta {
    padding: 0.5em;
}

.jti__subheading {
    color: var(--grey-60);
    font-size: 0.75em;
    font-weight: normal;
}

.jti__toolbar {
    padding: 0 0.5em;

    .jti__btn {
        border: 1px solid var(--grey-75);
        border-bottom: none;
        border-radius: 0.35em 0.35em 0 0;
        color: var(--grey-60);
        cursor: pointer;
        display: inline-block;
        font-size: 0.80em;
        margin-right: 0.25em;
        padding: 0 0.5em;

        &:hover {
            background: var(--grey-85);
            color: var(--black);
        }
        &.fav {
            color: var(--nova-blue);
        }
    }
}

.jti__status {
    background: var(--navbar-light);
    color: var(--white);
    position: relative;
    text-align: center;
    width: 64px;
}

.jti__status-good {
    @extend .jti__status;
    background: var(--status-good);
}

.jti__status-warn {
    @extend .jti__status;
    background: var(--status-warn);
}

.jti__status-error {
    @extend .jti__status;
    background: var(--status-error);
}

.jti__status-unknown {
    @extend .jti__status;
    background: var(--status-unknown);
}

.jti__status-icon {
    font-family: 'FontAwesome';
    font-size: 32px;
    font-style: normal;
    left: 12px;
    position: absolute;
    right: 12px;
    top: 24px;
}

.jti__status-isrunning {
    animation: spin 2s infinite cubic-bezier(0.6, 0.2, 0.4, 0.8);
    font-size: 7px;
    line-height: 7px;
    position: absolute;
    right: 3px;
    top: 3px;
}

.jti__status-runningcount {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
}
