@charset 'utf-8';

// Libraries
@import '~normalize.css/normalize';

// Defaults
@import './defaults/animations';
@import './defaults/colors';
@import './defaults/tags';
@import './defaults/typography';

// Overrides
@import './defaults/overrides';

// Components & Pages loaded separately

.text-center {
    text-align: center;
}

.list-unstyled {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.link-button {
    background: $clr-blue-lgt;
    color: $clr-white;
    padding: 7px;
    border-radius: 3px;
    text-decoration: none;
}

.table {
    width: 100%;

    tbody td {
        padding: 5px;
    }
}

.table-striped {
    tbody tr:nth-child(odd) {
        background-color: $clr-white;
    }
}
