<h2>Metrics</h2>
<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
    <div class="ui-grid-row">
        <div class="ui-grid-col-3">
            <label>From</label>
            <utc-datepicker [date]="started" [button]="true" (dateChange)="onStartSelect($event)"></utc-datepicker>
            <label>To</label>
            <utc-datepicker [date]="ended" [button]="true" (dateChange)="onEndSelect($event)"></utc-datepicker>
            <label>Data Source</label>
            <p-dropdown [options]="availableDataTypes" [(ngModel)]="selectedDataType" (onChange)="changeDataTypeSelection()"
                        [autoWidth]="false" placeholder="Select..."></p-dropdown>
            <div *ngIf="filteredChoicesOptions.length > 0">
                <label>{{dataTypeFilterText}}</label>
                <p-multiSelect [options]="filteredChoicesOptions" [(ngModel)]="filtersApplied"></p-multiSelect>
                To view an aggregate count for the data source, leave this filter unselected.
            </div>
            <div *ngIf="columns.length > 0">
                <label>Available Metrics</label>
                <p-dropdown [options]="metricOptions" [(ngModel)]="selectedMetric" [autoWidth]="false" placeholder="Select..."></p-dropdown>
            </div>
            <button pButton icon="fa-refresh" label="Update Chart" (click)="updateChart()"
                    [disabled]="!selectedMetric"></button>
        </div>
        <div class="ui-grid-col-9">
            <p-chart type="bar" [data]="data" [options]="options" *ngIf="data.datasets.length > 0"></p-chart>
        </div>
    </div>
</div>
