::ng-deep .metricsDateFilter {
    z-index: 10022000 !important;

    table td {
        padding: 0 !important;
    }
}

.metrics__container {
    min-height: 85vh;

    label {
        display: block;
        font-weight: bold;
        margin: 15px 0 0 0;
    }

    button {
        margin: 15px 0;
    }

    .metrics__filter-toggle {
        position: fixed;
        top: 130px;
        left: 0;
        height: 120px;
        width: 30px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .metrics__filter-loading {
        text-align: center;
        margin: 15px 0 0 0;
    }

    ::ng-deep canvas {
        margin-top: -39px;
    }

    ::ng-deep .ui-sidebar {
        overflow-y: auto;
    }

    ::ng-deep .ui-panel {
        margin-top: 15px;

        .ui-panel-content {
            padding: 3px;
        }
    }
}
