<h2><i class="fa fa-bar-chart"></i> Metrics</h2>
<div class="metrics__container">
    <div *ngIf="columns.length === 0">
        Open the <a (click)="showFilters = true">filters dialog</a> to select a data source.
    </div>
    <div [hidden]="!showChart">
        <div class="scale-chart-container">
            <dev-loading-indicator [loading]="chartLoading"></dev-loading-indicator>
            <p-chart #chart type="bar" [data]="data" [options]="options"></p-chart>
        </div>
    </div>

    <button pButton type="button" class="ui-button-primary metrics__filter-toggle" icon="fa fa-filter"
            (click)="showFilters = !showFilters"></button>

    <p-sidebar [(visible)]="showFilters" position="left" [style]="{'width':'25vw'}" [blockScroll]="true"
               baseZIndex="1002">
        <h2>Metrics Filters</h2>
        <label>From</label>
        <utc-datepicker class="noWrap" [date]="started" [button]="true" (dateChange)="onStartSelect($event)">
        </utc-datepicker>
        <label>To</label>
        <utc-datepicker class="noWrap" [date]="ended" [button]="true" (dateChange)="onEndSelect($event)">
        </utc-datepicker>
        <label class="required">Data Source</label>
        <div class="metrics__filter-loading" *ngIf="dataTypesLoading">
            <i class="fa fa-circle-o-notch fa-spin"></i>
        </div>
        <p-dropdown [options]="availableDataTypes" [(ngModel)]="selectedDataType" (onChange)="changeDataTypeSelection()"
                    [style]="{'width':'100%'}" placeholder="Select..." *ngIf="!dataTypesLoading" [showClear]="false">
        </p-dropdown>
        <div class="metrics__filter-loading" *ngIf="filteredChoicesLoading">
            <i class="fa fa-circle-o-notch fa-spin"></i>
        </div>
        <div *ngIf="selectedDataType && selectedDataType.name === 'job-types'">
            <label>Recipe Types</label>
            <p-multiSelect [options]="recipeChoicesOptions" [(ngModel)]="recipeChoiceSelected"
                           [style]="{'width':'100%'}" (onChange)="getRecipeJobTypes($event)"></p-multiSelect>
            Select a specific recipe type to view all of its associated job types.
        </div>
        
        <div *ngIf="filteredChoicesOptions.length > 0">
            <label>{{ dataTypeFilterText }}</label>
            <p-multiSelect [options]="filteredChoicesOptions" [(ngModel)]="filtersApplied" (onChange)="primaryColorGenerator()" 
            (onChange)="secondaryColorGenerator()" 
                [style]="{'width':'100%'}"> </p-multiSelect>
            To view an aggregate count for the data source, leave this filter unselected.
        </div>
        <div *ngIf="columns.length > 0">
            <label class="required">Primary Metric</label>
            <p-dropdown [options]="metricOptions" [(ngModel)]="selectedMetric1" [style]="{'width':'100%'}"
                        [showClear]="false"></p-dropdown>
            <div *ngIf="selectedMetric1">
                Custom color selection: <p-checkbox [(ngModel)]="primaryValue" binary="false"></p-checkbox>
                <div *ngIf="filtersApplied.length > 0 && primaryValue == true">
                    <label>Primary Metric Colors:</label>
                    <p *ngFor="let option of primaryColorOptions">
                        <p-colorPicker [(ngModel)]="option.color"></p-colorPicker> {{ option.name }}   {{ option.color }}
                    </p>
                </div>
            </div>
            <label>Secondary Metric</label>
            <p-dropdown [options]="metricOptions" [(ngModel)]="selectedMetric2" [style]="{'width':'100%'}"
                        [showClear]="false"></p-dropdown>
            <div *ngIf="selectedMetric2">
                    Custom color selection: <p-checkbox [(ngModel)]="secondaryValue" binary="false"></p-checkbox>
                    <div *ngIf="filtersApplied.length > 0 && secondaryValue == true">
                            <label>Secondary Metric Colors:</label>
                            <p *ngFor="let option of secondaryColorOptions">
                                <p-colorPicker [(ngModel)]="option.color"></p-colorPicker> {{ option.name }}   {{ option.color }}
                            </p>
                        </div>
            </div>
        </div>
        <label>Primary Metric Display</label>
        <p-dropdown [options]="chartTypes" [(ngModel)]="selectedChartType1" [style]="{'width':'100%'}"
                    [showClear]="false"></p-dropdown>
        <div *ngIf="selectedMetric2">
            <label>Secondary Metric Display</label>
            <p-dropdown [options]="chartTypes" [(ngModel)]="selectedChartType2" [style]="{'width':'100%'}"
                        [showClear]="false"></p-dropdown>
        </div>
        <button pButton icon="fa fa-refresh" label="Update Chart" (click)="updateChart()"
                [disabled]="!selectedMetric1"></button>
    </p-sidebar>
</div>
