h3, h4 {
    margin: 5px 0;
    padding: 0;
}

h3 {
    .link-button {
        font-size: .8em;
        margin-left: 5px;
    }
}

.ui-button {
    display: inline;
    width: auto;
    font-size: .8em;
}
