::ng-deep .node {
    cursor: pointer;
}

.recipe-container {
    h2 {
        margin-bottom: 0;
    }

    border: 1px solid var(--recipe-container-background);
    padding: 0;
    background: var(--recipe-container-border);
}

.recipe__option-list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        padding: 7px;
        border-bottom: 1px solid var(--off-white);

        &.disabled {
            cursor: default;
            color: var(--off-white);
        }

        &:last-of-type {
            border-bottom: none;
        }

        span {
            &:hover {
                cursor: pointer;
                color: var(--scale-secondary-light);
            }
        }
    }
}

.chart-container {
    .node {
        .node__label {
            fill: var(--white);

            .node__icon {
                font-family: FontAwesome;
            }
        }
    }
}

.dialog-content {
    ::ng-deep .ui-datalist {
        margin-bottom: 15px;

        .ui-datalist-content {
            padding: 0;
        }

        .ui-datalist-header {
            padding: 0.25em;
            text-align: left;
        }
    }

    .media-type-list {
        font-style: italic;
    }

    .recipe-io {
        border-bottom: 1px solid var(--grey-95);
        margin: 5px 5px 0 5px;

        button {
            font-size: 9px;
            padding: 0;
            margin-right: 3px;
        }

        &:last-of-type {
            border: none;
        }

        .connections {
            h5 {
                font-size: 0.9em;
                margin: 0;
            }
            li {
                font-size: 0.8em;
            }

            margin: 7px 0;
            padding: 8px 5px 5px 5px;
            background: var(--recipe-connection-background);
            border-radius: 3px;

            .connection {
                display: flex;
                align-items: center;
            }
        }
    }

    .recipe-dependencies-container {
        button {
            font-size: 9px;
            padding: 0;
        }

        ::ng-deep .ui-datalist-content {
            padding-bottom: 15px;
        }

        .recipe-dependencies {
            margin-bottom: -10px;
        }
    }

    .recipe-io-container {
        button {
            font-size: 9px;
            padding: 0;
        }
    }
}

::ng-deep .ui-dialog {
    width: 500px;

    .ui-dialog-content {
        padding: 12px 12px 0 0 !important;
    }
}
