<div class="ui-g" xmlns:svg="http://www.w3.org/1999/html">
    <div class="ui-g-8 ui-lg-9 ui-g-nopad">
        <div class="recipe-container">
            <ngx-graph
                class="chart-container"
                [legend]="showLegend"
                [links]="links"
                [nodes]="nodes"
                [orientation]="orientation"
                [curve]="curve"
                (select)="select($event)">

                <ng-template #defsTemplate>
                    <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">
                        <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
                    </svg:marker>
                </ng-template>

                <ng-template #nodeTemplate let-node>
                    <svg:g class="node">
                        <svg:rect [attr.width]="node.width" [attr.height]="node.height" [attr.fill]="node.fillColor"
                                  [attr.stroke]="node.options.stroke" [attr.stroke-width]="3" [ngClass]="node.class" />
                        <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.height / 1.5" class="node__label">
                            <svg:tspan class="node__icon">{{ node.icon }}</svg:tspan>
                            <svg:tspan class="node__title" dx="5" *ngIf="node.icon">{{ node.label }}</svg:tspan>
                            <svg:tspan class="node__title" dx="0" *ngIf="!node.icon">{{ node.label }}</svg:tspan>
                        </svg:text>
                    </svg:g>
                </ng-template>

                <ng-template #linkTemplate let-link>
                    <svg:g class="edge">
                        <svg:path
                            class="line"
                            stroke-width="2"
                            marker-end="url(#arrow)">
                        </svg:path>
                        <svg:text class="edge-label" text-anchor="middle">
                            <textPath
                                class="text-path"
                                [attr.href]="'#' + link.id"
                                [style.dominant-baseline]="link.dominantBaseline"
                                startOffset="50%">
                                {{ link.label }}
                            </textPath>
                        </svg:text>
                    </svg:g>
                </ng-template>
            </ngx-graph>
        </div>
    </div>
    <div class="ui-g-4 ui-lg-3 ui-g-nopad">
        <div class="job-type-interface" *ngIf="selectedNode && selectedJobType">
            <h4 class="label label-primary">
                {{ selectedJobType.manifest.job.title }} v{{ selectedJobType.manifest.job.jobVersion }}
            </h4>
            <p-dataList [value]="selectedNode.dependencies" [scrollable]="true" scrollHeight="300px"
                        class="recipe-dependencies-container" emptyMessage="None">
                <p-header>
                    <div class="ui-g">
                        <div class="ui-g-10 ui-g-nopad">
                            <strong>Dependencies</strong>
                        </div>
                        <div class="ui-g-2 ui-g-nopad text-right">
                            <button pButton class="ui-button-info" icon="fa fa-plus"
                                    (click)="showDependencyOptions($event)" *ngIf="isEditing"
                                    pTooltip="Add Dependency"></button>
                        </div>
                    </div>
                </p-header>
                <ng-template let-dep pTemplate="item">
                    <div class="ui-g recipe-io recipe-dependencies">
                        <div class="ui-g-12">
                            <button pButton class="ui-button-danger" icon="fa fa-remove" (click)="removeDependency(dep)"
                                    *ngIf="isEditing"></button>
                            {{ dep.name }}
                        </div>
                    </div>
                </ng-template>
            </p-dataList>
            <p-dataList [value]="selectedJobType.manifest.job.interface.inputs" [scrollable]="true" scrollHeight="300px"
                        class="recipe-io-container">
                <p-header>
                    <strong>Inputs</strong>
                </p-header>
                <ng-template let-input pTemplate="item">
                    <div class="recipe-io">
                        <div class="ui-g">
                            <div class="ui-g-10">
                                {{ input.name }} <span *ngIf="input.required">*</span>
                                <ul class="list-unstyled media-type-list">
                                    <li *ngFor="let mediaType of input.media_types">{{ mediaType }}</li>
                                </ul>
                                <div class="connections" *ngIf="input.dependencies && input.dependencies.length > 0">
                                    <h5>Connections</h5>
                                    <ul class="list-unstyled">
                                        <li *ngFor="let dependency of input.dependencies">
                                            <button pButton class="ui-button-danger margin-right-sm" icon="fa fa-remove"
                                                    (click)="removeInputConnection(dependency)" *ngIf="isEditing">
                                            </button>
                                            <strong>{{ dependency.name }}</strong>.<em>{{ dependency.output }}</em>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="ui-g-2 ui-g-nopad text-right">
                                <button pButton class="ui-button-info margin-top-md" icon="fa fa-plus"
                                        (click)="showInputConnections($event, input)" *ngIf="isEditing"
                                        pTooltip="Add Input Connection"></button>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataList>
            <p-dataList [value]="selectedJobType.manifest.job.interface.outputs" [scrollable]="true"
                        scrollHeight="300px" class="recipe-io-container">
                <p-header>
                    <strong>Outputs</strong>
                </p-header>
                <ng-template let-output pTemplate="item">
                    <div class="recipe-io">
                        <div class="ui-g">
                            <div class="ui-g-10">
                                {{ output.name }} <span *ngIf="output.required">*</span>
                                <div class="media-type-list">{{ output.media_type }}</div>
                                <div class="connections" *ngIf="output.dependents && output.dependents.length > 0">
                                    <h5>Connections</h5>
                                    <ul class="list-unstyled">
                                        <li *ngFor="let dependent of output.dependents">
                                            <button pButton class="ui-button-danger margin-right-sm" icon="fa fa-remove"
                                                    (click)="removeOutputConnection(dependent)" *ngIf="isEditing">
                                            </button>
                                            <strong>{{ dependent.name }}</strong>.<em>{{ dependent.input }}</em>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="ui-g-2 ui-g-nopad text-right">
                                <button pButton class="ui-button-info margin-top-md" icon="fa fa-plus"
                                        (click)="showOutputConnections($event, output)" *ngIf="isEditing"
                                        pTooltip="Add Output Connection">
                                </button>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataList>
        </div>
    </div>
</div>
<p-overlayPanel appendTo="body" #dependencyPanel>
    <ul class="recipe__option-list">
        <li *ngFor="let option of dependencyOptions" (click)="addDependency(option)"
            [class]="option.disabled ? 'disabled' : ''">
            <span class="fa fa-fw" [innerHtml]="getUnicode(option.icon_code)"></span>
            {{ option.manifest.job.title }} v{{ option.manifest.job.jobVersion }}
        </li>
    </ul>
</p-overlayPanel>
<p-overlayPanel appendTo="body" #inputPanel>
    <div *ngIf="inputJobs.length === 0">
        <div class="margin-top-sm margin-bottom-sm">No compatible connections found</div>
    </div>
    <div *ngFor="let job of inputJobs">
        <strong>{{ job.title }}</strong>
        <ul class="recipe__option-list">
            <li *ngFor="let option of job.options" (click)="addInputConnection(job.name, job.version, option)"
                [class]="option.disabled ? 'disabled' : ''">
                {{ option.name }}
            </li>
        </ul>
    </div>
</p-overlayPanel>
<p-overlayPanel appendTo="body" #outputPanel>
    <div *ngIf="outputJobs.length === 0">
        <div class="margin-top-sm margin-bottom-sm">No compatible connections found</div>
    </div>
    <div *ngFor="let job of outputJobs">
        <strong>{{ job.title }}</strong>
        <ul class="recipe__option-list">
            <li *ngFor="let option of job.options" (click)="addOutputConnection(job.name, job.version, option)"
                [class]="option.disabled ? 'disabled' : ''">
                {{ option.name }}
            </li>
        </ul>
    </div>
</p-overlayPanel>
