<div class="ui-g" xmlns:svg="http://www.w3.org/1999/html">
    <div class="ui-g-12 ui-g-nopad">
        <div class="recipe-container" [style.minHeight]="minHeight">
            <ngx-graph
                class="chart-container"
                [legend]="showLegend"
                [links]="links"
                [nodes]="nodes"
                [orientation]="orientation"
                [curve]="curve"
                (select)="select($event)">

                <ng-template #defsTemplate>
                    <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">
                        <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
                    </svg:marker>
                </ng-template>

                <ng-template #nodeTemplate let-node>
                    <svg:g class="node" *ngIf="!node.node_type || node.node_type.node_type === 'job'">
                        <svg:rect [attr.width]="node.width" [attr.height]="node.height * 1.15"
                                  [attr.fill]="node.fillColor" [attr.stroke]="node.options.stroke"
                                  [attr.stroke-width]="3" [attr.transform]="node.transform" [ngClass]="node.class"/>
                        <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.height / 1.35"
                                  class="node__label">
                            <svg:tspan class="node__icon">{{ node.icon }}</svg:tspan>
                            <svg:tspan class="node__title" dx="5" *ngIf="node.icon">{{ node.label }}</svg:tspan>
                            <svg:tspan class="node__title" dx="0" *ngIf="!node.icon">{{ node.label }}</svg:tspan>
                        </svg:text>
                    </svg:g>
                    <svg:g class="node"
                           *ngIf="node.node_type && node.node_type.node_type === 'condition'">
                        <!--<svg:path viewBox="0 0 132 132" [attr.width]="132" [attr.height]="132"-->
                                  <!--[attr.fill]="node.fillColor" d="M66 99 L99 66 L66 33 L33 66">-->
                            <!--{{ node.label }}-->
                        <!--</svg:path>-->
                        <!--<svg:text alignment-baseline="central" [attr.x]="60" [attr.y]="node.height / 1.25"-->
                                  <!--class="node__label">-->
                            <!--<svg:tspan class="node__icon">{{ node.icon }}</svg:tspan>-->
                        <!--</svg:text>-->
                        <svg:rect [attr.x]="12" [attr.y]="-10" [attr.width]="42" [attr.height]="42" transform="rotate(45)"
                                  [attr.fill]="node.fillColor" [attr.stroke]="node.options.stroke"
                                  [attr.stroke-width]="3" [ngClass]="node.class"/>
                        <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.height / 1.65"
                                  class="node__label">
                            <svg:tspan class="node__icon">{{ node.icon }}</svg:tspan>
                        </svg:text>
                    </svg:g>
                    <svg:g class="node" *ngIf="node.node_type && node.node_type.node_type === 'recipe'">
                        <svg:rect [attr.x]="-12" [attr.y]="0" [attr.width]="10" [attr.height]="node.height * 1.15"
                                  [attr.fill]="node.fillColor" [attr.stroke]="node.options.stroke"
                                  [attr.stroke-width]="3" [ngClass]="node.class" />
                        <svg:rect [attr.width]="node.width" [attr.height]="node.height * 1.15"
                                  [attr.fill]="node.fillColor" [attr.stroke]="node.options.stroke"
                                  [attr.stroke-width]="3" [ngClass]="node.class"/>
                        <svg:rect [attr.x]="node.width + 2" [attr.y]="0" [attr.width]="10"
                                  [attr.height]="node.height * 1.15" [attr.fill]="node.fillColor"
                                  [attr.stroke]="node.options.stroke" [attr.stroke-width]="3" [ngClass]="node.class" />
                        <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.height / 1.35"
                                  class="node__label">
                            <svg:tspan class="node__icon">{{ node.icon }}</svg:tspan>
                            <svg:tspan class="node__title" dx="5" *ngIf="node.icon">{{ node.label }}</svg:tspan>
                            <svg:tspan class="node__title" dx="0" *ngIf="!node.icon">{{ node.label }}</svg:tspan>
                        </svg:text>
                    </svg:g>
                </ng-template>

                <ng-template #linkTemplate let-link>
                    <svg:g class="edge">
                        <svg:path
                            class="line"
                            stroke-width="2"
                            marker-end="url(#arrow)">
                        </svg:path>
                        <svg:text class="edge-label" text-anchor="middle">
                            <textPath
                                class="text-path"
                                style="fill: #666;"
                                [attr.href]="'#' + link.id"
                                [style.dominant-baseline]="link.dominantBaseline"
                                startOffset="50%">
                                {{ link.label }}
                            </textPath>
                        </svg:text>
                    </svg:g>
                </ng-template>
            </ngx-graph>
        </div>
    </div>
</div>
<p-dialog #recipeDialog [(visible)]="showRecipeDialog" (onHide)="hideDialog()" (onShow)="showDialog()"
          styleClass="recipe-dialog">
    <p-header>
        <span *ngIf="selectedJobType">
            <strong>{{ selectedJobType.title }} v{{ selectedJobType.version }}</strong>
        </span>
        <span *ngIf="selectedRecipeType">
            <strong>{{ selectedRecipeType.title }} rev. {{ selectedRecipeType.revision_num }}</strong>
        </span>
        <span *ngIf="selectedCondition">
            <strong>{{ selectedCondition.name }}</strong>
        </span>
    </p-header>
    <div *ngIf="jobMetrics && metricTotal > 0">
        <div class="dialog-content">
            <p-chart type="bar" [data]="metricData" [options]="chartOptions"></p-chart>
        </div>
    </div>
    <!-- Job node information -->
    <div *ngIf="!hideDetails && selectedJobType">
        <div class="dialog-content" *ngIf="selectedNode && selectedJobType">
            <div *ngIf="!selectedJobType.manifest.seedVersion">
                This job type is not seed compliant.
            </div>
            <div *ngIf="selectedJobType.manifest.seedVersion">
                <p-dataList [value]="selectedNode.dependencies" [scrollable]="true" scrollHeight="300px"
                            class="recipe-dependencies-container" emptyMessage="None">
                    <p-header>
                        <div class="ui-g">
                            <div class="ui-g-10 ui-g-nopad">
                                <strong>Dependencies</strong>
                            </div>
                            <div class="ui-g-2 ui-g-nopad text-right">
                                <button pButton class="ui-button-info" icon="fa fa-plus"
                                        (click)="showDependencyOptions($event)" *ngIf="isEditing"
                                        pTooltip="Add Dependency"></button>
                            </div>
                        </div>
                    </p-header>
                    <ng-template let-dep pTemplate="item">
                        <div class="ui-g recipe-io recipe-dependencies">
                            <div class="ui-g-12 ui-g-nopad">
                                <button pButton class="ui-button-danger" icon="fa fa-remove"
                                        (click)="removeDependency(dep)" *ngIf="isEditing"></button>
                                {{ getNodeTitle(dep.name) }}
                                <span *ngIf="dep.type === 'condition'">({{ dep.acceptance.toString() }})</span>
                            </div>
                        </div>
                    </ng-template>
                </p-dataList>
                <p-dataList [value]="selectedJobType.manifest.job.interface.inputs.files" [scrollable]="true"
                            scrollHeight="300px" class="recipe-io-container">
                    <p-header>
                        <strong>Inputs</strong>
                    </p-header>
                    <ng-template let-input pTemplate="item">
                        <div class="recipe-io">
                            <div class="ui-g">
                                <div class="ui-g-10 ui-g-nopad">
                                    {{ input.name }} <span *ngIf="input.required">*</span>
                                    <ul class="list-unstyled media-type-list">
                                        <li *ngFor="let mediaType of input.mediaTypes">{{ mediaType }}</li>
                                    </ul>
                                    <div class="connections"
                                         *ngIf="selectedNodeConnections && selectedNodeConnections.length > 0">
                                        <h5>Connections</h5>
                                        <ul class="list-unstyled">
                                            <li *ngFor="let connection of selectedNodeConnections" class="connection">
                                                <div>
                                                    <button pButton class="ui-button-danger margin-right-sm" icon="fa fa-remove"
                                                            (click)="removeInputConnection(connection)" *ngIf="isEditing">
                                                    </button>
                                                </div>
                                                <div>
                                                    <strong>{{ connection.name }}</strong>.<em>{{ connection.output }}</em>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="ui-g-2 ui-g-nopad text-right">
                                    <button pButton class="ui-button-info margin-top-md" icon="fa fa-plus"
                                            (click)="showInputConnections($event, input)"
                                            pTooltip="Add Input Connection"
                                            *ngIf="isEditing && input.mediaTypes.length > selectedNodeConnections.length"></button>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-dataList>
            </div>
        </div>
    </div>
    <!-- Recipe node information -->
    <div *ngIf="!hideDetails && selectedRecipeType">
        <div class="dialog-content" *ngIf="selectedNode && selectedRecipeType">
            <p-dataList [value]="selectedNode.dependencies" [scrollable]="true" scrollHeight="300px"
                        class="recipe-dependencies-container" emptyMessage="None">
                <p-header>
                    <div class="ui-g">
                        <div class="ui-g-10 ui-g-nopad">
                            <strong>Dependencies</strong>
                        </div>
                        <div class="ui-g-2 ui-g-nopad text-right">
                            <button pButton class="ui-button-info" icon="fa fa-plus"
                                    (click)="showDependencyOptions($event)" *ngIf="isEditing"
                                    pTooltip="Add Dependency"></button>
                        </div>
                    </div>
                </p-header>
                <ng-template let-dep pTemplate="item">
                    <div class="ui-g recipe-io recipe-dependencies">
                        <div class="ui-g-12 ui-g-nopad">
                            <button pButton class="ui-button-danger" icon="fa fa-remove" (click)="removeDependency(dep)"
                                    *ngIf="isEditing"></button>
                            {{ dep.name }}
                            <span *ngIf="dep.type === 'condition'">({{ dep.acceptance.toString() }})</span>
                        </div>
                    </div>
                </ng-template>
            </p-dataList>
            <p-dataList [value]="selectedRecipeType.definition.input.files" [scrollable]="true"
                        scrollHeight="300px" class="recipe-io-container">
                <p-header>
                    <strong>Inputs</strong>
                </p-header>
                <ng-template let-input pTemplate="item">
                    <div class="recipe-io">
                        <div class="ui-g">
                            <div class="ui-g-10 ui-g-nopad">
                                {{ input.name }} <span *ngIf="input.required">*</span>
                                <ul class="list-unstyled media-type-list">
                                    <li *ngFor="let mediaType of input.media_types">{{ mediaType }}</li>
                                </ul>
                                <div class="connections"
                                     *ngIf="selectedNodeConnections && selectedNodeConnections.length > 0">
                                    <h5>Connections</h5>
                                    <ul class="list-unstyled">
                                        <li *ngFor="let connection of selectedNodeConnections" class="connection">
                                            <div>
                                                <button pButton class="ui-button-danger margin-right-sm" icon="fa fa-remove"
                                                        (click)="removeInputConnection(connection)" *ngIf="isEditing">
                                                </button>
                                            </div>
                                            <div>
                                                <strong>{{ connection.name }}</strong>.<em>{{ connection.output }}</em>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="ui-g-2 ui-g-nopad text-right">
                                <button pButton class="ui-button-info margin-top-md" icon="fa fa-plus"
                                        (click)="showInputConnections($event, input)"
                                        pTooltip="Add Input Connection"
                                        *ngIf="isEditing && input.media_types.length > selectedNodeConnections.length"></button>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataList>
        </div>
    </div>
    <!--Condition node information-->
    <div *ngIf="!hideDetails && selectedCondition">
        <div class="dialog-content" *ngIf="selectedNode && selectedCondition">
            <p-dataList [value]="selectedNode.dependencies" [scrollable]="true" scrollHeight="300px"
                        class="recipe-dependencies-container" emptyMessage="None">
                <p-header>
                    <div class="ui-g">
                        <div class="ui-g-10 ui-g-nopad">
                            <strong>Dependencies</strong>
                        </div>
                        <div class="ui-g-2 ui-g-nopad text-right">
                            <button pButton class="ui-button-info" icon="fa fa-plus"
                                    (click)="showDependencyOptions($event)" *ngIf="isEditing"
                                    pTooltip="Add Dependency"></button>
                        </div>
                    </div>
                </p-header>
                <ng-template let-dep pTemplate="item">
                    <div class="ui-g recipe-io recipe-dependencies">
                        <div class="ui-g-12 ui-g-nopad">
                            <button pButton class="ui-button-danger" icon="fa fa-remove" (click)="removeDependency(dep)"
                                    *ngIf="isEditing"></button>
                            {{ dep.name }}
                        </div>
                    </div>
                </ng-template>
            </p-dataList>
            <p-dataList [value]="selectedCondition.interface.files" [scrollable]="true" scrollHeight="300px"
                        class="recipe-io-container">
                <p-header>
                    <strong>Inputs</strong>
                </p-header>
                <ng-template let-input pTemplate="item">
                    <div class="recipe-io">
                        <div class="ui-g">
                            <div class="ui-g-12 ui-g-nopad">
                                {{ input.name }} <span *ngIf="input.required">*</span>
                                <ul class="list-unstyled media-type-list">
                                    <li *ngFor="let mediaType of input.media_types">{{ mediaType }}</li>
                                </ul>
                                <div class="connections"
                                     *ngIf="selectedNodeConnections && selectedNodeConnections.length > 0">
                                    <h5>Connections</h5>
                                    <ul class="list-unstyled">
                                        <li *ngFor="let connection of selectedNodeConnections">
                                            <div class="connection" *ngIf="connection.output === input.name">
                                                <button pButton class="ui-button-danger margin-right-sm" icon="fa fa-remove"
                                                        (click)="removeInputConnection(connection)" *ngIf="isEditing">
                                                </button>
                                                <strong>{{ connection.name }}</strong>.<em>{{ connection.output }}</em>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataList>
        </div>
    </div>
</p-dialog>
<p-overlayPanel appendTo="body" #dependencyPanel>
    <div *ngIf="dependencyOptions.length === 0">
        <div class="margin-top-sm margin-bottom-sm">No other nodes found</div>
    </div>
    <ul class="recipe__option-list">
        <li *ngFor="let option of dependencyOptions" [ngClass]="option.disabled ? 'disabled' : ''"
            (click)="$event.stopPropagation()">
            <span *ngIf="option.manifest" (click)="addDependency($event, option)">
                <span class="fa fa-fw" [innerHtml]="getUnicode(option.icon_code)"></span>
                {{ option.manifest.job.title }} v{{ option.manifest.job.jobVersion }}
            </span>
            <div class="flexed space-between" *ngIf="option.data_filter">
                <span (click)="addDependency($event, option)">
                    <i class="fa fa-fw fa-adjust"></i>
                    {{ option.name }}
                </span>
                <p-toggleButton [(ngModel)]="option.acceptance" onIcon="fa fa-check" offIcon="fa fa-remove"
                                onLabel="" offLabel="" class="margin-left-md" [style]="{fontSize: '12px'}"
                                [disabled]="option.disabled"
                                [pTooltip]="option.acceptance ? 'Depend on true condition' : 'Depend on false condition'">
                </p-toggleButton>
            </div>
        </li>
    </ul>
</p-overlayPanel>
<p-overlayPanel appendTo="body" #inputPanel>
    <div *ngIf="nodeInputs.length === 0">
        <div class="margin-top-sm margin-bottom-sm">No compatible connections found</div>
    </div>
    <div *ngFor="let input of nodeInputs">
        <strong>{{ input.title }}</strong>
        <ul class="recipe__option-list">
            <li *ngFor="let option of input.options" (click)="addInputConnection(input.name, input.version, option)"
                [class]="option.disabled ? 'disabled' : ''">
                {{ option.name }}
            </li>
        </ul>
    </div>
</p-overlayPanel>
