<div class="ui-g" xmlns:svg="http://www.w3.org/1999/html">
    <div class="ui-g-12 ui-g-nopad">
        <div class="recipe-container">
            <ngx-graph
                class="chart-container"
                [legend]="showLegend"
                [links]="links"
                [nodes]="nodes"
                [orientation]="orientation"
                [curve]="curve"
                (select)="select($event)">

                <ng-template #defsTemplate>
                    <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">
                        <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
                    </svg:marker>
                </ng-template>

                <ng-template #nodeTemplate let-node>
                    <svg:g class="node">
                        <svg:rect [attr.width]="node.width" [attr.height]="node.height" [attr.fill]="node.fillColor"
                                  [attr.stroke]="node.options.stroke" [attr.stroke-width]="3" [ngClass]="node.class" />
                        <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.height / 1.5" class="node__label">
                            <svg:tspan class="node__icon">{{ node.icon }}</svg:tspan>
                            <svg:tspan class="node__title" dx="5" *ngIf="node.icon">{{ node.label }}</svg:tspan>
                            <svg:tspan class="node__title" dx="0" *ngIf="!node.icon">{{ node.label }}</svg:tspan>
                        </svg:text>
                    </svg:g>
                </ng-template>

                <ng-template #linkTemplate let-link>
                    <svg:g class="edge">
                        <svg:path
                            class="line"
                            stroke-width="2"
                            marker-end="url(#arrow)">
                        </svg:path>
                        <svg:text class="edge-label" text-anchor="middle">
                            <textPath
                                class="text-path"
                                style="fill: #666;"
                                [attr.href]="'#' + link.id"
                                [style.dominant-baseline]="link.dominantBaseline"
                                startOffset="50%">
                                {{ link.label }}
                            </textPath>
                        </svg:text>
                    </svg:g>
                </ng-template>
            </ngx-graph>
        </div>
    </div>
</div>
<p-dialog #recipeDialog [(visible)]="selectedNode && selectedJobType" [style]="{'width': '500px'}"
          styleClass="recipe-dialog" (onHide)="hideDialog()" (onShow)="showDialog()">
    <p-header>
        <span *ngIf="selectedNode && selectedJobType">
            <strong>{{ selectedJobType.manifest.job.title }} v{{ selectedJobType.manifest.job.jobVersion }}</strong>
        </span>
    </p-header>
    <div *ngIf="jobMetrics">
        <div class="job-type-content">
            <p-chart type="bar" [data]="metricData" [options]="chartOptions"></p-chart>
        </div>
    </div>
    <div *ngIf="!hideDetails">
        <div class="job-type-content" *ngIf="selectedNode && selectedJobType">
            <p-dataList [value]="selectedNode.dependencies" [scrollable]="true" scrollHeight="300px"
                        class="recipe-dependencies-container" emptyMessage="None">
                <p-header>
                    <div class="ui-g">
                        <div class="ui-g-10 ui-g-nopad">
                            <strong>Dependencies</strong>
                        </div>
                        <div class="ui-g-2 ui-g-nopad text-right">
                            <button pButton class="ui-button-info" icon="fa fa-plus"
                                    (click)="showDependencyOptions($event)" *ngIf="isEditing"
                                    pTooltip="Add Dependency"></button>
                        </div>
                    </div>
                </p-header>
                <ng-template let-dep pTemplate="item">
                    <div class="ui-g recipe-io recipe-dependencies">
                        <div class="ui-g-12 ui-g-nopad">
                            <button pButton class="ui-button-danger" icon="fa fa-remove" (click)="removeDependency(dep)"
                                    *ngIf="isEditing"></button>
                            {{ dep.name }}
                        </div>
                    </div>
                </ng-template>
            </p-dataList>
            <p-dataList [value]="selectedJobType.manifest.job.interface.inputs.files" [scrollable]="true"
                        scrollHeight="300px" class="recipe-io-container">
                <p-header>
                    <strong>Inputs</strong>
                </p-header>
                <ng-template let-input pTemplate="item">
                    <div class="recipe-io">
                        <div class="ui-g">
                            <div class="ui-g-10 ui-g-nopad">
                                {{ input.name }} <span *ngIf="input.required">*</span>
                                <ul class="list-unstyled media-type-list">
                                    <li *ngFor="let mediaType of input.mediaTypes">{{ mediaType }}</li>
                                </ul>
                                <div class="connections"
                                     *ngIf="selectedNodeConnections && selectedNodeConnections.length > 0">
                                    <h5>Connections</h5>
                                    <ul class="list-unstyled">
                                        <li *ngFor="let connection of selectedNodeConnections" class="connection">
                                            <div>
                                                <button pButton class="ui-button-danger margin-right-sm" icon="fa fa-remove"
                                                        (click)="removeInputConnection(connection)" *ngIf="isEditing">
                                                </button>
                                            </div>
                                            <div>
                                                <strong>{{ connection.name }}</strong>.<em>{{ connection.output }}</em>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="ui-g-2 ui-g-nopad text-right">
                                <button pButton class="ui-button-info margin-top-md" icon="fa fa-plus"
                                        (click)="showInputConnections($event, input)" *ngIf="isEditing"
                                        pTooltip="Add Input Connection"></button>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataList>
        </div>
    </div>
</p-dialog>
<p-overlayPanel appendTo="body" #dependencyPanel>
    <ul class="recipe__option-list">
        <li *ngFor="let option of dependencyOptions" (click)="addDependency(option)"
            [class]="option.disabled ? 'disabled' : ''">
            <span class="fa fa-fw" [innerHtml]="getUnicode(option.icon_code)"></span>
            {{ option.manifest.job.title }} v{{ option.manifest.job.jobVersion }}
        </li>
    </ul>
</p-overlayPanel>
<p-overlayPanel appendTo="body" #inputPanel>
    <div *ngIf="inputJobs.length === 0">
        <div class="margin-top-sm margin-bottom-sm">No compatible connections found</div>
    </div>
    <div *ngFor="let job of inputJobs">
        <strong>{{ job.title }}</strong>
        <ul class="recipe__option-list">
            <li *ngFor="let option of job.options" (click)="addInputConnection(job.name, job.version, option)"
                [class]="option.disabled ? 'disabled' : ''">
                {{ option.name }}
            </li>
        </ul>
    </div>
</p-overlayPanel>
